<section class="mid-content">
	<div class="row-fluid">
		<div class="span12">
		  <h3 class="section-title">
			<i class="featured-icon"></i> Featured Local Channels
		  </h3>
		</div>
	</div><!-- /.row-fluid -->
	<div class="row-fluid">
		<div id="carousel-main" class="carousel slide span12">
			<ol class="carousel-indicators no-bullets">
				<li data-target="#carousel-main" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-main" data-slide-to="1"></li>
				<li data-target="#carousel-main" data-slide-to="2"></li>
			</ol><!-- /.carousel-indicators -->
			<!-- Carousel items -->
			<div class="item active">
				<div class="row-fluid carousel-top">
					<div class="module-xlarge span12">
						<div class="module-video">
							<div class="module-overlay">
								<div class="btn-overlay">
									<button class="rebroadcast-btn" type="button" data-toggle="modal" data-target="#rebroadcast-modal">
										<span class="visually-hidden">Rebroadcast This Stream</span>
									</button>
								</div>
								<ul class="specs-stream no-bullets">
									<li class="specs-title"><em class="title">{{stream.title}}</em></li>
									<li class="specs-comments pull-left">
										<i class="icon-comment icon-white"></i>
										<a href="#" title="see comments on this live-stream"> 12</a>
									</li>
									<li class="specs-rebroadcasts pull-left">
										<i class="icon-retweet icon-white"></i>
										<a href="#" title="see rebroadcasts"> 24</a>
									</li>
									<li class="specs-hearts pull-left">
										<i class="icon-heart icon-white"></i>
										<a href="#" title="see who hearts this stream"> 48</a>
									</li>
								</ul><!-- /.specs-stream -->
							</div><!-- /.module-overlay -->
<!-- NOTE FROM CHRIS: replace fake img with commented out anchor. Needs to connect to streaming thing -->
							<img src="http://fakeimg.pl/900x400/?text=ChannelStreamHere"/>
							<!--
<a href="/streams/{{stream.id}}" class="live-stream-link">
								<img ng-src="{{stream.thumbs.large}}"/>
							</a>
-->	
						</div><!-- /.module-video -->
					</div><!-- /.module-xlarge -->
				</div><!-- /.carousel-top -->
				<div class="row-fluid carousel-bottom">
					<ol class="carousel-streams span12">
						<li class="module-mini span2" ng-repeat="stream in streams | limitTo:5">
							<div class="module-video">
								<div class="module-overlay">
									<div class="btn-overlay">
										<button class="rebroadcast-btn" type="button">
											<span class="visually-hidden">Rebroadcast This Stream</span>
										</button>
									</div>
									<ul class="specs-stream no-bullets">
										<li class="specs-title"><em class="title">{{stream.title}}</em></li>
									</ul>
								</div><!-- /.module-overlay -->
								<a href="/streams/{{stream.id}}" class="live-stream-link">
									<img ng-src="{{stream.thumbs.small}}"/>
								</a>
							</div><!-- /.module-video -->
						</li><!-- /.module-mini -->
					</ol><!-- /.carousel-streams -->
				</div><!-- /.carousel-bottom -->
			</div><!-- /.item -->
			<div class="item">content</div>
			<div class="item">content</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#carousel-main" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#carousel-main" data-slide="next">&rsaquo;</a>
		</div><!-- /#carousel-main -->
    </div><!-- /.row-fluid -->
</section><!-- /.mid-content -->

<section class="lower-content stream-area">
<!-- NOTE FROM CHRIS: whenever section has streaming content, add stream-area class. And the hook.js refresh button as in below. -->
	<div class="row-fluid">
		<div class="span12">
			<div class="hook" id="hook">
				<a href="#"><span>refresh</span></a>
			</div>
		</div>
	</div><!-- /.row-fluid -->
	<div class="row-fluid">
		<div class="span12">
			<h3 class="section-title">
				<i class="channel-icon"></i>
				Local Channels
			</h3>
			<ol class="local-row grid-streams no-bullets">	
				<li class="module-large span3" ng-repeat="stream in streams">
					<div ng-include="'/views/snippets/module-large.html'"></div>
				</li><!-- /.module-large -->
			</ol><!-- /.local-row -->
		</div><!-- /.span12 -->
	</div><!-- /.row-fluid -->
</section><!-- /.lower-content -->

<script>
  $(function () {
    $('#filters').collapse({
      toggle: false
    });
    $('#carousel-main').collapse({
      toggle: false
    });
  })
</script>
