<section class="mid-content">
	<div class="row-fluid">
		<div class="span6">
			<h3 class="section-title">
				<i class="featured-icon"></i> Featured Local Channels
			</h3>
		</div>
	</div><!-- /.row-fluid -->
	<div class="row-fluid">
		<div class="span12">
			<div class="carousel-wrapper">
				<div class="row-fluid">
					<div class="module-xlarge span12">
						<div ng-include="'/views/snippets/module-xlarge-channel.html'"></div>
					</div><!-- /.module-xlarge -->
				</div><!-- /.row-fluid -->
				<div class="row-fluid">
					<div class="video-slider span12">
						<a href="#" class="slider-control pull-left span1" title="Previous Streams"><i class="icon-arrow-left"></i><span class="visually-hidden">Previous</span></a>
						<div class="slider-wrapper pull-left span10">
							<div class="row-fluid">
								<div class="span12">
									<ul class="no-bullets">
										<li class="module-mini pull-left span2" ng-repeat="stream in channel.streams | limitTo:20">
											<div ng-include="'/views/snippets/module-mini.html'" ng-click="changeMainStream(stream)"></div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<a href="#" class="slider-control pull-left span1" title="Next Streams"><i class="icon-arrow-right"></i><span class="visually-hidden">Next</span></a>
					</div><!-- /.video-slider -->
				</div><!-- /.row-fluid -->
			</div><!-- /.carousel-wrapper -->
		</div><!-- /.span12 -->
    </div><!-- /.row-fluid -->
</section><!-- /.mid-content -->

<section class="lower-content stream-area">
<!-- NOTE FROM CHRIS: whenever section has streaming content, add stream-area class. And the hook.js refresh button as in below. -->
	<div class="row-fluid">
		<div class="span12">
			<div class="hook" id="hook">
				<a href="#"><span>refresh</span></a>
			</div>
		</div>
	</div><!-- /.row-fluid -->
	<div class="row-fluid">
		<div class="span12">
			<h3 class="section-title">
				<i class="channel-icon"></i>
				Local Channels
			</h3>
		</div><!-- /.span12 -->
	</div><!-- /.row-fluid -->
	<div ng-include="'/views/snippets/tags-list.html'"></div>
</section><!-- /.lower-content -->
