// ------------ VARIABLE CONTROL FILE --------------
// for custom variables, mixins, and the editing of Twitter Bootstrap variables
// many variables have been left as Bootstrap default
// redefining the variables here is not enough to change them, you have to use them w/n main.scss in order for them to reset


// Grid System  ------------------------------
// no overrides have been used

// Grays ------------------------------

$black													: hsla(0,0%,12%,1); /*1F1F1F*/
$grayDarker											: hsla(0,0%,18%,1); /*2E2E2E*/
$grayDark												: hsla(240,1%,31%,1); /*4D4D4F*/
$gray														: hsla(0,0%,60%,1); /*999999*/
$grayLight											: hsla(0,0%,87%,1); /*DEDEDE*/
$grayLighter										: hsla(0,0%,93%,1); /*eee*/
$white													: hsla(0,0%,100%,1); /*FFF*/
$darkTrans											: hsla(0,0%,0%,.5);
$darkTrans2											: hsla(0,0%,0%,.75);

// Brand Colors ------------------------------

$red														: hsla(1,89%,59%,1); /*EF4135*/
$orange													:	hsla(32,100%,61%,1); /*FFA300*/

// Accent Colors ------------------------------

$green													: hsla(156,100%,35%,1); /*00CC7C*/
$yellow													: hsla(41,70%,54%,1); /*DCA938*/
$blue														: hsla(204,56%,34%,1); /*256188*/
$tan														: hsla(25,17%,51%,1); /*977E6B*/
$warmGray1											: hsla(33,12%,82%,1); /*D7D2CB*/
$warmGray4											: hsla(25,10%,68%,1); /*B6ADA5*/
$warmGray7											: hsla(27,8%,55%,1); /*968C83*/
$warmGray11											: hsla(23,10%,39%,1); /*6E6259*/
$beigeLight											: hsla(25,20%,93%,1); /*F1EDEA*/

// Social Media Colors -----------------------

$facebookBlue										: #3B5998;
$twitterBlue										: #3DC7F4;
$whatsappGreen									: #0EA83B;

// Scaffolding ------------------------------

$bodyBackground									: hsla(33,12%,93%,1); /*EDE8E0*/
$bodyBackgroundAccent						: hsla(0,0%,97%,1);
$textColor											: $grayDark;
$textColorAccent								: $red;
$shadowColor										: hsla(23,10%,39%,.7); /*B1A9A5*/
$deepShadow											: rgba(0, 0, 0, 0.5);

// Typography ------------------------------

$sansFontFamily									: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$serifFontFamily								: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$monoFontFamily									: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$baseFontSize	         			   	: 14px;
$baseFontFamily									: $sansFontFamily;
$baseLineHeight									: 20px;
$altFontFamily									: $serifFontFamily;
$headingsFontFamily							: inherit;
$headingsFontWeight							: bold;
$headingsColor									: $grayDarker;
$fontSizeLarge									: $baseFontSize * 1.25;
$fontSizeSmall									: $baseFontSize * .85;
$fontSizeMini										: $baseFontSize * .75;
$paddingLarge										: 11px 19px;
$paddingSmall										: 2px 10px;
$paddingMini										: 1px 6px;
$textOnDark											: $white;
$linkColor											: hsla(33,19%,41%,1); /*7C6A56*/
$linkColorHover									: darken($linkColor, 15%);
$linkColorBackgroundHover				: $grayLighter;
$linkVisited		        				: $orange;
$selectedTextColor							: $textOnDark;
$selectedBackgroundColor				: $red;

// Tables ------------------------------

$tableBackground								: $white;
$tableBackgroundAccent					: $grayDark;
$tableBackgroundHover						: $grayLight;
$tableBorder										: $grayDarker;

// Forms ------------------------------

$placeholderText								: $warmGray7;
$inputBackground								: $white;
$inputBorder										: $warmGray1;
$inputBorderFocus								:	$warmGray7;
$inputBackgroundFocus						: $beigeLight;
$inputDisabledBackground				: $grayLighter;
$btnBackground									:	$beigeLight;
$btnDisabledBackground					:	$grayLighter;
$btnPrimaryBackground						: $orange;
$btnPrimaryBackgroundHighlight	: lighten($btnPrimaryBackground, 10%);
$btnPrimaryBackgroundHover			: $red;
$btnFeatureBackground						: $warmGray11;
$btnAccentColor									: $textOnDark;
$btnAccentBackground						: $warmGray7;

// Forms State & Alerts ------------------------------

$warningText										: $yellow;
$warningBackground							: transparent;
$errorText											: $red;
$errorBackground								: transparent;
$successText										: $green;
$successBackground							: transparent;
$infoText												: $blue;
$infoBackground									: transparent;

// Navbar ------------------------------

$navbarHeight										: 48px;
$navbarBackground								: $white;
$navbarBackgroundHighlight			: transparent;
$navbarText											: $warmGray11;
$navbarBrandColor								: $navbarText;
$navbarLinkColor								: $grayDark;
$navbarLinkColorHover						: $white;
$navbarLinkColorActive					: $grayDark;
$navbarLinkBackgroundHover			: $red;
$navbarSearchBackground					: $beigeLight;
$navbarSearchBackgroundFocus		: $navbarSearchBackground;
$navbarSearchBorder							: darken($navbarSearchBackground, 10%);
$navbarSearchPlaceholderColor		: $placeholderText;
$navbarCollapseWidth						: 979px;
$navbarCollapseDesktopWidth			: $navbarCollapseWidth + 1;

// Dropdowns ------------------------------

$dropdownBackground							: $navbarBackground;
$dropdownBorder									: hsla(0,0%,86%,1); /*#DCDCDC*/
$dropdownLinkColor							: $navbarLinkColor;
$dropdownLinkColorHover					: $navbarLinkColorHover;
$dropdownLinkBackgroundHover		: $navbarLinkBackgroundHover;

// Components ------------------------------

$baseBorderRadius								: 3px;
$borderRadiusLarge							: 6px;
$borderRadiusSmall							: 3px;
$heroUnitBackground							: $grayLighter;
$heroUnitHeadingColor						: inherit;
$heroUnitLeadColor							: inherit;

// Tooltips ------------------------------

$tooltipColor										: $white;
$tooltipBackground							: $red;
$tooltipArrowColor							: $tooltipBackground;

// Global Styling
// ----------------------------------------

$hrColor												: $textColor;
$borderLight										: $grayLight;
$borderDark											: $grayDark;

// Fuctions ------------------------------

@function calculateRem($size) {
  $remSize: $size / 14px;
  @return #{$remSize}rem;
}

// Mixins ------------------------------

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

$public_path: "/";

@mixin vector-bg-with-fallback($name) {
  background-image: url('#{$public_path}images/#{$name}.jpg');
  background-image: none, url('#{$public_path}images/#{$name}.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin baseTransitionIn {
		-webkit-transition: .4s all linear;
		-moz-transition: .4s all linear;
		-o-transition: .4s all linear;
		transition: .4s all linear;
}

@mixin baseTransitionOut {
		-webkit-transition: .4s all linear;
		-moz-transition: .4s all linear;
		-o-transition: .4s all linear;
		transition: .4s all linear;
}

@mixin font-smoothing { /* USE SPARINGLY */
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	@-moz-document url-prefix() {
		text-shadow: 0 0 1px rgba(0,0,0,0.3);
	}
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}