// ------------ VARIABLE CONTROL FILE --------------
// for custom variables, mixins, and the editing of Twitter Bootstrap variables
// many variables have been left as Bootstrap default
// redefining the variables here is not enough to change them, you have to use them w/n main.scss in order for them to reset


// Grid System  ------------------------------
// no overrides have been used

// Grays ------------------------------

$black													: hsla(0,0%,12%,1); /*1F1F1F*/
$grayDarker											: hsla(0,0%,18%,1); /*2E2E2E*/
$grayDark												: hsla(240,1%,31%,1); /*4D4D4F*/
$gray														: hsla(0,0%,60%,1); /*999999*/
$grayLight											: hsla(0,0%,87%,1); /*DEDEDE*/
$grayLighter										: hsla(0,0%,93%,1); /*eee*/
$white													: hsla(0,0%,100%,1); /*FFF*/
$darkTrans											: hsla(0,0%,0%,.5);

// Brand Colors ------------------------------

$red														: hsla(360,100%,50%,1); /*FF0000*/
$redDark												: hsla(358,77%,50%,1); /*E01D25*/
$redDarker											: hsla(355,81%,33%,1); /*9A101C*/
$orange													:	hsla(39,100%,50%,1); /*FFA500*/
$teal														: hsla(193,77%,17%,1); /*0A3E4D*/

// Accent Colors ------------------------------

$green													: hsla(156,100%,35%,1); /*00CC7C*/
$darkOrange											: hsla(16,77%,42%,1); /*BD4519*/
$purple													: hsla(275,63%,37%,1); /*672399*/
$yellow													: hsla(41,70%,54%,1); /*DCA938*/
$blue														: hsla(249,13%,44%,1); /*66627E*/
$paleYellow											: hsla(48,63%,72%,1); /*E4D489*/
$tan														: hsla(37,20%,84%,1); /*DED8CE*/

// Scaffolding ------------------------------

$bodyBackground									: hsla(0,0%,90%,1); /*F0F0F0*/
$textColor											: $grayDark;

// Typography ------------------------------

$sansFontFamily									: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$serifFontFamily								: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$monoFontFamily									: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$baseFontSize	         			   	: 14px;
$baseFontFamily									: "LatoRegular", $sansFontFamily;
$baseLineHeight									: 20px;
$altFontFamily									: $serifFontFamily;
$headingsFontFamily							: inherit;
$headingsFontWeight							: bold;
$headingsColor									: $grayDarker;
$fontSizeLarge									: $baseFontSize * 1.25;
$fontSizeSmall									: $baseFontSize * .85;
$fontSizeMini										: $baseFontSize * .75;
$paddingLarge										: 11px 19px;
$paddingSmall										: 2px 10px;
$paddingMini										: 1px 6px;
$textOnDark											: $white;
$linkColor											: hsla(234,94%,49%,1); /*0720F4*/
$linkColorHover									: darken($linkColor, 15%);
$linkColorBackgroundHover				: $grayLight;
$linkVisited		        				: $orange;
$selectedTextColor							: $textOnDark;
$selectedBackgroundColor				: $purple;

// Tables ------------------------------

$tableBackground								: $white;
$tableBackgroundAccent					: $grayDark;
$tableBackgroundHover						: $grayLight;
$tableBorder										: $grayDarker;

// Forms ------------------------------

$placeholderText								: lighten($textColor, 30%);
$inputBackground								: $white;
$inputBorder										: $grayLight;
$inputBorderRadius							: 0px;
$inputDisabledBackground				: $grayLighter;
$formActionsBackground					: transparent;
$btnPrimaryBackground						: $grayDark;
$btnPrimaryBackgroundHighlight	: darken($grayDark, 10%);

// Forms State & Alerts ------------------------------

$warningText										: $yellow;
$warningBackground							: transparent;
$errorText											: $red;
$errorBackground								: transparent;
$successText										: $green;
$successBackground							: transparent;
$infoText												: $blue;
$infoBackground									: transparent;

// Navbar ------------------------------

$navbarHeight										: 44px;
$navbarBackground								: $white;
$navbarBackgroundHighlight			: transparent;
$navbarText											: $gray;
$navbarBrandColor								: $navbarText;
$navbarLinkColor								: $white;
$navbarLinkColorHover						: $white;
$navbarLinkColorActive					: $grayDark;
$navbarLinkBackgroundHover			: darken($redDark, 20%);
$navbarSearchBackground					: lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus		: $white;
$navbarSearchBorder							: darken($navbarSearchBackground, 75%);
$navbarSearchPlaceholderColor		: $grayLighter;
$navbarCollapseWidth						: 979px;
$navbarCollapseDesktopWidth			: $navbarCollapseWidth + 1;

// Dropdowns ------------------------------

$dropdownBackground							: $white;
$dropdownBorder									: hsla(0%,0%,0%,.2);
$dropdownLinkColor							: $grayDark;
$dropdownLinkColorHover					: $white;
$dropdownLinkBackgroundHover		: $dropdownLinkColor;

// Components ------------------------------

$baseBorderRadius				: 0px;
$borderRadiusLarge				: 6px;
$borderRadiusSmall				: 3px;
$heroUnitBackground				: $grayLighter;
$heroUnitHeadingColor			: inherit;
$heroUnitLeadColor				: inherit;

// Tooltips ------------------------------

$tooltipColor					: $white;
$tooltipBackground				: $purple;
$tooltipArrowColor				: $tooltipBackground;

// Global Styling
// ----------------------------------------

$hrColor						: $textColor;
$borderLight					: lighten($gray, 70%);
$borderDark						: lighten($gray, 40%);

// Fuctions ------------------------------

@function calculateRem($size) {
  $remSize: $size / 14px;
  @return #{$remSize}rem;
}

// Mixins ------------------------------

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

$public_path: "/";

@mixin vector-bg-with-fallback($name) {
  background-image: url('#{$public_path}images/#{$name}.jpg');
  background-image: none, url('#{$public_path}images/#{$name}.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin baseTransitionIn {
		-webkit-transition: .4s all linear;
		-moz-transition: .4s all linear;
		-o-transition: .4s all linear;
		transition: .4s all linear;
}

@mixin baseTransitionOut {
		-webkit-transition: .4s all linear;
		-moz-transition: .4s all linear;
		-o-transition: .4s all linear;
		transition: .4s all linear;
}

@mixin font-smoothing { /* USE SPARINGLY */
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	@-moz-document url-prefix() {
		text-shadow: 0 0 1px rgba(0,0,0,0.3);
	}
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

@mixin link-hover {
	&:hover {
		color: $linkColorHover;
		background-color: $linkColorBackgroundHover;
		background-image: none;
	}
}
