// ------------ FORM FILE --------------
// for forms, buttons, and other interactive elements

form { margin: 0;}

.general-form {
	.user-avatar {
		margin-right: 16px;
		img {
			width: 100px;
			height: 100px;
		}
	}
	.formSuccess {
		color: $successText;
		position: relative;
		top: -30px;
		left: 200px;
	}
	.validate {
		width: 284px;
		margin-top: -32px;
		small { z-index: 1000; position: relative;}
	}
	label { @include fontSize(14px); font-family: $bold-font-stack;}
	input[type="text"], input[type="email"] { color: $gray;}
	.btn-link {
		display: block;
		padding: 0;
		margin-top: 12px;
	}
	&.form-horizontal .controls { margin-left: 90px;}
	&.form-horizontal .control-label { width: 90px; text-align: left;}
	fieldset {
		border: 1px solid hsla(35,13%,82%,1);
		padding: 10px 12px 12px;
		& + fieldset { margin-top: 20px;}
	}
	input[type="checkbox"] { margin: -2px 10px 0 0;}
	textarea { width: 75%;}
}

.form-wrapper.span6 {
	@media screen and (max-width: 700px) { float: none; margin-left: 0;}
	@media screen and (max-width: 600px) { width: 100%;}
	& + .form-wrapper { @media screen and (max-width: 700px){ margin-top: 20px;}}
}

.form-actions {
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: transparent;
	border-top: none;
}

.form-block { margin-left: 10px;}

.fb-label, .twt-label, .gplus-label, .tblr-label {
	@include fontSize(16px);
	height: 26px;
	padding: 8px 0 0 42px;
	margin-bottom: 14px;
	background-repeat: no-repeat;
	background-size: contain;
}

body.base {
	.checkbox.inline:first-of-type { margin-right: 10px;}
	.radio.inline+.radio.inline, .checkbox.inline+.checkbox.inline {
		margin-left: 0;
		margin-right: 10px;
	}
	.btn, btn-small, .btn-mini, .btn-large, input, .input-append input, .input-append .add-on:last-child, .input-append .btn:last-child, .input-prepend .add-on:first-child, .input-prepend .btn:first-child, .modal, table, .table-bordered, .tooltip-inner, .dropdown-menu, textarea, .alert {
		border-radius: $baseBorderRadius;
		-webkit-border-radius: $baseBorderRadius;
	}
	.add-on {
		background-color: $inputBackground;
	}
	.brSmall { border-radius: $borderRadiusSmall;}
	.modal {
		border: 4px solid $white;
		padding: 0 14px 18px;
		@media screen and (max-width: 598px) {
			width: 93%;
			left: 0;
			margin-left: 0;
			border: none;
			&.fade.in { top: 0;}
		}
		h2, h3, h4, h5, h6 { @include font-smoothing;}
		.close {
			color: $warmGray11;
			text-shadow: 0 1px 0 $black;
			margin-top: 10px;
			opacity: .5;
			&:hover { opacity: .7;}
			@media screen and (max-width: 598px) {
				line-height: 30px;
				font-size: 30px;
			}
		}
	}
}

input {
	&:focus:invalid:focus, &:focus:invalid {
		color: $textColor;
		border-color: $inputBorderFocus;
		box-shadow: none;
	}
}

input[type="search"], input[type="text"], input[type="password"], input[type="email"], textarea {
	color: $textColor;
	background-color: $inputBackground;
	border-color: $inputBorder;
	box-shadow: none;
	-webkit-appearance: none;
	@include placeholder { color: $placeholderText;}
	&:focus {
		background-color: $inputBackgroundFocus;
		border-color: $inputBorderFocus;
		box-shadow: none;
	}
}

.input-xxlarge {
	max-width: 516px;
	@media screen and (max-width: 500px) {max-width: 300px;}
}

.add-onClick:hover { background-color: $grayLight;}

.btn {
	color: $textColor;
	@include fontSize(14px);
	font-family: $bold-font-stack;
	text-shadow: none;
	background-color: $btnBackground;
	background-image: none;
	box-shadow: none;
	&:hover {
		color: $white;
		text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
		background-color: $orange;
		border-color: darken($orange, 10%);
		@include font-smoothing;
	}
	&.disabled, &[disabled] {
		color: $gray;
		background-color: $btnDisabledBackground;
		border-color: $gray;
		cursor: not-allowed;
		&:hover, &.btn-primary:hover {
			background-color: $btnDisabledBackground;
			border-color: $gray;
		}
	}
}

.btn-feature {
	color: $textOnDark;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
	background-color: $btnFeatureBackground;
	padding: {left:26px;right:26px;}
	border-color: darken($btnFeatureBackground, 5%);
	@include font-smoothing;
	@media screen and (max-width: 500px) {padding-top: 6px;}
	& + .btn {margin-left: 10px;}
}

.btn-primary {
	color: $white;
	@include fontSize(16px);
	padding: {left:36px;right:36px;}
	background-color: $btnPrimaryBackground;
	border-color: darken($btnPrimaryBackground, 10%);
	@include font-smoothing;
	&:hover {
		background-color: darken($btnPrimaryBackground, 10%);
		border-color: darken($btnPrimaryBackground, 20%);
	}
}

.btn-accent {
	color: $btnFeatureBackground;
	background-color: $btnAccentBackground;
	padding: {left:26px;right:26px;}
	border-color: darken($btnFeatureBackground, 5%);
	@media screen and (max-width: 500px) {padding-top: 6px;}
	@include font-smoothing;
	&:hover {
		background-color: $red;
		border-color: darken($red, 10%);
	}
}

.btn-vj {
	min-width: 56px;
	margin: {top:6px;right:10px;}
	&.vj-on {
		color: $white;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		background-color: $orange;
		border-color: lighten($orange, 10%);
		box-shadow: 1px 1px 1px 0px darken($orange, 5%) inset;
		@include font-smoothing;
		&:hover {
			background-color: lighten($orange, 10%);
			border-color: $orange;
			box-shadow: none;
		}
	}
}

.modal {
	.alert {
		color: $warningText;
		text-align: center;
		text-shadow: none;
		width: 85%;
		margin: 0 auto 15px;
		border: 2px solid $warningText;
		background-color: $white;
		-webkit-border-radius: $baseBorderRadius;
		-moz-border-radius: $baseBorderRadius;
		border-radius: $baseBorderRadius;
		strong {
			font-family: $bold-font-stack;
			font-weight: normal;
		}
		@media screen and (max-width: 500px) {width:75%;}
	}
}

.modal {
	color: $textColor;
	background: $beigeLight url('../images/modal-bg2.svg') top left no-repeat;
	background-size: cover;
	.input-prepend, .input-append { vertical-align: top; margin-right: 10px;}
	a.btn-social {
		color: $white;
		font-family: $bold-font-stack;
		text-align: left;
		text-transform: uppercase;
		margin: 6px 20px 0 0;
		border: { width: 2px; style: solid;}
		background-repeat: no-repeat;
		background-position: 6px 50%;
		background-size: 24px 24px;
		padding: 11px 48px 11px 39px;
		float: left;
		@include font-smoothing;
		@media screen and (max-width: 500px) {
			width: 36px;
			height: 36px;
			padding: 0;
			span { display: none;}
		}
		&:hover { text-decoration: none;}
		&[title*="facebook"] {
			background-image: url('../images/facebook-icon-white.svg');
			background-color: #3B5998; /*facebook blue*/
			border-color: darken(#3B5998, 10%);
			&:hover {
				background-color: darken(#3B5998, 20%);
				border-color: darken(#3B5998, 30%);
			}
		}
		&[title*="twitter"] {
			background-image: url('../images/twitter-icon-white.svg');
			background-color: #3DC7F4; /*twitter blue */
			border-color: darken(#3DC7F4, 10%);
			&:hover {
				background-color: darken(#3DC7F4, 20%);
				border-color: darken(#3DC7F4, 30%);
			}
		}
		&[title*="google"] {
			background-image: url('../images/googleplus-icon-white.svg');
			background-color: #0071D4; /*google blue */
			border-color: darken(#0071D4, 10%);
			&:hover {
				background-color: darken(#0071D4, 20%);
				border-color: darken(#0071D4, 30%);
			}
		}
	}
	h2 { margin-bottom: 8px;}
	h4 { margin: 0 0 3px 0;}
	h6 {
		a { text-decoration: underline;}
		&.return-link {
			margin: { top:-33px; right:40px;}
			float: right;
		}
	}
	form {
		margin: { top: 8px; bottom: 6px;}
		.checkbox-wrapper { margin-bottom: 6px;}
		.checkbox { font-size: 16px; margin-bottom: 4px;}
		.btn-primary {
			margin-bottom: 8px;
			@include font-smoothing();
			&:hover {
				background-color: $red;
				border-color: darken($red, 10%);
			}
		}
		.channel-suggest { margin-top: -7px; margin-bottom: 5px;}
	}
}

.validate {
	color: $white;
	text-align: center;
	margin: 0;
	small { display: block; width: 100%; height: auto; }
	a:link { color: $white; text-decoration: underline;}
	.info { background-color: $infoText;}
	.warning { background-color: $warningText;}
	.error { background-color: $errorText;}
	.success { background-color: $successText;}
}

.network { text-transform: capitalize;}