// ------------ FORM FILE --------------
// for form and interactive elements

.ui-test {
	.row-fluid { border-bottom: 1px dashed green; padding-bottom: 20px; padding-top: 10px;}
	[class*="span"] { outline: 1px dashed red;}
}

/*
.row-fluid {outline: yellow 1px dashed;}
[class*="span"] {outline: aqua 1px dashed;}
*/

body.base {
	.btn {
		color: $textColor;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: none;
		background-color: transparent;
		border: 2px solid $textColor;
		background-image: none;
		box-shadow: none;
		&:hover {
			color: $white;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
			background-color: lighten($orange, 10%);
			border-color: $orange;
			@include font-smoothing;
		}
	}
	.btn-accent:hover {
		background-color: lighten($purple, 10%);
		border-color: $purple;
	}
	.btn-inverse:hover {
		background-color: lighten($grayDarker, 10%);
		border-color: $grayDarker;
	}
	.btn-primary {
		color: $white;
		background-color: $btnPrimaryBackground;
		border-color: $btnPrimaryBackground;
		@include font-smoothing();
		&:hover {
			background-color: darken($btnPrimaryBackground, 10%);
			border-color: darken($btnPrimaryBackground, 20%);
		}
		&.btn-block { height: 46px; font-size: 18px;}
	}
	.btn-large, .btn-primary { padding: 11px 16px 9px 8px;}
	.btn, btn-small, .btn-mini, .btn-large, input, .input-append input, .input-append .add-on:last-child, .input-append .btn:last-child, .input-prepend .add-on:first-child, .input-prepend .btn:first-child, .modal, table, .table-bordered, .tooltip-inner, .dropdown-menu {
		border-radius: $baseBorderRadius;
		-webkit-border-radius: $baseBorderRadius;
	}
	input {
		background-color: $inputBackground;
		border: $inputBorder 2px solid;
		box-shadow: none;
		@include placeholder {
			color: $placeholderText;
			@include fontSize(11px);
		}
		&[class*="span"] { height: 46px;}
	}
	input[type="text"], input[type="search"], input[type="email"], input[type="password"] {
		padding: 11px 16px 9px 8px;
		&:hover {
			border-color: $orange;
			box-shadow: 0 0 0 1px $orange inset;
		}
		&:focus {
			color: $grayDarker;
			background-color: hsla(0,0%,97%,1);
			border-color: $inputBorder;
			box-shadow: 0 0 0 1px $gray inset;
		}
	}
	.input-prepend input { border-left-width: 1px;}
	.input-append input { border-right-width: 1px;}
	.add-on {
		padding-top: 11px;
		padding-bottom: 9px;
		background-color: $inputBackground;
		border: $inputBorder 2px solid;
		&:first-child { border-right: none;}
		&:last-child { border-left: none;}
		&[class*="span"] { height: 46px;}
	}
	.form-search {
		.input-prepend { margin-right: 14px;}
		.input-prepend + button[type="submit"] { margin-top: -1px;}
		input[type="search"] { width: 326px;}
	}
	.default-wrapper {
		.btn {
			color: $white;
			font-weight: bold;
			text-transform: uppercase;
			background-color: hsla(0,0%,0%,.5);
			border: 2px solid $white;
			@include font-smoothing();
		}
		.form-search {
			margin-top: 63px;
			input, .add-on, button { padding: 14px 16px 12px 8px;}
		}
	}
	.action-left .btn-small {
		&:first-of-type {
			margin-right: 14px;
			&:hover {
				color: $white;
				background-color: lighten($orange, 10%);
				border-color: $orange;
				@include font-smoothing;
			}
		}
		&:last-of-type {
			&:hover {
				color: $white;
				background-color: lighten($purple, 10%);
				border-color: $purple;
				@include font-smoothing;
			}
		}
	}
}

.action-sub {
	.social-list {
		a {
			width: 27px;
			height: 27px;
			background-repeat: none;
			background-position: center center;
			background-size: cover;
			display: block;
			&[title*="facebook"] {background-image: url('../images/facebook-icon.svg');}
			&[title*="twitter"] {background-image: url('../images/twitter-icon.svg');}
			&[title*="google plus"] {background-image: url('../images/googleplus-icon.svg');}
			&[title*="tumblr"] {background-image: url('../images/tumblr-icon.svg');}

		}
	}
}

.modal {
	@include fontSize(14px);
	text-align: left;
	h3, a {color:$grayDarker;}
	h3 {@include fontSize(26px);}
	h4 {margin: 0 0 20px 0;}
	.input-prepend, .input-append, .btn, .btn-social { display: block; margin-bottom: 10px;}
	.modal-header {border-bottom: none;}
	.modal-body {padding-bottom: 0;}
	.modal-footer {
		text-align: left;
		background-color: transparent;
		border-top: none;
		box-shadow: none;
	}
	.modal-right {
		border-left: 1px solid $gray;
		margin-left: 14px;
		padding-left: 16px;
	}
	a.btn-social {
		font-weight: bold;
		text-transform: uppercase;
		background-color: $white;
		border: {
			width: 2px;
			style: solid;
		}
		padding: 4px 12px 4px 6px;
		@include font-smoothing();
		&[title*="facebook"] {
			color: hsla(221,44%,41%,1) !important; /*facebook blue*/
			border-color: hsla(221,44%,41%,1) !important ;
		}
		&[title*="twitter"] {
			color: hsla(195,89%,60%,1)!important; /*twitter blue */
			border-color: hsla(195,89%,60%,1) !important;
		}
		&[title*="google"] {
			color: hsla(207,100%,42%,1) !important; /*google blue */
			border-color: hsla(207,100%,42%,1) !important;
		}
		i[class*="facebook"],i[class*="twitter"],i[class*="google"] {
			width: 20px;
			height: 20px;
			background-repeat: none;
			background-position: center center;
			background-size: contain;
			margin-right: 10px;
		}
		i[class*="facebook"] { background-image: url('../images/facebook-icon.svg');}
		i[class*="twitter"] { background-image: url('../images/twitter-icon.svg');}
		i[class*="google"] { background-image: url('../images/googleplus-icon.svg');}
	}
}

.alert {
	color: $warningText;
	background-color: $warningBackground;
	border: 1px solid $warningText;
}