// ------------ FORM FILE --------------
// for forms, buttons, and other interactive elements

form { margin: 0;}

body.base {
	.btn {
		color: $textColor;
		@include fontSize(14px);
		font-family: "OpenSansBold", $bold-font-stack;
		text-transform: uppercase;
		text-shadow: none;
		background-color: transparent;
		border: 2px solid $textColor;
		background-image: none;
		box-shadow: none;
		&:hover {
			color: $white;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
			background-color: lighten($orange, 10%);
			border-color: $orange;
			@include font-smoothing;
		}
	}
	.btn-accent:hover {
		background-color: lighten($purple, 10%);
		border-color: $purple;
	}
	.btn-inverse:hover {
		background-color: lighten($grayDarker, 10%);
		border-color: $grayDarker;
	}
	.btn-primary {
		color: $white;
		background-color: $btnPrimaryBackground;
		border-color: darken($btnPrimaryBackground, 10%);
		@include font-smoothing;
		&:hover {
			background-color: darken($btnPrimaryBackground, 10%);
			border-color: darken($btnPrimaryBackground, 20%);
		}
	}
	.btn-vj {
		min-width: 56px;
		margin: {top:6px;right:6px;}
		&.vj-on {
			color: $white;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
			background-color: $orange;
			border-color: lighten($orange, 10%);
			box-shadow: 1px 1px 1px 0px darken($orange, 5%) inset;
			@include font-smoothing;
			&:hover {
				background-color: lighten($orange, 10%);
				border-color: $orange;
				box-shadow: none;
			}
		}
	}
	.btn-large, .btn-primary { padding: 11px 16px 9px 16px;}
	.btn-xlarge { padding: 11px 48px 11px 39px; @include fontSize(14px);}
	.btn, btn-small, .btn-mini, .btn-large, input, .input-append input, .input-append .add-on:last-child, .input-append .btn:last-child, .input-prepend .add-on:first-child, .input-prepend .btn:first-child, .modal, table, .table-bordered, .tooltip-inner, .dropdown-menu {
		border-radius: $baseBorderRadius;
		-webkit-border-radius: $baseBorderRadius;
	}
	input {
		background-color: $inputBackground;
		border: $inputBorder 2px solid;
		box-shadow: none;
		@include placeholder {
			color: $placeholderText;
			@include fontSize(12px);
		}
		&[class*="span"] { height: 46px;}
	}
	input[type="text"], input[type="search"], input[type="email"], input[type="password"] {
		padding: 11px 16px 9px 8px;
		-webkit-appearance: none;
		&:hover {
			border-color: $orange;
			box-shadow: 0 0 0 1px $orange inset;
		}
		&:focus {
			color: $grayDarker;
			background-color: hsla(0,0%,97%,1);
			border-color: $inputBorder;
			box-shadow: 0 0 0 1px $gray inset;
		}
	}
	.input-xxlarge { width: 400px;}
	.input-prepend input { border-left-width: 1px;}
	.input-append input { border-right-width: 1px;}
	.add-on {
		padding-top: 11px;
		padding-bottom: 9px;
		background-color: $inputBackground;
		border: $inputBorder 2px solid;
		&:first-child { border-right: none;}
		&:last-child { border-left: none;}
		&[class*="span"] { height: 46px;}
	}
	.add-onClick:hover { background-color: $grayLight;}
	.input-prepend.input-append .btn:last-child {
		background-color: $grayLighter;
		border-color: $inputBorder;
		padding: {
			top: 10px;
			bottom: 10px;
		}
		&:hover, &:focus {
			color: $white;
			background-color: $grayDark;
			@include font-smoothing();
		}
	}
	.default-wrapper {
		.btn {
			color: $white;
			font-family: "OpenSansBold", $bold-font-stack;
			background-color: $darkTrans;
			border: 2px solid $white;
			@include font-smoothing();
			&:hover {
				background-color: $btnPrimaryBackground;
				border-color: darken($btnPrimaryBackground, 10%);
			}
		}
		.action-left, .action-right {
			@media screen and (max-width: 960px) {
				width: 100%;
				margin-left: 0;
				.one-liner { display: inline;}
			}
		}
		.form-search {
			margin-top: 63px;
			float: right;
			@media screen and (max-width: 990px) { margin-top: 20px; float: none;}
			input { padding: 14px 16px 12px 16px;}
			input[type="search"] {
				width: 300px;
				@media screen and (min-width: 1280px) { width: 400px;}
				@media screen and (max-width: 1020px) { width: 300px;}
				@media screen and (max-width: 990px) { width: 220px;}
				@media screen and (max-width: 960px) { width: 300px;}
				@media screen and (max-width: 600px) { width: 270px;}
			}
			.add-on { padding: {top:14px;bottom:12px;}}
			.input-prepend.input-append .btn {
				@include fontSize(20px);
				color: $grayDarker;
				padding: 12px 16px 14px 16px;
				background: lighten($btnPrimaryBackground, 30%);
				&:hover {
					color: $white;
					background-color: $btnPrimaryBackground;
					border-color: darken($btnPrimaryBackground, 10%);
				}
			}
		}
	}
	.action-left .btn-small {
		&:first-of-type {
			margin-right: 14px;
			&:hover {
				color: $white;
				background-color: lighten($orange, 10%);
				border-color: $orange;
				@include font-smoothing;
			}
		}
		&:last-of-type {
			&:hover {
				color: $white;
				background-color: lighten($purple, 10%);
				border-color: $purple;
				@include font-smoothing;
			}
		}
	}
}

.alert {
	color: $warningText;
	text-align: center;
	text-shadow: none;
	width: 85%;
	margin: 0 auto 15px;
	border: 2px solid $warningText;
	background-color: $darkTrans;
	-webkit-border-radius: $baseBorderRadius;
	-moz-border-radius: $baseBorderRadius;
	border-radius: $baseBorderRadius;
	strong {
		font-family: "OpenSansBold", $bold-font-stack;
		font-weight: normal;
	}
}

.golive {
	@media screen and (max-width: 600px) {
		.action-left, .action-right { width: 100%; float: none; margin-left: 0;}
		.action-right {
			form { float: none; position: relative; top: 13px;}
			input[type="text"] {width: 300px;}
		}
	}
}

.modal {
	.input-prepend, .input-append { vertical-align: top; margin-right: 10px;}
	.warning { background-color: $warningText;}
	.error { background-color: $errorText;}
	a { color: $white;}
	a.btn-social {
		font-family: "OpenSansBold", $bold-font-stack;
		text-align: left;
		text-transform: uppercase;
		margin: 6px 20px 0 0;
		border: { width: 2px; style: solid;}
		background-repeat: no-repeat;
		background-position: 6px 50%;
		background-size: 24px 24px;
		padding: 11px 48px 11px 39px;
		float: left;
		@include font-smoothing;
		@media screen and (max-width: 500px) {
			width: 36px;
			height: 36px;
			padding: 0;
			span { display: none;}
		}
		&:hover { text-decoration: none;}
		&[title*="facebook"] {
			background-image: url('../images/facebook-icon-white.svg');
			background-color: #3B5998; /*facebook blue*/
			border-color: darken(#3B5998, 10%);
			&:hover {
				background-color: darken(#3B5998, 20%);
				border-color: darken(#3B5998, 30%);
			}
		}
		&[title*="twitter"] {
			background-image: url('../images/twitter-icon-white.svg');
			background-color: #3DC7F4; /*twitter blue */
			border-color: darken(#3DC7F4, 10%);
			&:hover {
				background-color: darken(#3DC7F4, 20%);
				border-color: darken(#3DC7F4, 30%);
			}
		}
		&[title*="google"] {
			background-image: url('../images/googleplus-icon-white.svg');
			background-color: #0071D4; /*google blue */
			border-color: darken(#0071D4, 10%);
			&:hover {
				background-color: darken(#0071D4, 20%);
				border-color: darken(#0071D4, 30%);
			}
		}
	}
	h2 { margin-bottom: 8px;}
	h4 { margin: 0 0 3px 0;}
	h6 {
		margin: 0 0 0 0;
		a { text-decoration: underline;}
		&.return-link {
			margin: { top:-33px; right:40px;}
			float: right;
		}
	}
	form {
		margin: { top: 8px; bottom: 6px;}
		.checkbox-wrapper { margin-bottom: 6px;}
		.checkbox { font-size: 16px; margin-bottom: 4px;}
		.btn-primary {
			@include fontSize(16px);
			color: $white;
			text-transform: uppercase;
			background-color: $darkTrans;
			border: 2px solid $white;
			margin-bottom: 8px;
			@include font-smoothing();
			&:hover {
				background-color: lighten($purple, 10%);
				border-color: $purple;
			}
		}
	}
}

.validate {
	color: $white;
	text-align: center;
	margin: 0;
	small { display: block; width: 100%; height: auto; padding: 3px 0;}
	a:link { color: $white; text-decoration: underline;}
}

.network { text-transform: capitalize;}