// ------------ BRANDING ELEMENTS FOR PEEPOL.TV --------------

// Brand Colors ------------------------------

$branding-bold			   : hsla(353,96%,54%,1); /*#FA1730*/
$branding-bold-shade	   : hsla(354,82%,49%,1); /*#E4162A*/
$branding-cool 			   : hsla(283,46%,30%,1); /*#5D2A71*/
$branding-warm			   : hsla(4,62%,46%,1); /*#BE362C*/
$base-gray				   : hsla(0,0%,18%,1); /*#2D2D2D*/
$base-gray-shade		   : hsla(206,24%,7%,1); /*#0F1316*/
$base-gray-tint			   : hsla(0,0%,20%,1); /*#343434*/
$bg-color				   : hsla(0,0%,97%,1); /*#F7F7F7*/
$white					   : hsla(0,0%,100%,1); /*#FFF*/

// Typography ------------------------------

$base-font-family          : "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$base-font-size            : 14px;
$base-line-height          : 1.40; 
$font-size-small		   : 0.764em; /*13.752px*/
$font-color                : lighten($base-gray, 40%);
$text-on-dark		  	   : hsla(0,0%,100%,1); /*#FFFFFF*/
$link-color                : inherit; 
$link-hover-color		   : $base-gray;
$link-hover-bg-color       : $bg-color;
$link-visited-color        : inherit;
$selected-font-color       : $text-on-dark;
$selected-background-color : $branding-cool;

// Global Styling
// ----------------------------------------
// Calculate all H# Tags.

// using 1:1.618, Golden Section

h1 {font-size: 2.618em; /*47.123px*/}
h2 {font-size: 2em;} /*36px*/
h3 {font-size: 1.618em;} /*29.124px*/
h4 {font-size: 1.236em;} /*22.250px*/
h5 {font-size: $base-font-size;}
h6 {font-size: $font-size-small;}

h2, h3, h4, h5, h6 {margin-bottom: 10px;}

$hr-color                  : $font-color;
$border-light-color	  	   : lighten($base-gray, 70%);
$border-dark-color         : lighten($base-gray, 40%);

// Mixins ------------------------------

@mixin hover-transition() {
	& {
		-webkit-transition: .3s all linear;
		-moz-transition: .3s all linear;
		-o-transition: .3s all linear;
		transition: .3s all linear;
	}
}

@mixin font-smoothing { /* USE SPARINGLY */
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	@-moz-document url-prefix() {
		text-shadow: 0 0 1px rgba(0,0,0,0.3);
	}	
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}

@mixin link-hover {
	&:hover {
		color: $link-hover-color;
		background-color: $link-hover-bg-color;
		background-image: none;
	}
}

// Global Classes ------------------------------

.no-bullets {
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}