@import "compass_twitter_bootstrap";
@import "ptv-branding";

/*
.mvp {outline:blue solid 1px;}
.deactivated {outline:red dashed 1px;}
.maybe {outline:green dashed 1px;}
.module-outline {outline:fuchsia solid 1px;}
*/

/*
body.base {outline:1px dashed pink;}
.container-fluid {outline: 1px dashed green;}
.row-fluid {outline: 1px dashed blue;}
*/

@include font-face("LatoRegular", '../fonts/lato-reg-webfont');
@include font-face("LatoItalic", '../fonts/lato-regita-webfont');
@include font-face("LatoBlack", '../fonts/lato-bla-webfont');
@include font-face("MissionScript", '../fonts/mission-script-webfont');
@include font-face("HeroLight",'../fonts/hero-light-webfont');
@include font-face("Hero",'../fonts/hero-webfont');

$bold-font-stack: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "TeXGyreHerosBold", "TeXGyreHeros-Bold", "TeXGyreHeros Bold", "Helvetica Bold", "Tahoma Bold", "Arial Bold", sans-serif;

$italic-font-stack: "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "TeXGyreHerosItalic", "TeXGyreHeros-Italic", "TeXGyreHeros Italic", "Helvetica Oblique", "Arial Italic", sans-serif;

$condensed-font-stack: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;

$brush-script-font-stack: Brush Script, "Brush Script", Brush Script MT, "Brush Script MT", Script MT Bold, "Script MT Bold", Gabriola, "Gabriola", Comic Sans MS, "Comic Sans MS", fantasy;

// HEADER SWAP //

.golive-nav { display:none; speak:none;}

.golive .ng-scope > .banner {
	.main-nav {	display:none; speak:none;}
	.golive-nav { display:block; speak:normal;}
}

// BOOTSTRAP OVERRIDES //

body.base {
	color: $font-color;
	font-family: "LatoRegular", $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background-color: $bg-color;
	.btn {text-shadow: none;}
	.btn, input, .input-append input {border-radius: 0;}
	.navbar .nav > li > a {padding: 7px 13px;}
	.navbar .nav > li.lighten > a {
		color:lighten($base-gray, 50%);
		@include link-hover;
	}
	.navbar {
		.navbar-inner {
			background-color: $white;
			background-image: none;
			.brand {
				padding: 0;
				margin: 5px 0 0 29px;
			}
			.nav {width:92%;}
			li.active > a {background-color: $white; box-shadow: none; border-bottom: 3px solid red; padding-bottom: 12px;} /*NEED TO CHANGE THIS LATER*/
			li.golive {float:right;}
			li.dropdown .caret {
				margin: {
						top:8px;
						left:7px;
				}
				border-top-color: lighten($base-gray, 50%);
				border-bottom-color: lighten($base-gray, 50%);
			}
		}
	}
	.container-fluid {
		padding: {
			left: 40px;
			right: 40px;
		}
	}
}

// CUSTOM STYLES //

.banner {
	padding-bottom: 40px;
	.brand img {
		width: 100%;
		max-width: 26px;
		height: auto;
	}
}
.navbar {
	font-size: 1.143em;
	.dropdown-menu {
		padding-bottom: 11px;
		li {
			margin-left: 0px;
			a:hover {@include link-hover;}
		}
	}
	li {margin-left:30px;}
	li.lighten {margin-top: 4px;}
	.golive { /*COMBINE SOME OF THESE STYLES WITH SIMILAR*/
		font-family: "Hero", $condensed-font-stack;
		font-size: 1.286em; /*18px*/
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: $bg-color;
		border-left: 1px solid $border-light-color;
		border-right: 1px solid $border-light-color;
		@include font-smoothing;
		&:hover {
			@include box-shadow(inset 1px 0px 6px 0px hsla(0%, 0%, 0%, 0.25));
		}
		.golive-icon { /*NEED TO CREATE PROGRESSIVE SVG SPRITE*/
			width: 32px;
			height: 32px;
			display: inline-block;
			vertical-align: middle;
			background: url('../images/golive-icon.svg') top left no-repeat;
		}
	}
}
.stream {max-width:150px}
.lower-content {
	margin-top: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.colophon {
	width: 70%;
	margin-top: 50px;
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,.2);
}

.mainWrapper {
	.main {padding: 20px 30px;}
}

.right-col {
	margin-top: 44px; /*not the optimum way of doing this */
	.btn-primary {
		margin-left: 19%;
		width: 66%;
	}
}

.top-content {
	background-color: $white;
	padding: 20px 30px 10px;
	.form-search {
		padding: {
			top:36px;
			left:10px;
		}
	}
	.form-search input[type="search"] {
		width: 438px;
		height: 40px;
		padding: 0 10px;
	}
	.form-search .btn {
		color: $white;
		font-family: "Hero", $condensed-font-stack;
		font-size: 1.286em; /*18px*/
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: left;
		width: 194px;
		height: 42px;
		padding-left: 14px;
		background: $base-gray url('../images/letsgo-icon.svg') top right no-repeat;
		background-size: auto;
		border: none;
		box-shadow: none;
		@include font-smoothing;
	}
	.form-actions {
		padding: 0;
		margin: 0;
		border-top: 0;
		background-color: $white;
	}
	.stream-controls {
		.btn {
			height: 96px;
			i {
				margin-top: 36px;
			}
		}
	}
	.stream-wrapper {
		overflow: hidden;
	}
	.brand img {
		width: 100%;
		max-width: 150px;
		height: auto;
	}
}

.mid-content {
	padding-top: 15px;
	.nav {
		margin-top: 8px;
	}
}

.lower-content {
	padding: {
		top:15px;
		bottom: 30px;
	}
	.row-fluid:first-of-type {
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid rgba(0,0,0,.2)
	}
	article {
		height: 200px; /* sample height remove later */
		padding: {
			top: 10px;
			bottom: 15px;
		}
		border-right: 1px solid rgba(0,0,0,.2);
		&:last-of-type {
			border: none;
		}
	}
}

#map {
  height: 370px;
  width: 100%;
}

.streams {
	width: 1000px;
	height: 105px;
	overflow: hidden;
	li {
		width: 180px;
		margin: {
			bottom: 10px;
			right: 2%;
		}
	}
}

.stream{
  position: relative;

  .title{
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    font-size: 16px;
  }
}

.module {
	margin: {
		top: 20px;
		bottom: 25px;
	}
	.btn-toolbar { /*this is sloppy, clean up later*/
		position: relative;
		bottom: -24px;
		right: -15px;
	}
}