@import "compass";
@import "compass/typography/text/ellipsis";

$iconSpritePath: "../bower_components/bootstrap-sass/img/glyphicons-halflings.png" !default;
$iconWhiteSpritePath: "../bower_components/bootstrap-sass/img/glyphicons-halflings-white.png" !default;

@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "../bower_components/bootstrap-sass/lib/mixins";
@import "control-file"; /*overrides bootstrap variables*/
@import "../bower_components/bootstrap-sass/lib/responsive-navbar"; /*importing responsive partials so that they pick up the new variables from control-file.scss*/
@import "../bower_components/bootstrap-sass/lib/_responsive-utilities";
/* @import "vendor/hook.css"; */

// Fonts ------------------------------
// NOTE FROM CHRIS: please use the fontsize mixin when defining font-size values. It creates REM values (better for responsive) w/a PX fallback.

@include font-face("LatoRegular", '/fonts/lato-reg-webfont');
@include font-face("LatoItalic", '/fonts/lato-regita-webfont');
@include font-face("LatoBold", '/fonts/lato-bol-webfont');
@include font-face("Hero",'/fonts/hero-webfont');
@include font-face("Mission",'/fonts/mission-script-webfont');

$bold-font-stack: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "TeXGyreHerosBold", "TeXGyreHeros-Bold", "TeXGyreHeros Bold", "Helvetica Bold", "Tahoma Bold", "Arial Bold", sans-serif;

$italic-font-stack: "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "TeXGyreHerosItalic", "TeXGyreHeros-Italic", "TeXGyreHeros Italic", "Helvetica Oblique", "Arial Italic", sans-serif;

$condensed-font-stack: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;

@import "forms"; /*imports styles for forms*/

// HEADER SWAP ------------------------------

.golive footer {display: none;}

// Global Styles ------------------------------

/* use fontsize mixin (pixels to rems) to declare font-size values for elements, the styles below will act as a control for scaling up/down */
html {
	font-size: $baseFontSize;
	@media screen and (min-width: 1600px) {font-size: 18px;} /* Large Monitors */
	@media screen and (max-width: 1400px) {font-size: 14px;} /* Small Laptops */
	@media screen and (max-width: 1100px) {font-size: 13px;} /* Tablet Landscape */
}

body.base {
	color: $textColor;
	font-family: "LatoRegular", $baseFontFamily;
	line-height: $baseLineHeight;
	background-color: $bodyBackground;
}

table caption, .visually-hidden {display:none !important;}

[data-icon]:before {
	font-family: "BatchIcons";
	font-style: normal;
	content: attr(data-icon);
	speak: none;
}

.no-bullets {
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

.width-controller {
	max-width: 960px;
	margin: 0 auto;
	@media screen and (max-width: 960px) { max-width: 100%;}
}

.one-liner {display: block;}

.ellipsis { @include ellipsis();}

.hidden-phone {}

// Calculate all H# Tags.

h1 {font-family: "LatoBold", $bold-font-stack; @include fontSize(52.358px);}

// using 1:1.618, Golden Section
h2 {font-family: "LatoBold", $bold-font-stack; @include fontSize(32.360px);}
h3 {@include fontSize(22.652px);}
h4 {@include fontSize(20px);}
h5 {font-size: $baseFontSize;}

h6 {font-size: $fontSizeSmall;}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}
h2, h3, h4, h5, h6 {margin-bottom: 10px;}

a, i, .btn, input {
	@include baseTransitionOut;
	&:hover {@include baseTransitionIn;}
}

// Custom Styles ------------------------------
// includes Bootstrap Overrides

body.base { /*overrides are here */
	input[type="search"] + .add-on {padding: 4px 5px}
	.tooltip {
		&.top .tooltip-arrow {border-top-color: $tooltipArrowColor;}
		&.right .tooltip-arrow {border-right-color: $tooltipArrowColor;}
		&.left .tooltip-arrow {border-left-color: $tooltipArrowColor;}
		&.bottom .tooltip-arrow {border-bottom-color: $tooltipArrowColor;}
	}
	.tooltip-inner {
		color: $tooltipColor;
		background-color: $tooltipBackground;
	}
	.navbar {
		color: $navbarText;
		@include fontSize(14px);
		.span1 {margin-left: 0;}
		.navbar-inner {
			min-height: $navbarHeight;
			padding: {
				left: 70px;
				right: 70px;
			}
			background-color: $navbarBackground;
			background-image: none;
			background-repeat: none;
			border-bottom: 3px solid $orange;
			box-shadow: none;
			@media screen and (max-width: 960px) { padding: {left:0px!important;right:0px!important;}}
			.main-nav-wrapper { padding-left: 20px;}
			.main-nav { float: left;}
			a.brand {
				padding: 0;
				margin: 9px 0 0;
				float: left;
				transition-property: none;
			}
			.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
				background-color: darken($redDark, 10%);
				background-image: none;
			}
			.dropdown-menu > .active > a {
				background: transparent url('../assets/active-page-bg.gif') center bottom repeat-x;
				@media (max-width: $navbarCollapseWidth) {
					background: transparent url('../assets/active-page-bg2.gif') top left repeat-y;
				}
			}
			.dropdown-menu > li.deactivated > a:hover, .dropdown-menu > li.deactivated > a:focus, {
				background-color: transparent;
			}
			.mega-menu {
				width: 100%;
				padding: 0 10px 0 11%;
				border: none;
				background-color: $redDark;
				box-shadow: none;
				top: 39px;
				@include baseTransitionOut;
				@media (max-width: $navbarCollapseWidth) {
					max-width: 200px;
					@include baseTransitionIn;
				}
			}
			.navLink {
				float: left;
				@media (max-width: $navbarCollapseWidth) {
					float: none;
					border-bottom: 1px solid lighten($red, 10%);
				}
				a {
					color:$navbarLinkColor;
					padding: 9px 16px;
					@media (max-width: $navbarCollapseWidth) {
						padding: 12px 16px 12px 10px;
					}
				}
				i[class*="icon"] {
					margin: 2px 7px 0 0;
				}
				&.deactivated {@include opacity(.5);}
			}
			navLink.active {
				background-color: transparent;
				background-image: none;
			}
			.navToggle {
				width: 24px;
				height: 24px;
				margin: 9px 9px 0 0;
				border: none;
				display: block;
				background: url('../images/menu-up-24.svg') top left no-repeat;
				/* @include vector-bg-with-fallback(menu-24); */
				-webkit-transition: none;
				&:hover { background-image: url('../images/menu-hover-24.svg');}
			}
			.submenu {
				list-style-type: none;
				.navLink {
					@include fontSize(12px);
					margin: 5px 0 7px;
					a:hover {text-decoration: none;}
				}
			}
			@media (max-width: $navbarCollapseWidth) {padding: 0 70px;}
		}
	}
	.subnav > li > a:hover {color: hsla(0%,0%,30%,1);}
	.container-fluid {
		padding: {left: 40px;right: 40px;}
		@media screen and (max-width: 960px) { padding: {left:20px;right:20px;}}
		@media screen and (max-width: 500px) { padding: {left:10px;right:10px;}}
	}
	.modal {
		background: url('../images/slide4_a.jpg') top left no-repeat;
		background-size: cover;
		border: 4px solid $white;
		@media screen and (max-width: 500px) { border: none;}
	}
	.top-content .container-fluid { @media screen and (max-width: 500px) {
		padding: {
			left:10px;
			right:10px;
			}
		}
	}
}

i[class*="icon"] {font-style: normal;}

.user-avatar img {
	width: 44px;
	height: 44px;
	background-size: cover;
}

.banner {
	padding-bottom: 40px;
	@media (max-width: $navbarCollapseWidth) {padding-bottom: 0;}
}

.golive-btn {
	padding: 0;
	width: 140px;
	height: 46px;
	background: $white url('/images/golive-btn-up.svg') 0px 0px no-repeat;
	background-size: contain;
	display: block;
	transition-property: none;
	&:hover {
		background-image: url('/images/golive-btn-hover.svg');
		transition-property: none;
	}
	&.onair {
		background-image: url('/images/onair-btn.svg');
	}
}

.modal-backdrop{
  opacity: 0.5 !important;
}

.mainWrapper {
	.main {
		padding: 0 70px 20px;
		border-top: 1px solid $grayLight;
		@media screen and (max-width: 960px) { padding: {left:0;right:0;}}
		/* .width-controller {	@media screen and (max-width: 500px) { padding: {left:10px;right:10px;}}} */
		.mobile-full { @media screen and (max-width: 960px) { padding: {left:0;right:0;}}}
	}
}

body.golive {
	background-color: $grayDarker;
	li.active > a {border: none;padding: none;}
	.navbar .navbar-inner li.active > a {
		background-color: $white;
		box-shadow: none;
		border-bottom: none;
		.golive-btn, .golive-btn.active {
			background-color: $white !important;
		}
	} /*NEED TO CHANGE THIS LATER*/
	.main {
    	margin-top: -14px;
		padding-bottom: 0;

		video {
	      -webkit-transform: rotateY(180deg);
	      -moz-transform: rotateY(180deg);
	      -o-transform: rotateY(180deg);
	      -ms-transform: rotateY(180deg);
	      transform: rotateY(180deg);
	    }
	}
}

.top-content {
	padding: 22px 70px 10px;
	background-color: hsla(0,0%,97%,1);
	@media screen and (max-width: $navbarCollapseWidth) {
		margin-top: -20px;
		padding-top: 13px;
	}
	@media screen and (max-width: 960px) { padding: {left:0;right:0;}}
	&.loggedIn { background-color: hsla(0,0%,97%,1);}
	&.feature {
		background: hsla(0,0%,97%,1) url('/images/slide1.jpg') 0px 7px no-repeat;
		border-bottom: $orange solid 3px;
		padding: {
			top: 40px;
			bottom: 30px;
		}
		@media screen and (max-width: 960px) {
			background-position: 0px 0px;
			padding: {
				top: 20px;
				bottom: 17px;
			}
		}
	}
	h1 {
		color: $white;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		@include font-smoothing();
		line-height: 50px;
		margin-bottom: 24px;
		.one-liner { margin-top: 10px;}
	}
	h4.one-liner {
		font-family: "LatoBold", $bold-font-stack;
	}
	.default-wrapper {
		margin-top: -12px;
		padding-bottom: 10px;
	}
	.loggedin-actions {
		.form-search { margin: {top:0;bottom: 0;}}
		.user-avatar { margin-right: 14px; display: block;}
		.form-search {
			float: right;
			@media screen and (max-width: 560px) { float: none;}
			input[type="search"] {
				width: 300px;
				@media screen and (max-width: 640px) { width: 240px;}
				@media screen and (max-width: 560px) { width: 300px;}
			}
		}
		.action-left, .action-right {
			@media screen and (max-width: 560px) {
				width: 100%;
				margin: {
					left: 0;
					bottom: 10px;
				}
			}
		}
		&.search-view {
			.form-search input[type="search"] {
				@media screen and (max-width: 780px) { width:200px;}
				@media screen and (max-width: 560px) { width:300px;}
			}
			.tabs li {
				@media screen and (max-width: 600px) {
					padding:0;
					font-size: 12px;
				}
				@media screen and (max-width: 560px) {
					padding-left: 5px;
					padding-right: 5px;
					font-size: 14px;
				}
			}
		}
		&.channel-view {
			.form-search input[type="search"] {
				@media screen and (max-width: 840px) { width:200px;}
			}
			.btn-vj { @media screen and (max-width: 560px) { margin-right: 20px;}}
		}
	}
}

.results-item {
	margin-bottom: 20px;
	.module-video { width: 100px;}
	.data-list {
		vertical-align: text-bottom;
		& + li { vertical-align: bottom; margin-bottom: 5px;}
	}
}
.results-item:last-of-type { margin-bottom: 0;}

.mid-content {
	padding-top: 10px;
	.form-geo {
		float: right;
		@media screen and (max-width: 740px) { float: none;}
		input[type="search"] {
			@media screen and (max-width: 500px) { width: 300px;}
		}
	}
	[class*="span"] {
		@media screen and (max-width: 740px){ width: 100%; margin-left: 0;}
	}
	h3 { margin-top: 0;}
	h4 { margin: {top:0px;bottom:20px;}}
	.colRight {
		.well { @media screen and (max-width: 600px){ margin-top: 20px;}}
	}
}

.faux-tabs, .tabs {
	@media screen and (max-width: 740px) { margin-bottom: 10px;}
	li { padding: 0; }
	a {
		color: $gray;
		padding: 5px 7px 5px 0;
		display: block;
		&:hover {
			color: $black;
			text-decoration: none;
			i { opacity: 1;}
		}
		i {
			margin-right: 3px;
			opacity: .6;
		}
	}
	li.active {
		a { color: $black;}
		i { opacity: 1;}
	}
}

.faux-tabs li:first-of-type { margin-right: 10px;}

.tabs { padding-top: 5px;}

.lower-content {
	margin-top: 20px;
	padding-bottom:	30px;
	h4 { margin-top: 0px;}
	/*below fixes grid flow problem with streams*/
	.grid-streams li[class*="module"] {
		margin: {
			top:10px;
			bottom: 50px;
		}
	}
	.row-fluid {margin-bottom: 40px;}
	.row-fluid [class*="span3"] {
		@media screen and (max-width: 760px) {
			width: 31.91%;
			*width: 31.91%;
			/*
width: 48.61878453038674%;
			*width: 48.56559304102504%;
*/
		}
	}
	@media screen and (min-width: 761px) {
		.row-fluid [class*="span3"]:nth-child(4n+1) {margin-left: 0;}
	}
	@media screen and (max-width: 760px) {
		.row-fluid [class*="span3"]:nth-child(3n+1) {margin-left: 0;}
	}
}

.social-list {
	margin: 0;
	padding-top: 5px;
	a {
		width: 34px;
		height: 34px;
		background-repeat: none;
		background-position: center center;
		background-size: cover;
		display: block;
		&[title*="facebook"] {background-image: url('../images/facebook-icon.svg');}
		&[title*="twitter"] {background-image: url('../images/twitter-icon.svg');}
		&[title*="google plus"] {background-image: url('../images/googleplus-icon.svg');}
		&[title*="tumblr"] {background-image: url('../images/tumblr-icon.svg');}

	}
}

.profile-list {
	.user-avatar {
		margin-right: 20px;
		img {
			width: 106px;
			height: 106px;
		}
	}
	h2 { margin: {top:-6px;bottom:5px;}}
	i[class*="icon"], strong { margin-right: 5px;}
	.user-info li { margin-bottom: 3px;}
}

.map-wrapper, .carousel-wrapper, .module-large, .single-stream-wrapper, .tags-wrapper {@include box-shadow(0 1px 2px hsla(0,0%,0%,0.07));}

.map-wrapper {
	background-color: $white;
	padding: 10px 10px 20px;
}

#map {
  height: 600px;
  width: 100%;
}

.subnav {
	outline: 1px solid purple;
	margin-top: 5px;
	li {
		margin-right: 34px;
		display: inline-block;
		&:last-of-type {margin-right: 0px;}
		a {color:$gray;}
		&.active a {
			color: $grayDarker;
			border-bottom: 2px solid $grayDarker;
		}
	}
}

.module-inner {
	padding: 8px 10px 0;
	background-color: $white;
	@media screen and (max-width: 500px) { padding: 0;}
}

.results-item .module-video { outline: black solid 1px;}

.module-video {
	position: relative;
	overflow: hidden; /*needs fallback for IE? */
	.specs-stream {
		width: 98%;
		padding: 5px 10px 7px 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		a {margin-right: 10px;}
	}
	a {	color: #333;}
	.specs-title em {
		font-family: "LatoBold" $bold-font-stack;
		font-style: normal;
		margin-bottom: 5px;
	}
  .specs-thumb {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.module-overlay {
	color: $grayDarker;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include opacity(0);
	z-index:2;
	&:hover {@include opacity(1); cursor: pointer;}
}

.module-outer {
	height: 42px;
	color: $grayDarker;
	padding: 5px 10px 7px 10px;
	background-color: $white;
	@media screen and (max-width: 500px) {
		font-size: 12px;
		padding: 3px 6px 3px 6px;
	}
	a {color:$grayDarker;}
	.thumb-user {
		margin-right: 10px;
		@media screen and (max-width: 500px) { display: none;}
		img {
			width: 42px;
			height: 42px;
		}
	}
}

.module-xlarge {
	padding: 10px 10px 0;
	background-color: $white;
	.module-outer { padding-left: 0px}
}

.module-large {
	.module-overlay {
		background:  hsla(0,0%,100%,.75) url('/images/play-icon-faint.svg') 50% 50% no-repeat;
		background-size: auto;
	}
}

.single-stream-wrapper {
	.module-xlarge {padding-bottom: 20px;}
}

.owl-carousel .item { margin-right: 16px;}

.video-slider {
	padding: 10px 10px 20px;
	background-color: $white;
	.slider-control {
		background-color: $grayLighter;
		text-align: center;
		display: block;
		padding-top: 17px;
		padding-bottom: 17px;
		i {@include opacity(.5);}
		&:hover {
			background-color: darken($grayLighter, 5%);
			i {@include opacity(1);}
		}
	}
	.slider-wrapper {
		max-height: 63px;
		overflow: hidden;
		 ul {
		 	width:100%;
		 	height: auto;
		 }
	}
}

.module-video, .live-stream-link {background-color: $black;}

.btn-overlay {
	left: 0;
	top: 0;
	position: absolute;
	width:100%;
	height: 100%;
	@include opacity(0);
	&:hover {@include opacity(1);}
	button {
		width:32px;
		height: 32px;
		border: none;
		background-image: none;
		@include opacity(.75);
		&:hover {@include opacity(1);}
	}
	button.btn-top {
		background-color: $black;
		margin-left: 3px;
		position: relative;
		z-index: 10;
	}
}

.module-large {
		margin-bottom: 20px;
		button.btn-play { top:33%;}
	}
.module-xlarge button.btn-play { top:10%; height: 70%;}

.spinner-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.spinner-overlay.loading {visibility: visible;}

.spinner {
   height:30px;
   width:30px;
   margin:16% auto 0;
   position:relative;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border:6px solid rgba(255,255,255,.15);
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top:6px solid rgba(255,255,255,.8);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.options-row {
	margin-top: -24px;
	background-color: hsla(0,0%,0%,.5);
	padding-top: 20px;
	form {margin-left: 30px;}
}

.colophon {
	font-size: $fontSizeSmall;
	margin-top: 50px;
	padding: 10px 0 5px;
	border-top: 2px solid $grayDarker;
	background-color: $grayDark;
	a {
		color: hsla(0,0%,45%,1);
		&:hover {color:$white;}
	}
	.footer-copy {margin-left: 30px;}
	.one-liner, .block {display: block;}
}

// MAPBOX ------------------------------

.popup {
    text-align: left;
    .popup-left {
    	width:274px;
    	height:154px;
    	background-color: $grayDarker;
    }
    .popup-right {
    	width:46px;
    	height:154px;
    	background-color: $black;
    }
    /* fix below later */
    .specs-popup {display: none;}
    .thumb-user { margin: 7px 10px 7px 7px;}
	.specs-title {@include fontSize(13px); color: $white;}
	.specs-tags {@include fontSize(11px); color: $grayLighter;}
	.play-btn {
		width: 31px;
		height: 42px;
		background: url('/images/play-icon.svg') top left no-repeat;
		background-size: 100%;
		border: none;
		margin: 58px 0 0 8px;
	}
}
.popup img { width: 100%;}

.hook {
	text-align: center;
	a {
		color: $gray;
		padding: 5px 30px;
		background-color: $grayLight;
		display: inline-block;
		&:hover {
			color: $grayDarker;
			text-decoration: none;
			background-color: darken($grayLight, 5%);
		}
	}
}

/* rule for hiding elements until angular boots*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* @import "mobile-overrides"; */
