@import "compass";
@import "compass/css3";
@import "compass/typography/text/ellipsis";

$iconSpritePath: "../bower_components/bootstrap-sass/img/glyphicons-halflings.png" !default;
$iconWhiteSpritePath: "../bower_components/bootstrap-sass/img/glyphicons-halflings-white.png" !default;

@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "../bower_components/bootstrap-sass/lib/mixins";
@import "control-file"; /*overrides bootstrap variables*/
@import "../bower_components/bootstrap-sass/lib/responsive-navbar"; /*importing responsive partials so that they pick up the new variables from control-file.scss*/
@import "../bower_components/bootstrap-sass/lib/_responsive-utilities";

// Fonts ------------------------------
// NOTE FROM CHRIS: please use the fontsize mixin when defining font-size values. It creates REM values (better for responsive) w/a PX fallback.

$bold-font-stack: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "TeXGyreHerosBold", "TeXGyreHeros-Bold", "TeXGyreHeros Bold", "Helvetica Bold", "Tahoma Bold", "Arial Bold", sans-serif;

$italic-font-stack: "HelveticaNeueItalic", "HelveticaNeue-Italic", "Helvetica Neue Italic", "TeXGyreHerosItalic", "TeXGyreHeros-Italic", "TeXGyreHeros Italic", "Helvetica Oblique", "Arial Italic", sans-serif;

$condensed-font-stack: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;

@import "forms"; /*imports styles for forms*/

// Global Styles ------------------------------

/* use fontsize mixin (pixels to rems) to declare font-size values for elements, the styles below will act as a control for scaling up/down */
html {
	font-size: $baseFontSize;
	@media screen and (min-width: 1600px) {font-size: 18px;} /* Large Monitors */
	@media screen and (max-width: 1400px) {font-size: 14px;} /* Small Laptops */
	@media screen and (max-width: 1100px) {font-size: 13px;} /* Tablet Landscape */
}

body.base {
	color: $textColor;
	font-family: $baseFontFamily;
	line-height: $baseLineHeight;
	background-color: $bodyBackground;
}

table caption, .visually-hidden {display:none !important;}

.no-bullets {
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

.width-controller {
	max-width: 960px;
	margin: 0 auto;
	@media screen and (max-width: 960px) { max-width: 100%;}
}

.one-liner {display: block;}

.ellipsis {	@include ellipsis();}

.pageTop { @media screen and (min-width:600) {visibility: hidden;}}

.back-to-top {
  background: rgba(255,255,255,.5) url('/images/top-icon-24.svg') center center no-repeat;
  border: 1px solid $grayLight;
  padding: 25px 21px 14px;
	position: fixed;
  bottom: -2px;
  right: 14px;
  display: none;
  &:hover { background-color: rgba(135, 135, 135, 0.50); background-image: url('/images/top-icon-wht-24.svg');}
}

// Calculate all H# Tags.

h1 {font-family: $bold-font-stack; @include fontSize(52.358px);}

// using 1:1.618, Golden Section
h2, article h1 {font-family: $bold-font-stack; @include fontSize(32.360px);}
h3, article h2 {@include fontSize(22.652px);}
h4, article h3 {@include fontSize(20px);}
h5, article h4 {font-size: $baseFontSize;}

h6 {font-size: $fontSizeSmall;}

h1, h2, h3, h4, h5, h6 {font-weight: normal;}
h2, h3, h4, h5, h6 {margin-bottom: 10px;}

a, i, .btn, input {
	@include baseTransitionOut;
	&:hover {@include baseTransitionIn;}
}

small {font-size: $fontSizeMini;}

article {
	h1 { margin-bottom: 20px;}
	p + h2 { margin-top: 20px;}
	blockquote { margin-top: 3px; border-left-color: $grayLight;}
}

// Custom Styles ------------------------------
// includes Bootstrap Overrides

.golive footer {display: none;}
.golive {
	.main.goliveMain {
		background: transparent url('/images/golive-action-bg.png') top left repeat-x;
		border: none;
		.golive-view {
			margin-top: 20px;
			.user-avatar {
				margin-right: 10px;
				& + ul { padding-top: 7px;}
			}
			.btn {
				color: $white;
				border-color: $white;
				@include font-smoothing();
			}
		}
		.loggedin-actions .validate { margin-top: -10px;}
	}
	@media screen and (max-width: 979px) {
		.navbar-fixed-top { margin-bottom: 0;}
		.mainWrapper .main.goliveMain .golive-view { margin-top: 15px;}
	}
	@media screen and (max-width: 600px) {
		.main.goliveMain {
			background: transparent url('/images/golive-action-bg2.png') top left repeat-x;
		}
	}
}

body.base { /*overrides are here */
	input[type="search"] + .add-on {padding: 4px 5px}
	.tooltip {
		&.top .tooltip-arrow {border-top-color: $tooltipArrowColor;}
		&.right .tooltip-arrow {border-right-color: $tooltipArrowColor;}
		&.left .tooltip-arrow {border-left-color: $tooltipArrowColor;}
		&.bottom .tooltip-arrow {border-bottom-color: $tooltipArrowColor;}
	}
	.tooltip-inner {
		color: $tooltipColor;
		background-color: $tooltipBackground;
	}
	.navbar {
		color: $navbarText;
		@include fontSize(14px);
		.span1 {margin-left: 0;}
		.navbar-inner {
			min-height: $navbarHeight;
			padding: { left: 70px; right: 70px;}
			background-color: $navbarBackground;
			background-image: none;
			background-repeat: none;
			border-bottom: 3px solid $orange;
			box-shadow: none;
			@media screen and (max-width: 960px) { padding: {left:0px!important;right:0px!important;}}
			@media (max-width: $navbarCollapseWidth) {padding: 0 70px;}
			.main-nav-wrapper { padding-left: 20px;}
			.main-nav { float: left;}
			a.brand {
				padding: 0;
				margin: 9px 0 0;
				float: left;
				transition-property: none;
			}
			.navToggle {
				width: 24px;
				height: 24px;
				margin: 9px 9px 0 0;
				border: none;
				display: block;
				background: url('../images/menu-up-24.svg') top left no-repeat;
				-webkit-transition: none;
				&:hover { background-image: url('../images/menu-hover-24.svg');}
			}
			.mega-menu.dropdown-menu {
				width: 60%;
				max-width: 962px;
				padding: 0 0 5px 0;
				border: none;
				background-color: $dropdownBackground;
				top: 44px;
				left: inherit;
				@include font-smoothing;
				@include box-shadow(0 5px 4px rgba(0, 0, 0, 0.2));
				li {
					display: inline-block;
					@media screen and (max-width: 580px) { display: block;}
					a {
						padding: {right:16px;left:16px;}
						display: block;
						&:hover {
							color: $dropdownLinkColorHover;
							text-decoration: none;
							background-color: $dropdownLinkBackgroundHover;
						}
					}
					&.deactivated {
						@include opacity(.5);
						a:hover {
							color: $dropdownLinkColor;
							background-color: transparent;
							cursor: not-allowed;
						}
					}
				}
				i[class*="icon"] { margin: 2px 7px 0 0;}
				small {
					margin-left: 14px;
					display: block;
					a:hover {
						color: $textColor;
						background-color: transparent;
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}
			.main-menu {
				@include fontSize(16px);
				@media screen and (max-width: 580px) { margin-bottom: 10px;}
				a { color: $dropdownLinkColor; padding: {top:10px;bottom:10px;}}
			}
			.colophon {
				@include fontSize(14px);
				border-top: 1px solid $dropdownBorder;
				@media screen and (max-width: 580px) { padding-top: 10px;}
				a {
					color: $textColor;
					padding: {top:6px;bottom:6px;}
				}
				ul {margin-bottom: 6px;}
			}
		}
	}
	.container-fluid {
		padding: {left: 40px;right: 40px;}
		@media screen and (max-width: 960px) { padding: {left:20px;right:20px;}}
		@media screen and (max-width: 500px) { padding: {left:10px;right:10px;}}
	}
	.top-content .container-fluid { @media screen and (max-width: 500px) {
		padding: { left:10px; right:10px;}
		}
	}
}

i[class*="icon"] {font-style: normal;}

.user-avatar img {
	width: 44px;
	height: 44px;
	background-size: cover;
}

.banner {
	padding-bottom: 40px;
	@media (max-width: $navbarCollapseWidth) {padding-bottom: 0;}
}

.golive-btn {
	padding: 0;
	width: 140px;
	height: 46px;
	background: $white url('/images/golive-btn-up.svg') 0px 0px no-repeat;
	background-size: contain;
	display: block;
	transition-property: none;
	&:hover {
		background-image: url('/images/golive-btn-hover.svg');
		transition-property: none;
	}
	&.stopStream {
		background-image: url('/images/stopStream-btn.svg');
	}
}

.modal-backdrop { opacity: 0.25 !important;}

.mainWrapper {
	.main {
		padding: 0 70px 20px;
		border-top: 1px solid $grayLight;
		@media screen and (max-width: 960px) { padding: {left:0;right:0;}}
		.mobile-full { @media screen and (max-width: 960px) { padding: {left:0;right:0;}}}
	}
}

.privacy, .terms, .trademark {
	.mainWrapper .main { padding-bottom: 0;}
	.main .width-controller {
		padding-bottom: 20px;
		background-color: $white;
		border: {
			top: 0;
			left: 1px;
			bottom: 0;
			right: 1px;
			color: $grayLight;
			style: solid;
		}
	}
	article { padding-right: 20px;}
}

.top-content {
	padding: 22px 70px 10px;
	background-color: hsla(0,0%,97%,1);
	@media screen and (max-width: $navbarCollapseWidth) {
		margin-top: -20px;
		padding-top: 13px;
	}
	@media screen and (max-width: 960px) { padding: {left:0;right:0;}}
	&.loggedIn { background-color: hsla(0,0%,97%,1);}
	&.feature {
		background: hsla(0,0%,97%,1) url('/images/slide1.jpg') 0px 7px no-repeat;
		background-size: 100%;
		border-bottom: $orange solid 3px;
		padding: {
			top: 40px;
			bottom: 30px;
		}
		@media screen and (max-width: 980px) {
			background-position: 0px 0px;
			padding: { top: 20px; bottom: 17px;}
		}
		@media screen and (max-width: 600px) {
			background-size: cover;
			padding: { top: 14px; bottom: 7px;}
		}
	}
	h1 {
		color: $white;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
		@include font-smoothing();
		line-height: 50px;
		margin-bottom: 24px;
		.one-liner { margin-top: 10px;}
	}
	h4.one-liner {
		font-family: $bold-font-stack;
	}
	nav {
		margin-left: 10px;
		li {
			padding: 0;
			&:after {content: "|";}
			&:last-of-type:after {content: none;}
			a {
				color: $textColor;
				text-decoration: underline;
				padding: {left:3px;right:6px;}
				&:hover { color: $black;}
			}
		}
	}
	.default-wrapper {
		margin-top: -12px;
		padding-bottom: 10px;
	}
	.loggedin-actions {
		.form-search { margin: { top:0;bottom: 0;}}
		.user-avatar { margin-right: 14px; display: block;}
		.form-search {
			float: right;
			@media screen and (max-width: 560px) { float: none;}
			input[type="search"] {
				width: 300px;
				@media screen and (max-width: 640px) { width: 240px;}
				@media screen and (max-width: 560px) { width: 280px;}
			}
		}
		.action-left, .action-right {
			@media screen and (max-width: 560px) {
				width: 100%;
				margin: {
					left: 0;
					bottom: 10px;
				}
			}
		}
		&.search-view {
			.form-search input[type="search"] {
				@media screen and (max-width: 780px) { width:200px;}
				@media screen and (max-width: 560px) { width:100%;}
			}
			.tabs li {
				@media screen and (max-width: 600px) {
					padding:0;
					@include fontSize(12px);
				}
				@media screen and (max-width: 560px) {
					padding-left: 5px;
					padding-right: 5px;
					@include fontSize(14px);
				}
			}
		}
		&.channel-view {
			.form-search input[type="search"] {
				@media screen and (max-width: 840px) { width:200px;}
			}
		}
	}
}

.mid-content {
	padding-top: 10px;
	.form-geo, .form-search {
		float: right;
		@media screen and (max-width: 740px) { float: none;}
		input[type="search"] {
			@media screen and (max-width: 500px) { width: 280px;}
		}
	}
	[class*="span"] {
		@media screen and (max-width: 740px){ width: 100%; margin-left: 0;}
	}
	h3 { margin-top: 0;}
	h4 { margin: {top:0px;bottom:20px;}}
}

.faux-tabs, .tabs {
	@media screen and (max-width: 740px) { margin-bottom: 10px;}
	li { padding: 0; }
	a {
		color: $gray;
		padding: 5px 7px 5px 0;
		display: block;
		&:hover {
			color: $black;
			text-decoration: none;
			i { opacity: 1;}
		}
		i {
			margin-right: 3px;
			opacity: .6;
		}
	}
	li.active {
		a { color: $black;}
		i { opacity: 1;}
	}
}

.faux-tabs li:first-of-type { margin-right: 10px;}

.tabs { padding-top: 5px;}

.mid-content + .lower-content { margin-top: 20px;}

.lower-content {
	padding-bottom:	30px;
	h4 { margin-top: 0px;}
	.row-fluid {margin-bottom: 40px;}
	.row-fluid:first-of-type {margin-bottom: 0;}
	.row-fluid [class*="span3"] {
		@media screen and (max-width: 760px) {
			width: 31.91%;
			*width: 31.91%;
		}
	}
	.row-fluid [class*="span4"] {
		@media screen and (max-width: 670px) {
			width: 48.7%;
			*width: 48.7%;
		}
	}
	@media screen and (min-width: 761px) {
		.row-fluid [class*="span3"]:nth-child(4n+1) {margin-left: 0;}
	}
	@media screen and (max-width: 760px) {
		.row-fluid [class*="span3"]:nth-child(3n+1) {margin-left: 0;}
	}
	@media screen and (min-width: 671px) {
		.row-fluid [class*="span4"]:nth-child(3n+1) {margin-left: 0;}
	}
	@media screen and (max-width: 670px) {
		.row-fluid [class*="span4"]:nth-child(2n+1) {margin-left: 0;}
	}
	.streamStatus {
		width: 32px;
		height: 32px;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		&.live { background: transparent url('/images/live-icon-32.svg') top left no-repeat;}
		&.vj-live { background: transparent url('/images/vj-live-icon-32.svg') top left no-repeat;}
		&.vj-archive { background: transparent url('/images/vj-archive-icon-32.svg') top left no-repeat;}
	}
	.owl-theme .owl-controls .owl-buttons div {
		padding: 8px 16px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		background: $purple;
	}
}

.about {
	.top-content {
		background: url('/images/slide4.jpg') top left no-repeat;
		background-size: cover;
		border-bottom: 3px solid $orange;
		.hero-unit {
			color: $textOnDark;
			background-color: $darkTrans;
			border-radius: $baseBorderRadius;
		}
	}
	.mid-content {
		.well {
			text-align: center;
			border-radius: $baseBorderRadius;
			@media screen and (max-width: 1110px) { min-height: 242px;}
			@media screen and (max-width: 960px) {
				font-size: 120%;
				width: 100%;
				min-height: inherit;
				margin-left: 0;
				float: none;
			}
			h3 { margin-top: 10px;}
		}
	}
	.mid-content + .lower-content { border-top: solid 2px white; padding-top: 40px;}
	.lower-content {
		.row-fluid:first-of-type { margin-bottom: 40px;}
	}
}

.featureIcon {
	width: 74px;
	display: block;
	margin: 0px auto;
	@media screen and (max-width: 960px) { width: 100px;}
}

.social-list, .action-list {
	margin: 0;
	padding-top: 5px;
	a {
		width: 32px;
		height: 32px;
		background-repeat: none;
		background-position: center center;
		background-size: cover;
		display: block;
		transition-property: none;
		&:hover {transition-property: none;}
	}
}

.social-list {
	a {
		&[title*="facebook"] {
			background-image: url('../images/facebook-icon.svg');
			&:hover {background-image: url('../images/facebook-icon-hover.svg');}
		}
		&[title*="twitter"] {
			background-image: url('../images/twitter-icon.svg');
			&:hover {background-image: url('../images/twitter-icon-hover.svg');}
		}
		&[title*="google plus"] {
			background-image: url('../images/googleplus-icon.svg');
			&:hover {background-image: url('../images/googleplus-icon-hover.svg');}
		}
		&[title*="tumblr"] {
			background-image: url('../images/tumblr-icon.svg');
			&:hover {background-image: url('../images/tumblr-icon-hover.svg');}
		}
	}
}

.action-list {
	a {
		opacity: .7;
		&:hover { opacity: 1;}
		&[title*="Return"] {
			background-image: url('../images/return-icon-32.svg');
		}
		&[title*="Snapshot"] {
			background-image: url('../images/snapshot-icon-32.svg');
		}
		&[title*="Download"] {
			background-image: url('../images/download-icon-32.svg');
		}
	}
}

.golive .social-list {
	a {
		margin-top: 2px;
		opacity: .7;
		&:hover { opacity: 1;}
		&[title*="facebook"] {
			background-image: url('../images/facebook-icon-32.svg');
		}
		&[title*="twitter"] {
			background-image: url('../images/twitter-icon-32.svg');
		}
		&[title*="google plus"] {
			background-image: url('../images/googleplus-icon-32.svg');
		}
		&[title*="tumblr"] {
			background-image: url('../images/tumblr-icon-32.svg');
		}
	}
}

.profile-list {
	.user-avatar {
		margin-right: 20px;
		img {
			width: 60px;
			height: 60px;
		}
	}
	h2 { margin: {top:8px;bottom:0;}}
	i[class*="icon"], strong { margin-right: 5px;}
	.user-info {
		width: 66%;
		li { margin-bottom: 3px;}
	}
}

.map-wrapper, .carousel-wrapper, .module-large, .results-item, .back-to-top {@include box-shadow(0 1px 2px hsla(0,0%,0%,0.07));}

.map-wrapper {
	background-color: $white;
	padding: 10px;
	@media screen and (max-width: 500px) { padding: 5px;}
}

#map, .map {
  height: 600px;
  width: 100%;
  @media screen and (max-width: 500px) { height: 470px;}
}

.module-inner {
	padding: 8px 10px;
	background-color: $white;
	@media screen and (max-width: 500px) { padding: 0;}
}

.module-video, .live-stream-link { background-color: $black;}

.module-video {
	position: relative;
	overflow: hidden;
	.live-stream-link .licode.ng-scope { width: auto;}
}

.module-overlay {
	color: $grayDarker;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include opacity(0);
	z-index:2;
	&:hover {@include opacity(1); cursor: pointer;}
}

.module-outer {
	height: 42px;
	color: $grayDarker;
	padding: 5px 10px 7px 10px;
	background-color: $white;
	@media screen and (max-width: 500px) {
		@include fontSize(12px);
		padding: 3px 6px 3px 6px;
	}
	a {color:$grayDarker;}
	.thumb-user {
		margin-right: 10px;
		@media screen and (max-width: 500px) { display: none;}
		img {
			width: 42px;
			height: 42px;
		}
	}
}

.module-xlarge {
	padding: 10px 10px 0;
	background-color: $white;
	canvas { width: 100%;}
	.module-outer { padding-left: 0px}
	.ng-isolate-scope .licode {
		@media screen and (max-width: 600px) { height: 436px !important;}
		@media screen and (max-width: 500px) { height: 280px !important;}
	}
}

.module-large {
	margin-bottom: 20px;
	.module-overlay {
		background:  hsla(0,0%,18%,.7) url('/images/play-icon-faint.svg') 50% 50% no-repeat;
		background-size: auto;
	}
}

.btn-overlay {
	width: 100%;
	background-color: $darkTrans;
  position: absolute;
  bottom: 0;
  button {
  	color: $white;
  	width: 100%;
	  background-image: none;
    background-color: transparent;
    border: none;
    &:hover { background-color: $purple;}
  }
}

.owl-carousel {
	.item { margin-right: 16px;}
	.streamSelected {
		padding: 2px 5px;
		background-color: $white;
		position: absolute;
		top: 0;
	}
	.module-outer { height: inherit;}
}

.spinner-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

.spinner-overlay.loading {visibility: visible;}

.spinner {
   height:30px;
   width:30px;
   margin:16% auto 0;
   position:relative;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border:6px solid rgba(255,255,255,.15);
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top:6px solid rgba(255,255,255,.8);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

@keyframes fadeOut {
    0%, 25%, 75% { opacity: 1;}
    80% { opacity: .75;}
    100% { opacity: 0;}
}

.fadeOut {
	-webkit-animation: fadeOut .6s 1 linear;
   -moz-animation: fadeOut .6s 1 linear;
   -o-animation: fadeOut .6s 1 linear;
   animation: fadeOut .6s 1 linear;
}

.results-item {
	color: $grayDarker;
	background-color: $white;
	margin-bottom: 20px;
	&.span3 {padding: 5px 10px 7px 10px;}
	&.span4 {padding: 5px 7px 7px;}
	.profile-list .user-avatar {
		margin-right: 6px;
		img { @media screen and (max-width: 500px) { width: 48px; height: 48px;}}
	}
	a {color:$grayDarker;}
	.user-info a { text-decoration: underline;}
	@media screen and (max-width: 480px) { @include fontSize(12px);}
}



// MAPBOX ------------------------------

.base .angular-leaflet-map .leaflet-map-pane .leaflet-objects-pane {
	.leaflet-popup-pane {
		.leaflet-popup-content-wrapper {
			border-radius: $baseBorderRadius;
			.leaflet-popup-content { margin: 6px 8px;}
			img { width: 100%;}
			.module-outer {
				@include fontSize(14px);
				padding: {top:5px;left:0;}
				height: auto;
				li {
					&:first-of-type { margin-bottom: 2px;}
					a { padding-left: 2px;}
				}
			}
		}
	}
}

.popup {
    text-align: left;
    .popup-left {
    	width:274px;
    	height:154px;
    	background-color: $grayDarker;
    }
    .popup-right {
    	width:46px;
    	height:154px;
    	background-color: $black;
    }
    /* fix below later */
    .specs-popup {display: none;}
    .thumb-user { margin: 7px 10px 7px 7px;}
	.specs-title {@include fontSize(13px); color: $white;}
	.specs-tags {@include fontSize(11px); color: $grayLighter;}
	.play-btn {
		width: 31px;
		height: 42px;
		background: url('/images/play-icon.svg') top left no-repeat;
		background-size: 100%;
		border: none;
		margin: 58px 0 0 8px;
	}
}
/* .popup img { width: 100%;} */

.licode [id*="bar"]{
  display: none !important;
}

/* rule for hiding elements until angular boots*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
