<div id="videoCarousel" class="carousel slide span12">
	<ol class="carousel-indicators">
		<li data-target="#videoCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#videoCarousel" data-slide-to="1"></li>
		<li data-target="#videoCarousel" data-slide-to="2"></li>
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<li class="module-mini span2" ng-repeat="stream in streams | limitTo:5">
				<div ng-include="'/views/snippets/module-mini.html'"></div>
			</li>
		</div>
		<div class="item">
			<li class="module-mini span2" ng-repeat="stream in streams | limitTo:5">
				<div ng-include="'/views/snippets/module-mini.html'"></div>
			</li>
		</div>
		<div class="item">
			<li class="module-mini span2" ng-repeat="stream in streams | limitTo:5">
				<div ng-include="'/views/snippets/module-mini.html'"></div>
			</li>
		</div>
	</div><!-- /.carousel-inner -->
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#videoCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#videoCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /#videoCarousel -->