<div class="commentBox collapse" id="commentBox">
	<div class="inner">
		<button type="button" class="close" data-toggle="collapse" data-target="#commentBox">
		<span class="fa fa-close"></span>
		</button>
  	<div class="cBox-top">
			<ul class="no-bullets">
				<li>comment: 1 of 25</li>
				<li>
					<span class="cBox-user">user.name</span> says:
					<p>Blog paleo keytar XOXO whatever Schlitz. Polaroid typewriter fanny pack, kogi stumptown kale chips Intelligentsia gastropub cornhole paleo.</p>
				</li>
			</ul>
			<ul class="inline">
				<li>
					<button class="btn btn-default btn-mini">
						<span class="fa fa-chevron-left"></span>
						<span class="visually-hidden">previous comment</span>
					</button>
				</li>
				<li>
					<button class="btn btn-default btn-mini">Reply</button>
				</li>
				<li>
					<button class="btn btn-default btn-mini">
						<span class="fa fa-chevron-right"></span>
						<span class="visually-hidden">previous comment</span>
					</button>
				</li>
			</ul>
  	</div>
  	<div class="cBox-bottom">
	  	<form>
				<textarea rows="3" placeholder="reply...">
				</textarea>
			</form>
  	</div>
	</div><!-- /.inner -->
</div><!-- /.commentBox -->