<h2>
  <a class="user-avatar" title="{{comment.user.username}}"
     ui-sref="user({userName: comment.user.username})">
     <img ng-src="{{ comment.user.getProfilePic() }}"/>
    <span class="username inline">{{comment.user.username}}</span>
  </a>
</h2>
<div class="comment-body block">
  <p>
    <span class="fa fa-quote-left"></span>
    {{comment}}
    <span class="fa fa-quote-right"></span>
  </p>
</div><!-- /.comment-body -->
<div class="comment-footer block">
  <ul class="inline">
    <li>{{comment.time | hours/days ago}}</li>
    <li>
      <button type="button" class="btn-link" role="button">Reply</button>
    </li>
  </ul>
</div><!-- /.comment-footer -->
