<div class="span1 offset1">
  <a class="user-avatar" ui-sref="user({userName: user.username})" title="fheusser">
    <img ng-src="{{ user.photo || (user.email | gravatar:120:'/images/profile-default.svg')}}" alt="your avatar">
  </a>
</div><!-- /.span1.offset1 -->
<div class="span10">
  <form role="form" name="commentReplyForm">
    <div class="input-append">
      <input id="replySubmit" type="text" placeholder="add a comment?">
      <button class="btn" type="submit">post</button>
    </div>
  </form>
</div><!-- /.span10 -->