<ul class="unstyled">
  <li>
    <ul class="unstyled inline">
      <li class="user-avatar">
        <a class="img-wrap" ui-sref="user({userName: follower.user.username})" title="{{follower.user.username}}">
          <img ng-src="{{ follower.user.photo || (follower.user.email | gravatar:120:'/images/profile-default.svg')}}" alt="{{follower.user.username}} avatar">
        </a>
      </li><!-- /.user-avatar -->
      <li class="user-info">
        <ul class="unstyled">
          <li>
            <h4>follower.user.username</h4>
          </li>
          <li>
            <h5>
              <span class="fa fa-video-camera"></span>
              <span class="line-text">Recently streamed from:
                <span ng-show="">anonymous</span>
                <a ui-sref="stream({streamId: stream.id})"
                   title="click to watch video"
                   ng-hide="">
                   {{stream.properties.city}}, {{stream.properties.country}} - {{stream.properties.address}}</a>
              </span>
              <span class="line-text" ng-show="">This user has not streamed a video.</span>
            </h5>
          </li>
        </ul>
      </li><!-- /.user-info -->
    </ul>
  </li>
  <li class="user-bio">
    <p>Ennui Banksy DIY, fap forage chambray wayfarers. Brunch cornhole Godard +1 cred aesthetic. YOLO food truck Pinterest freegan semiotics twee.</p>
  </li>
</ul>