<ul class="unstyled">
  <li>
    <ul class="unstyled inline">
      <li class="user-avatar">
        <rb-avatar user="following" class="img-wrap" title="{{following.username}}"></rb-avatar>
      </li><!-- /.user-avatar -->
      <li class="user-info">
        <ul class="unstyled">
          <li>
            <h4>{{following.username}}</h4>
          </li>
          <li>
            <h5>
              <span class="fa fa-video-camera"></span>
              <span class="line-text" ng-show="following.lastStream">Recently streamed from:
                <span ng-show="">anonymous</span>
                <a ui-sref="stream({streamId: following.lastStream.id})"
                   title="click to watch video"
                   >
                   {{following.lastStream.properties.city}}, {{following.lastStream.properties.country}} - {{following.lastStream.properties.address}}</a>
              </span>
              <span class="line-text" ng-hide="following.lastStream">This user has not streamed a video.</span>
            </h5>
          </li>
        </ul>
      </li><!-- /.user-info -->
    </ul>
  </li>
  <li class="user-bio">
    <p>{{following.bio}}</p>
  </li>
</ul>
