<div class="modal" modal="goLiveInitModal" options="opts" aria-labelledby="#GoLive" aria-hidden="true">
	<div class="modal-header">
		<button class="close" ng-click="startBroadcast(false)" aria-hidden="true">&times;</button>
		<h3 id="GoLive">Going Live?</h3>
	</div><!-- /.modal-header -->
	<div class="modal-body">
		<div class="alert" ng-show="permissionAlert">
			<strong>Warning!</strong> Best check yo self, you're not looking too good.
		</div>
	</div><!-- /.modal-body -->
	<div class="modal-footer">
		<button type="button" class="btn btn-accent" ng-click="startBroadcast(false)" aria-hidden="true"> <!-- Close modal and go live w/o adding metadata -->
		  Skip It! Let's Go!
		</button>
		<form ng-submit="startBroadcast(true)">
			<div class="modal-footer">
				<label class="checkbox" for="input-title">
					<input type="checkbox" class="checked" ng-model="streamData.titleCheck"> Title your Stream?
				</label>
				<div class="input-append">
					<input type="text" id="input-title" placeholder="enter title here" ng-model="streamData.titleData">
					<span class="add-on"><i class="icon-map-marker"></i></span>
				</div>
				<label class="checkbox" for="input-channel">
					<input type="checkbox" ng-model="streamData.channelCheck"> Add a Channel?
				</label>
				<input type="text" id="input-channel" placeholder="#channel" ng-model="streamData.channelData">
				<label class="checkbox" for="input-geolocation">
					<input type="checkbox" id="input-geolocation" class="checked" ng-model="streamData.geoCheck"> Enable Geolocation?
				</label>
				<label class="checkbox" id="input-tags">
					<input type="checkbox" ng-model="streamData.tagsCheck"> What's Happening?
				</label>
				<input type="text" id="input-tags" placeholder="tag your stream!" ng-model="streamData.tagsData">
			</div>
			<input class="btn btn-primary" type="submit" placeholder="Ready!">
		</form>
	</div><!-- /.modal-footer -->
</div><!-- /.modal -->
