<div class="module-inner">
  <div class="module-video">
    <div class="delete-btn" ng-if="allowDelete">
      <button class="btn btn-mini" ng-click="removeItem(tl_item)">
        <i class="icon-remove">
          <span class="visually-hidden">delete video</span>
        </i>
      </button>
    </div>
    <a ui-sref="vjsession({vjId: vj.id})" ng-if="vj.status !== 'live'" class="live-stream-link">
      <img ng-src="{{vj.thumbs.medium}}"/>
      <div class="timelineStatus vj" ng-class="vj.status"><span class="visually-hidden">{{vj.getStatusMessage()}}</span></div>
      <div class="module-overlay"></div>
    </a>
    <a ui-sref="vjsession-live({ channelName: vj.channelName, userName: vj.user.username })" ng-if="vj.status == 'live'" class="live-stream-link">
      <img ng-src="{{vj.thumbs.medium}}"/>
      <div class="timelineStatus vj" ng-class="vj.status"><span class="visually-hidden">{{vj.getStatusMessage()}}</span></div>
      <div class="module-overlay"></div>
    </a>
  </div><!-- /.module-video -->
</div><!-- /.module-inner -->
<div class="module-outer clearfix">
  <ul class="no-bullets">
    <li class="thumb-user ellipsis">
      <a class="img-wrap" ui-sref="user({userName: vj.user.username})" title="{{vj.user.username}}">
        <img ng-src="{{ vj.user.photo || (vj.user.email | gravatar:120:'/images/profile-default.svg')}}"/>
			</a>
			<span>#{{vj.channelName}}</span>
		</li>
		<li class="ellipsis">
      <a href="#" ui-sref="explore({lat: vj.geometry.coordinates[1], lng: vj.geometry.coordinates[0]})"><i class="icon-map-marker"></i></a>
			<span ng-hide="vj.properties.city">anonymous</span>
			<span ng-show="vj.properties.city">{{vj.properties.city}}, {{vj.properties.country}} - {{vj.properties.address}}</span>
		</li>
	</ul>
</div><!-- /.module-outer -->
