<div class="module-inner">
	<div class="module-video">
<!-- NOTE FROM CHRIS: add loading class to .spinner-overlay to activate loading animation -->
		<div class="spinner-overlay">
			<div class="spinner"></div>
		</div>
		<div class="module-overlay">
			<div class="btn-overlay">
				<button class="btn-top pull-right" type="button" data-toggle="modal" data-target="#rebroadcast-modal" rel="tooltip" data-title="Rebroadcast Me!">
					<i class="icon-retweet"></i>
					<span class="visually-hidden">Rebroadcast This Stream</span>
				</button>
				<button class="btn-top pull-right" type="button" data-toggle="modal" data-target="#share-modal" rel="tooltip" data-title="Share Me!">
					<i class="icon-share"></i>
					<span class="visually-hidden">Share This Stream</span>
				</button>
				<a class="btn-play" rel="tooltip" data-title="Play Stream" href="/streams/{{stream.id}}">
					<span class="visually-hidden">Play This Stream</span>
				</a>
			</div>
			<ul class="specs-stream no-bullets hidden-phone">
				<li class="specs-title"><em class="title">{{stream.title}}</em></li>
				<li class="specs-comments pull-left">
					<i class="icon-comment"></i>
					<a href="#" title="Comments Under Development" rel="tooltip" data-toggle="tooltip"> 12</a>
				</li>
				<li class="specs-rebroadcasts pull-left">
					<i class="icon-retweet"></i>
					<a href="#" title="Rebroadcasts Under Development" rel="tooltip" data-toggle="tooltip"> 24</a>
				</li>
				<li class="specs-hearts pull-left">
					<i class="icon-heart"></i>
					<a href="#" title="Hearts Under Development" rel="tooltip" data-toggle="tooltip"> 48</a>
				</li>
			</ul><!-- /.specs-stream -->
		</div><!-- /.module-overlay -->
		<a class="live-stream-link">
			<img ng-src="{{stream.thumbs.medium}}"/>
		</a>
	</div><!-- /.module-video -->
</div><!-- /.module-inner -->
<div class="module-outer clearfix">
	<ul class="specs-user no-bullets">
		<li class="thumb-user pull-left">
			<a href="#" title="username">
        <img ng-src="{{stream.user.email | gravatar:42:'/images/profile-default.svg'}}"/>
			</a>
		</li>
		<li class="specs-location">
			<i class="icon-map-marker"></i> Live from <span class="auto-location"><a href="#">{{stream.properties.geo_reference}}</a></span>
		</li>
		<li class="specs-tags">
			<ul class="group no-bullets">
				<li class="tag pull-left" ng-show="stream.tags.length == 0"><a href="#">untagged</a></li>
				<li class="tag pull-left" ng-repeat="tag in stream.tags"><a href="#" rel="tag">{{tag}}</a></li>
			</ul>
		</li>
	</ul><!-- /.specs-user -->
</div><!-- /.module-outer -->
