<div class="module-inner">
	<div class="module-video">
    <a href="/streams/{{stream.id}}" class="live-stream-link">
			<img ng-src="{{stream.thumbs.medium}}"/>
		</a>
	</div><!-- /.module-video -->
</div><!-- /.module-inner -->
<div class="module-outer clearfix">
	<ul class="specs-user no-bullets">
		<li class="thumb-user pull-left">
			<a href="#" title="{{stream.user.name}}">
        <img ng-src="{{stream.user.email | gravatar:42:'/images/profile-default.svg'}}"/>
			</a>
		</li>
		<li class="specs-location">
			<i class="icon-map-marker"></i>
			<span ng-show="stream.properties.geo_reference == null">anonymous</span>
			<span>{{stream.properties.geo_reference}}</span>
		</li>
		<li class="specs-tags">
			<ul class="inline no-bullets">
				<li class="tag" ng-show="stream.tags.length == 0">untagged</li>
				<li class="tag" ng-repeat="tag in stream.tags"><a href="#" rel="tag">{{tag}}</a></li>
			</ul>
		</li>
	</ul><!-- /.specs-user -->
</div><!-- /.module-outer -->
