<div class="module-inner">
  <div class="module-video">

    <div class="delete-btn" ng-if="allowDelete">
      <button class="btn btn-mini" ng-click="removeItem(tl_item)">
        <span class="fa fa-remove">
          <span class="visually-hidden">delete video</span>
        </span>
      </button>
    </div>

    <a ui-sref="stream({streamId: stream.id})" class="live-stream-link">
      <img ng-src="{{stream.thumbs.medium}}"/>
      <div class="timelineStatus" ng-class="stream.status"><span class="visually-hidden">{{stream.getStatusMessage()}}</span></div>
      <div class="module-overlay"></div>
    </a>
  </div><!-- /.module-video -->
  <div class="feature-overlay">
    <ul class="unstyled inline">
      <li>
        <span class="fa fa-eye"></span>
        <span class="line-text">{{stream.liveViewers || stream.playcount}}</span>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-thumbs-up"></span>
          <span class="line-text">{{stream.likes}}</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-retweet"></span>
          <span class="visually-hidden">click to repost video on your timeline</span>
        </a>
      </li>
    </ul>
  </div><!-- /.feature-overlay-->
</div><!-- /.module-inner -->
<div class="module-outer clearfix">
  <ul class="unstyled">
    <li class="thumb-user ellipsis">
      <rb-avatar user="stream.user" class="img-wrap" title="{{stream.user.username}}"></rb-avatar>
      <span ng-show="stream.caption == 0">untitled</span>
      <span ng-bind-html="stream.caption | hashToLink"></span>
    </li>
    <li class="ellipsis">
      <a href="#" ui-sref="explore({lat: stream.geometry.coordinates[1], lng: stream.geometry.coordinates[0]})"><span class="fa fa-map-marker"></span></a>
      <span class="line-text" ng-hide="stream.properties.city">anonymous</span>
      <span class="line-text" ng-show="stream.properties.city">{{stream.properties.city}}, {{stream.properties.country}} - {{stream.properties.address}}</span>
    </li>
  </ul>
</div><!-- /.module-outer -->
