<div class="module-video">
  <div class="watermark">
    <span class="mini-glow glow">
    </span>
    <b>Live on:</b>
  </div>
  <div class="spinner-overlay">
    <div class="spinner"></div>
  </div>
  <div stream-viewer stream="stream" size="large" mute="false" on="true"></div>
</div><!-- /.module-video -->
<div ng-include="'/views/snippets/feature-overlay.html'">
<div class="module-outer">
  <ul class="unstyled">
    <li class="thumb-user pull-left">
      <a ui-sref="user({userName: stream.user.username})" title="{{stream.user.name}}">
        <img ng-src="{{ stream.user.getProfilePic() }}"/>
      </a>
    </li>
    <li class="ellipsis">
      <span ng-show="stream.caption == 0">untitled</span>
      <span ng-bind-html="stream.caption | hashToLink"></span>
    </li>
    <li class="ellipsis">
      <span class="fa fa-map-marker"></span>
      <span class="line-text" ng-hide="stream.properties.city">anonymous</span>
      <span class="line-text" ng-show="stream.properties.city">{{stream.properties.city}}, {{stream.properties.country}} - {{stream.properties.address}}</span>
		</li>
		<li class="ellipsis">
      <span class="fa fa-user"></span>
      <span class="line-text">
        <strong>Live From:</strong> <span>{{stream.user.username}}</span> <span am-time-ago="stream.startedOn"></span>
      </span>
		</li>
	</ul>
</div>
