<div class="module-inner">
	<div class="module-video">
    <a ui-sref="stream({streamId: stream.id})" class="live-stream-link">
			<img ng-src="{{stream.thumbs.medium}}"/>
      <div class="streamStatus live" ng-show="stream.status == 'live'"><span class="visually-hidden">happening live!</span></div>
      <div class="streamStatus vj-live" ng-show="stream.status == 'vj-live'"><span class="visually-hidden">live VJ session</span></div>
      <div class="streamStatus vj-archive" ng-show="stream.status == 'vj-archive'"><span class="visually-hidden">archived VJ session</span></div>
      <div class="streamStatus production" ng-show="stream.status == 'production'"><span class="visually-hidden">stream under production</span></div>
      <div class="module-overlay"></div>
		</a>
	</div><!-- /.module-video -->
</div><!-- /.module-inner -->
<div class="module-outer clearfix">
	<ul class="no-bullets">
		<li class="thumb-user pull-left">
			<a ui-sref="user({userName: stream.user.username})" title="{{stream.user.username}}">
        <img ng-src="{{ stream.user.photo || (stream.user.email | gravatar:120:'/images/profile-default.svg')}}"/>
			</a>
		</li>
		<li class="ellipsis">
			<span ng-show="stream.caption == 0">untitled</span>
			<span>{{stream.caption}}</span>
		</li>
		<li class="ellipsis">
			<i class="icon-map-marker"></i>
			<span ng-hide="stream.properties.city">anonymous</span>
			<span ng-show="stream.properties.city">{{stream.properties.city}}, {{stream.properties.country}} - {{stream.properties.address}}</span>
		</li>
	</ul>
</div><!-- /.module-outer -->
