<div class="module-video">
<!-- NOTE FROM CHRIS: add loading class to .spinner-overlay to activate loading animation -->
	<div class="spinner-overlay">
		<div class="spinner"></div>
	</div>
	<div class="module-overlay">
		<div class="btn-overlay">
			<button class="btn-top pull-right" type="button" data-toggle="modal" data-target="#rebroadcast-modal" rel="tooltip" data-title="Rebroadcast Me!">
				<i class="icon-retweet"></i>
				<span class="visually-hidden">Rebroadcast This Stream</span>
			</button>
			<button class="btn-top pull-right" type="button" data-toggle="modal" data-target="#share-modal" rel="tooltip" data-title="Share Me!">
				<i class="icon-share"></i>
				<span class="visually-hidden">Share This Stream</span>
			</button>
			<button class="btn-top pull-right" type="button" ng-click="toggleMute()" rel="tooltip" data-title="Mute Me!">
            	<i ng-class="{'icon-volume-off': !globalMute, 'icon-volume-up': globalMute }"></i>
            	<span class="visually-hidden">Mute</span>
			</button>
			<a class="btn-play" rel="tooltip" data-title="Play Stream" href="/streams/{{stream.id}}">
				<span class="visually-hidden">Play This Stream</span>
			</a>
		</div>
	</div><!-- /.module-overlay -->
  <licode flow="inbound" token="{{stream.token}}" width="940" height="512"></licode>
	<ul class="specs-stream no-bullets">
		<li class="specs-title pull-left"><em class="title">{{stream.title}}FPO Title</em></li>
		<li class="specs-location pull-left">
			<i class="icon-map-marker icon-white"></i> Live from <span class="auto-location"><a href="#">{{stream.properties.geo_reference}}FPO Location</a></span>
		</li>
		<li class="specs-tags">
			<ul class="group no-bullets">
				<li class="tag pull-left" ng-show="stream.tags.length == 0"><a href="#">untagged</a></li>
				<li class="tag pull-left" ng-repeat="tag in stream.tags"><a href="#" rel="tag">{{tag}}</a></li>
			</ul>
		</li>
		<li class="specs-comments pull-right">
			<i class="icon-comment icon-white"></i>
			<a href="#" title="see comments on this live-stream"> 12</a>
		</li>
		<li class="specs-rebroadcasts pull-right">
			<i class="icon-retweet icon-white"></i>
			<a href="#" title="see rebroadcasts"> 24</a>
		</li>
		<li class="specs-hearts pull-right">
			<i class="icon-heart icon-white"></i>
			<a href="#" title="see who hearts this stream"> 48</a>
		</li>
	</ul><!-- /.specs-stream -->
</div><!-- /.module-video -->
