<div class="module-inner">
  <div class="module-video">
    <div class="delete-btn" ng-if="allowDelete">
      <button class="btn btn-mini" ng-click="removeItem(tl_item)">
        <span class="fa fa-remove">
          <span class="visually-hidden">delete video</span>
        </span>
      </button>
    </div>
    <a ui-sref="vjsession({vjId: vj.id})" ng-if="vj.status !== 'live'" class="live-stream-link">
      <img ng-src="{{vj.thumbs.medium}}" src-fallback="/images/missing.png"/>
      <div class="timelineStatus vj" ng-class="vj.status"><span class="visually-hidden">{{vj.getStatusMessage()}}</span></div>
      <div class="timelineStatus repost" ng-if="vj.source"></div>
      <div class="visible-desktop module-overlay"></div>
    </a>
    <a ui-sref="vjsession-live({ channelName: vj.channelName, userName: vj.user.id })" ng-if="vj.status == 'live'" class="live-stream-link">
      <img ng-src="{{vj.thumbs.medium}}" src-fallback="/images/missing.png"/>
      <div class="timelineStatus vj" ng-class="vj.status"><span class="visually-hidden">{{vj.getStatusMessage()}}</span></div>
      <div class="timelineStatus repost" ng-if="vj.source"></div>
      <div class="module-overlay"></div>
    </a>
  </div><!-- /.module-video -->
  <div class="feature-overlay">
    <ul class="unstyled inline">
      <li>
        <span class="fa fa-eye"></span>
        <span class="line-text">{{vj.playcount}}</span>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-thumbs-up"></span>
          <span class="line-text">{{vj.likes}}</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-comment"></span>
          <span class="line-text">6</span>
        </a>
      </li>
    </ul>
  </div><!-- /.feature-overlay-->
</div><!-- /.module-inner -->
<div class="module-outer clearfix">
  <ul class="unstyled">
    <li class="user-avatar ellipsis">
      <rb-avatar user="vj.user" class="img-wrap" title={{vj.user.username}}></rb-avatar>
      <rb-avatar ng-if="vj.source" user="vj.source.user" class="img-wrap" title="{{vj.source.user.username}}"></rb-avatar>
      <span>#{{vj.channelName}}</span>
    </li>
    <li class="li-geo ellipsis pull-left">
      <span class="fa fa-map-marker"></span>
      <span ng-hide="vj.properties.city">
        <span class="line-text">anonymous</span>
      </span>
      <span ng-show="vj.properties.city">
        <a href="#" ui-sref="main.explore({lat: vj.geometry.coordinates[1], lng: vj.geometry.coordinates[0]})">
          <span class="line-text">{{vj.properties.city}}, {{vj.properties.country}}
          </span>
        </a>
      </span>
    </li>
    <li class="li-time pull-right">
      <span class="fa fa-clock-o"></span>
      <span am-time-ago="vj.startedOn"></span>
    </li>
  </ul>
</div><!-- /.module-outer -->
