<div class="module-video">
	<div class="module-overlay">
		<div class="btn-overlay">
			<button class="pull-right" type="button" data-toggle="modal" data-target="#rebroadcast-modal">
				<i class="icon-retweet"></i>
				<span class="visually-hidden">Rebroadcast This Stream</span>
			</button>
			<button class="pull-right" type="button" data-toggle="modal" data-target="#share-modal">
				<i class="icon-share"></i>
				<span class="visually-hidden">Share This Stream</span>
			</button>
		</div>
	</div><!-- /.module-overlay -->
  <licode flow="inbound" token="{{stream.token}}" width="845"  height="480"></licode>
	<ul class="specs-stream no-bullets">
		<li class="specs-title pull-left"><em class="title">{{stream.title}}FPO Title</em></li>
		<li class="specs-location pull-left">
			<i class="icon-map-marker icon-white"></i> Live from <span class="auto-location"><a href="#">{{stream.properties.geo_reference}}FPO Location</a></span>
		</li>
		<li class="specs-tags pull-left">
			<span>Tagged:</span>
			<ul class="group">
				<li class="tag pull-left" ng-repeat="tag in stream.tags"><a href="#">{{tag}}</a></li>
			</ul>
		</li>
		<li class="specs-comments pull-right">
			<i class="icon-comment icon-white"></i>
			<a href="#" title="see comments on this live-stream"> 12</a>
		</li>
		<li class="specs-rebroadcasts pull-right">
			<i class="icon-retweet icon-white"></i>
			<a href="#" title="see rebroadcasts"> 24</a>
		</li>
		<li class="specs-hearts pull-right">
			<i class="icon-heart icon-white"></i>
			<a href="#" title="see who hearts this stream"> 48</a>
		</li>
	</ul><!-- /.specs-stream -->
</div><!-- /.module-video -->
