<!-- <div id="rebroadcast" class="action-sub collapse row-fluid"> -->
  <div class="span12">
    <form method="post" action="" class="form-inline">
      <fieldset>
        <legend class="visually-hidden">Use this form to add tags or a channel before rebroadcasting the stream.</legend>
        <label class="checkbox inline" for="input-channel">
          <input type="checkbox" value="add to channel"> Add to a Channel?
        </label>
        <input type="text" id="input-channel" placeholder="#channel">
        <label class="checkbox inline" for="input-tags">
          <input type="checkbox" class="checked" value="add tags"> Add Tags?
        </label>
        <input type="text" id="input-tags" placeholder="tag1, tag2, tag3...">
      <input class="btn btn-small" type="submit" value="Ready!">
      </fieldset>
    </form>
  </div>
<!-- </div><!-- /#rebroadcast -->