<!-- NOTE FROM CHRIS
peepol results include a "follow/following" button. This button needs to toggle b/n two states that trigger whether or not the user is following someone -->
<li class="results-item clearfix">
  <ul class="no-bullets inline">
    <li class="thumb-user">
			<a href="#" title="{{stream.user.name}}">
        <img ng-src="{{ stream.user.photo || (stream.user.email | gravatar:42:'/images/profile-default.svg')}}"/>
			</a>
		</li>
    <li class="ellipsis">
      <h5><a href="/" title="user's profile">{{stream.user.name}}</a></h5>
    </li>
    <li>
      <a href="#" class="btn btn-mini follow" role="button" title="click to follow">Follow</a>
    </li>
  </ul>
</li>
<!-- Following Example -->
<li class="results-item">
  <ul class="no-bullets inline">
    <li class="thumb-user pull-left">
			<a href="#" title="{{stream.user.name}}">
        <img ng-src="{{ stream.user.photo || (stream.user.email | gravatar:42:'/images/profile-default.svg')}}"/>
			</a>
		</li>
    <li class="ellipsis">
      <h5><a href="/" title="user's profile">{{stream.user.name}}</a></h5>
    </li>
    <li>
      <a href="#" class="btn btn-mini following" role="button" title="click to unfollow">Following</a>
    </li>
  </ul>
</li>
