<ul class="profile-list unstyled clearfix">
  <li>
    <rb-avatar user="user" class="user-avatar pull-left"></rb-avatar>
  </li>
  <li class="user-info">
    <ul class="unstyled"><!-- need to fix it so name wraps w/o pushing the whole unit down below the profile image -->
      <li class="ellipsis">
        <span class="fa fa-user"></span>
        <span class="line-text">
          <a ui-sref="user({userName: user.username})" title="{{user.username}}'s profile">{{user.username}}</a>
        </span>
      </li>
      <li class="ellipsis">
        <span class="fa fa-thumbs-up"></span>
        <span class="line-text">
          {{user.likes}}
        </span>
      </li>
    </ul>
  </li>
</ul>
