<ul class="profile-list no-bullets span12">
  <li class="user-avatar pull-left">
    <img ng-src="{{ user.getProfilePic() || (user.email | gravatar:120:'/images/profile-default.svg')}}"/>
  </li>
  <li class="user-info pull-left">
	  <ul class="no-bullets"><!-- need to fix it so name wraps w/o pushing the whole unit down below the profile image -->
	    <li class="ellipsis">
	    	<span class="fa fa-user"></span>
	      <a ui-sref="user({userName: user.username})" title="{{user.username}}'s profile">{{user.username}}</h5>
	    </li>
    	<li class="ellipsis">
				<span class="fa fa-video"></span>
        <a ui-sref="stream({streamId: user.streamIds[0]})">Recent Video</a>
			</li>
	  </ul>
  </li>
</ul>
