<div class="module-inner">
	<div class="module-video">
    <a class="live-stream-link" ui-sref="channel({channelName: channel.name})">
	<img ng-src="{{channel.streams.0.thumbs.medium}}" src-fallback="/images/missing.png"/>
		</a>
	</div><!-- /.module-video -->
</div><!-- /.module-inner -->
<div class="module-outer clearfix">
	<ul class="no-bullets">
    <li class="ellipsis">
    	<span class="fa fa-headphones"></span>
      <span>#{{channel.name}}</span>
    </li>
  	<li class="ellipsis">
			<span class="fa fa-video"></span>
			<span ng-show="channel.streamsCount == 0">No videos available.</span>
			<span ng-show="channel.streamsCount == 1">video</span>
			<span ng-hide="channel.streamsCount == 0 || channel.streamsCount == 1">{{channel.streamsCount}} videos</span>
		</li>
  </ul>
</div><!-- /.module-outer -->