<ul class="channel-list no-bullets span12">
  <li class="module-video">
  <a class="live-stream-link" href="#" ui-sref="channel({channelName: channel.name})">
    	<img ng-src="{{channel.streams.0.thumbs.medium}}"/>
		</a>
  </li>
  <li>
	  <ul class="no-bullets">
	    <li class="ellipsis">
	    	<i class="icon-headphones"></i>
	      <span>#{{channel.name}}</span>
	    </li>
    	<li class="ellipsis">
				<i class="icon-facetime-video"></i>
				<span>Number of streams: {{channel.streamsCount}}</span>
			</li>
	  </ul>
  </li>
</ul>
