<li class="results-item">
  <ul class="results-list no-bullets inline">
    <li class="stream-thumb">
      <img src="" alt="thumbnail for stream"/>
    </li>
    <li class="data-list">
      <ul>
        <li class="one-liner"><h5>tag1</h5>,<h5>tag2</h5>,<h5>or untagged?</h5></li>
        <li class="one-liner"><h6><i class="icon-map-marker"></i> <span>City</span> <span>Country Code</span></h6></li>
      </ul>
    </li>
    <li>
      <a href="#" class="btn btn-mini" role="button" title="click to watch channel">Watch!</a>
    </li>
  </ul>
</li>
