<!-- NOTE FROM CHRIS
peepol results include a "follow/following" button. This button needs to toggle b/n two states that trigger whether or not the user is following someone -->
<li class="results-item">
  <ul class="results-list no-bullets inline">
    <li class="user-avatar">
      <img src="/images/profile-default.svg" alt="user avatar"/>
    </li>
    <li>
      <h5><a href="/" title="user's profile">username</a></h5>
    </li>
    <li>
      <a href="#" class="btn btn-mini follow" role="button" title="click to follow">Follow</a>
    </li>
  </ul>
</li>
<!-- Following Example -->
<li class="results-item">
  <ul class="results-list no-bullets inline">
    <li class="user-avatar">
      <img src="/images/profile-default.svg" alt="user avatar"/>
    </li>
    <li>
      <h5><a href="/" title="user's profile">username</a></h5>
    </li>
    <li>
      <a href="#" class="btn btn-mini following" role="button" title="click to unfollow">Following</a>
    </li>
  </ul>
</li>
