<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">A</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">accident</a></li>
						<li class="tag"><a href="#" rel="tag">advocacy</a></li>
						<li class="tag"><a href="#" rel="tag">aliens</a></li>
						<li class="tag"><a href="#" rel="tag">animal</a></li>
						<li class="tag"><a href="#" rel="tag">animals</a></li>
						<li class="tag"><a href="#" rel="tag">art</a></li>
						<li class="tag"><a href="#" rel="tag">avocado</a></li>
						<li class="tag"><a href="#" rel="tag">avocados</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">B</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">band</a></li>
						<li class="tag"><a href="#" rel="tag">bands</a></li>
						<li class="tag"><a href="#" rel="tag">bike</a></li>
						<li class="tag"><a href="#" rel="tag">bikes</a></li>
						<li class="tag"><a href="#" rel="tag">bird</a></li>
						<li class="tag"><a href="#" rel="tag">birds</a></li>
						<li class="tag"><a href="#" rel="tag">boy</a></li>
						<li class="tag"><a href="#" rel="tag">boys</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">C</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">calligraphy</a></li>
						<li class="tag"><a href="#" rel="tag">car</a></li>
						<li class="tag"><a href="#" rel="tag">cars</a></li>
						<li class="tag"><a href="#" rel="tag">church</a></li>
						<li class="tag"><a href="#" rel="tag">clouds</a></li>
						<li class="tag"><a href="#" rel="tag">conference</a></li>
						<li class="tag"><a href="#" rel="tag">convention</a></li>
						<li class="tag"><a href="#" rel="tag">cosplay</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">D</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">data</a></li>
						<li class="tag"><a href="#" rel="tag">dog</a></li>
						<li class="tag"><a href="#" rel="tag">dogs</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">E</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">editorial</a></li>
						<li class="tag"><a href="#" rel="tag">emergency</a></li>
						<li class="tag"><a href="#" rel="tag">election</a></li>
						<li class="tag"><a href="#" rel="tag">elections</a></li>
						<li class="tag"><a href="#" rel="tag">event</a></li>
						<li class="tag"><a href="#" rel="tag">events</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">F</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">fashion</a></li>
						<li class="tag"><a href="#" rel="tag">film</a></li>
						<li class="tag"><a href="#" rel="tag">fire</a></li>
						<li class="tag"><a href="#" rel="tag">fireworks</a></li>
						<li class="tag"><a href="#" rel="tag">food</a></li>
						<li class="tag"><a href="#" rel="tag">football</a></li>
						<li class="tag"><a href="#" rel="tag">fun</a></li>
						<li class="tag"><a href="#" rel="tag">fútbol</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">G</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">game</a></li>
						<li class="tag"><a href="#" rel="tag">games</a></li>
						<li class="tag"><a href="#" rel="tag">gaming</a></li>
						<li class="tag"><a href="#" rel="tag">girl</a></li>
						<li class="tag"><a href="#" rel="tag">girls</a></li>
						<li class="tag"><a href="#" rel="tag">greenliving</a></li>
						<li class="tag"><a href="#" rel="tag">greenwashing</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">H</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">holiday</a></li>
						<li class="tag"><a href="#" rel="tag">holidays</a></li>
						<li class="tag"><a href="#" rel="tag">homerepair</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">I</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">ice</a></li>
					</ol><!-- /.tag-col -->
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
					<h4 class="pull-left">J</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
						<li class="tag"><a href="#" rel="tag">jaffacakes</a></li>
						<li class="tag"><a href="#" rel="tag">joinery</a></li>
						<li class="tag"><a href="#" rel="tag">jollyxmas</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->