<div class="tags-row row-fluid" ng-repeat="(letter, channels) in letters">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<div class="alpha-col pull-left">
          <h4 class="pull-left">{{letter}}</h4>
				</div>
				<div class="tags-col pull-left">
					<ol class="no-bullets">
            <li class="tag" ng-repeat="channel in channels"><a ng-href="/channel/{{channel.name}}" rel="tag">{{channel.name}}</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
