<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">A</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">accident</a></li>
						<li class="tag"><a href="#" rel="tag">advocacy</a></li>
						<li class="tag"><a href="#" rel="tag">aliens</a></li>
						<li class="tag"><a href="#" rel="tag">animal</a></li>
						<li class="tag"><a href="#" rel="tag">animals</a></li>
					</ol><!-- /.tag-col -->
					<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsA">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsA">
						<li class="tag"><a href="#" rel="tag">art</a></li>
						<li class="tag"><a href="#" rel="tag">avocado</a></li>
						<li class="tag"><a href="#" rel="tag">avocados</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">B</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">band</a></li>
						<li class="tag"><a href="#" rel="tag">bands</a></li>
						<li class="tag"><a href="#" rel="tag">bike</a></li>
						<li class="tag"><a href="#" rel="tag">bikes</a></li>
						<li class="tag"><a href="#" rel="tag">bird</a></li>
					</ol><!-- /.tag-col -->
					<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsB">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsB">
						<li class="tag"><a href="#" rel="tag">birds</a></li>
						<li class="tag"><a href="#" rel="tag">boy</a></li>
						<li class="tag"><a href="#" rel="tag">boys</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">C</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">calligraphy</a></li>
						<li class="tag"><a href="#" rel="tag">car</a></li>
						<li class="tag"><a href="#" rel="tag">cars</a></li>
						<li class="tag"><a href="#" rel="tag">church</a></li>
						<li class="tag"><a href="#" rel="tag">clouds</a></li>
					</ol><!-- /.tag-col -->
					<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsC">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsC">
						<li class="tag"><a href="#" rel="tag">conference</a></li>
						<li class="tag"><a href="#" rel="tag">convention</a></li>
						<li class="tag"><a href="#" rel="tag">cosplay</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">D</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">data</a></li>
						<li class="tag"><a href="#" rel="tag">dog</a></li>
						<li class="tag"><a href="#" rel="tag">dogs</a></li>
					</ol><!-- /.tag-col -->
	<!-- NOTE FROM CHRIS: need show/hide if there are no more tags in the list -->
					<!--
	<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsD">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsD">
					</ol>
	-->
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">E</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">editorial</a></li>
						<li class="tag"><a href="#" rel="tag">emergency</a></li>
						<li class="tag"><a href="#" rel="tag">election</a></li>
						<li class="tag"><a href="#" rel="tag">elections</a></li>
						<li class="tag"><a href="#" rel="tag">event</a></li>
					</ol><!-- /.tag-col -->
					<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsE">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsE">
						<li class="tag"><a href="#" rel="tag">events</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">F</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">fashion</a></li>
						<li class="tag"><a href="#" rel="tag">film</a></li>
						<li class="tag"><a href="#" rel="tag">fire</a></li>
						<li class="tag"><a href="#" rel="tag">fireworks</a></li>
						<li class="tag"><a href="#" rel="tag">food</a></li>
					</ol><!-- /.tag-col -->
					<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsF">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsF">
						<li class="tag"><a href="#" rel="tag">football</a></li>
						<li class="tag"><a href="#" rel="tag">fun</a></li>
						<li class="tag"><a href="#" rel="tag">fútbol</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">G</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">game</a></li>
						<li class="tag"><a href="#" rel="tag">games</a></li>
						<li class="tag"><a href="#" rel="tag">gaming</a></li>
						<li class="tag"><a href="#" rel="tag">girl</a></li>
						<li class="tag"><a href="#" rel="tag">girls</a></li>
					</ol><!-- /.tag-col -->
					<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsG">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsG">
						<li class="tag"><a href="#" rel="tag">greenliving</a></li>
						<li class="tag"><a href="#" rel="tag">greenwashing</a></li>
					</ol>
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">H</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">holiday</a></li>
						<li class="tag"><a href="#" rel="tag">holidays</a></li>
						<li class="tag"><a href="#" rel="tag">homerepair</a></li>
					</ol><!-- /.tag-col -->
					<!--
	<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsH">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsH">
					</ol>
	-->
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">I</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">ice</a></li>
					</ol><!-- /.tag-col -->
					<!--
	<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsI">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsI">
					</ol>
	-->
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->
	<div class="tags-row row-fluid">
		<div class="span12">
			<div class="tags-wrapper clearfix">
				<h4 class="alpha-tag pull-left">J</h4>
				<div class="tags-col pull-left">
					<ol class="top-tags no-bullets">
						<li class="tag"><a href="#" rel="tag">jaffacakes</a></li>
						<li class="tag"><a href="#" rel="tag">joinery</a></li>
						<li class="tag"><a href="#" rel="tag">jollyxmas</a></li>
					</ol><!-- /.tag-col -->
					<!--
	<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#tagsJ">more...</button>
					<ol class="bottom-tags collapse no-bullets" id="tagsJ">
					</ol>
	-->
				</div><!-- /.tags-col -->
			</div><!-- /.tags-wrapper -->
		</div><!-- /.span12 -->
	</div><!-- /.tags-row -->