<h2>
  <a class="user-avatar" href="#">
    <img src="#">
    <span class="username inline">username</span>
  </a>
</h2>
<div class="comment-body block">
  <p><span class="fa fa-quote-left"></span>I didn't used to be able to, but my arms have improved these last two years so now I use my arms more. But it varies on a daily basis.<span class="fa fa-quote-right"></span></p>
</div><!-- /.comment-body -->
<div class="comment-footer block">
  <ul class="inline">
    <li>time here</li>
    <li>
      <button type="button" class="btn-link" role="button">Reply</button>
    </li>
  </ul>
</div><!-- /.comment-footer -->