<div class="span12">
  <h5 class="pull-left">Share this stream:</h5>
  <ul class="social-list inline pull-left">
    <li><a href="#" title="click to share via facebook"><span class="visually-hidden">Facebook</span></a></li>
    <li><a href="#" title="click to share via twitter"><span class="visually-hidden">Twitter</span></a></li>
    <li><a href="#" title="click to share via google plus"><span class="visually-hidden">Google Plus</span></a></li>
    <li><a href="#" title="click to share via tumblr"><span class="visually-hidden">Tumblr</span></a></li>
  </ul>
</div>