<div modal="goLiveInitModal" options="opts" aria-labelledby="#GoLive" aria-hidden="true">
  <div class="modal-header">
    <button class="close" ng-click="startBroadcast(false)" aria-hidden="true">&times;</button>
    <h3 id="GoLive">Going Live?</h3>
  </div><!-- /.modal-header -->
  <div class="modal-body">
    <button type="button" ng-click="startBroadcast(false)" aria-hidden="true"> <!-- Close modal and go live w/o adding metadata -->
      Skip It! Let's Go!
    </button>
    <form ng-submit="startBroadcast(true)">
      <label class="checkbox">
        <input type="checkbox" class="checked" ng-model="streamData.titleCheck"> Title your Stream?
        <div class="input-append">
          <input type="text" placeholder="enter title here" ng-model="streamData.titleData">
          <span class="add-on"><i class="icon-map-marker"></i></span>
        </div>
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="streamData.channelCheck"> Add a Channel?
        <input type="text" placeholder="#channel" ng-model="streamData.channelData">
      </label>
      <label class="checkbox">
        <input type="checkbox" class="checked" ng-model="streamData.geoCheck"> Enable Geolocation?
        <div class="input-append">
          <input type="text" placeholder="current location" ng-model="streamData.geoData">
          <span class="add-on"><i class="icon-map-marker"></i></span>
        </div>
      </label>
      <label class="checkbox">
        <input type="checkbox" ng-model="streamData.tagsCheck"> What's Happening?
        <input type="text" placeholder="tag your stream!" ng-model="streamData.tagsData">
      </label>
      <div class="alert" ng-show="permissionAlert">
        <strong>Warning!</strong> Best check yo self, you're not looking too good.
      </div>
      <input class="btn" type="submit" placeholder="Ready!">
    </form>
  </div><!-- /.modal-body -->
  <div class="modal-footer">
  </div><!-- /.modal-footer -->
</div><!-- /#golive-modal -->
