<div class="module-large span3" ng-repeat="stream in streams">
	<div class="module-inner">
		<div class="module-video clearfix">
			<div class="btn-overlay">
				<button class="rebroadcast-btn" type="button">
					<span class="visually-hidden">Rebroadcast This Stream</span>
				</button>
			</div>
			<a href="/streams/{{stream.id}}" class="live-stream-link">
				<img ng-src="{{stream.thumbs.medium}}"/>
			</a>
			
		</div><!-- /.module-video -->
		<div class="module-overlay clearfix">
			<ul class="specs-stream no-bullets">
				<li class="specs-title"><em class="title">{{stream.title}}</em></li>
				<li class="specs-comments pull-left">
					<i class="icon-comment icon-white"></i>
					<a href="#" title="see comments on this live-stream"> 12</a>
				</li>
				<li class="specs-rebroadcasts pull-left">
					<i class="icon-retweet icon-white"></i>
					<a href="#" title="see rebroadcasts"> 24</a>
				</li>
				<li class="specs-hearts pull-left">
					<i class="icon-heart icon-white"></i>
					<a href="#" title="see who hearts this stream"> 48</a>
				</li>
			</ul><!-- /.specs-stream -->
		</div><!-- /.module-overlay -->
	</div><!-- /.module-inner -->
	<div class="module-outer clearfix">
		<ul class="specs-user no-bullets">
			<li class="thumb-user pull-left">
				<a href="#" title="username">
<!-- NOTE FROM CHRIS: Can we autogenerate some user profile images? -->
					<img src="http://fakeimg.pl/34x34/?text=FPO"/>
				</a>
			</li>
			<li class="specs-location">
				<i class="icon-map-marker icon-white"></i> Live from <span class="auto-location"><a href="#">{{stream.properties.geo_reference}}</a></span>
			</li>
			<li class="specs-tags">
				<ul class="group">
					<li class="tag pull-left" ng-repeat="tag in stream.tags"><a href="#">{{$value}}</a></li>
				</ul>
			</li>
		</ul><!-- /.specs-user -->
	</div><!-- /.module-outer -->
</div><!-- /.module-large -->