<div class="module-video">
  <a class="live-stream-link" ui-sref="stream({streamId: stream.id})">
    <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
  </a>
</div><!-- /.module-video -->
<div class="module-outer">
  <ul class="unstyled">
    <li class="ellipsis">
    	<span class="fa fa-video-camera"></span>
      <span ng-show="stream.caption == 0" class="line-text">untitled</span>
      <span class="ellipsis line-text" ng-bind-html="stream.caption | hashToLink"></span>
    </li>
    <li>
      <span class="fa fa-user"></span>
      <span class="line-text ellipsis">Streamed by: <a ui-sref="user({userName: stream.user.id})">{{stream.user.username}}</a></span>
    </li>
  </ul>
</div>
