<div class="modal hide fade" id="myModalID" role="dialog" aria-labelledby="#myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Modal Title Here</h3>
	</div><!-- /.modal-header -->
	<div class="modal-body">
		<p>Modal text here...</p>
	</div><!-- /.modal-body -->
	<div class="modal-footer">
		<form method="post">
			<div class="form-block">
				<label class="checkbox" for="">
					<input type="checkbox" class="checked" value="Checkbox Value"> Checkbox?
				</label>
				<input type="text" id="" placeholder="placeholder">
				<label class="checkbox" for="">
					<input type="checkbox" value="Checkbox Value"> Checkbox?
				</label>
				<input type="text" id="" placeholder="placeholder">
			</div><!-- /.form-block -->
			<input class="btn btn-primary" type="submit" value="Ready!">
		</form>
	</div><!-- /.modal-footer -->
</div><!-- /.modal-->	