<div id="golive-feed" class="golive-feed in collapse">
  <ul class="unstyled feed-list">
    <li class="" golive-mobile-comment ng-repeat="comment in comments" />
  </ul>
  <form>
    <div class="input-append">
      <input class="comment-input input-medium" placeholder="Something to say?" type="text">
      <button class="btn btn-primary btn-small"
              type="submit" role="button">
              <span class="fa fa-comment"></span>
              <span class="visually-hidden">Send!</span>
      </button>
    </div>
  </form>
</div>
