<div id="golive-feed" class="golive-feed in collapse">
  <ul class="unstyled feed-list">
    <li>
      <form class="row-fluid">
        <div class="span8">
          <textarea rows="1" placeholder="Something to say?"></textarea>
        </div>
        <div class="pull-right">
          <button
            type="submit"
            class="btn btn-primary btn-small"
            style="padding: 2px"
            role="submit">
            Send!
          </button>
        </div>
      </form>
    </li>

    <li class="" golive-mobile-comment ng-repeat="comment in comments" />
  </ul>
</div>
