<div class="row-fluid reply-area" ng-show='app.isLoggedIn'>
  <div class="span12">
    <a class="user-avatar" ui-sref="user({userName: user.username})" title="{{user.username}}">
      <img ng-src="{{ user.getProfilePic() }}" alt="your avatar">
    </a>
    <form class="rb-comments-form" role="form" name="commentReplyForm">
      <div class="input-append">
        <input class="rb-comments-input" id="replySubmit" type="text" placeholder="add a comment?">
        <button class="btn" type="submit">
          <span class="fa fa-comment-o"></span>
          <span class="visually-hidden">post comment</span>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <p ng-if='!app.isLoggedIn'>You need to sign in to be able to post comments</p>

    <ol class="rb-comments-list comments-block unstyled">
      <li class="comment" standard-comment ng-repeat="comment in comments" />
    </ol>

    <a href="#" class='rb-load-more top'>
      <span class="fa fa-refresh"></span>
      <span class="line-text">Load More</span>
    </a>
  </div>
</div>
