<div class="modal-header">
  <button class="close" ng-click="ctrl.ready(true)" aria-hidden="true">&times;</button>
  <h3 id="GoLive">Going Live?</h3>
</div><!-- /.modal-header -->
<div class="modal-body">
  <div class="alert" ng-hide="vm.camera.access">
    <strong>Warning!</strong> Please enable camera permissions for your browser.
  </div>
</div><!-- /.modal-body -->
<div class="modal-footer">
  <form name="goliveForm" role="form" ng-submit="ctrl.ready()">
    <div>
      <label class="text" for="caption">You can use hashtags to add your stream to a channel:</label>
      <input type="text" name="caption" placeholder="add a tag, or add a #channel!" ng-model="vm.caption" class="input-xlarge"/>
    </div>
    <div ng-show="vm.channels.length">
      <p>Your stream will be published in the following channels</p>
      <ul class="inline no-bullets">
        <li ng-repeat="channel in vm.channels" class="inline"><b>{{channel}}</b> </li>
      </ul>
    </div>
    <label class="checkbox" ng-show="{{vm.camera.videoSources.length > 1}}">
      <input type="checkbox" ng-click="vm.camera.toggleSource()"> Start with camera flipped.
    </label>
    <button type="submit" class="btn btn-primary mobile-small">Ready!</button>
    <!-- Close modal and go live w/o adding metadata -->
    <button type="button" class="btn btn-accent mobile-small" ng-click="ctrl.ready(true)" aria-hidden="true">
      Skip It! Let&#39;s Go!
    </button>
  </form>
 <!--  <a ng-show="{{vm.camera.videoSources.length > 1}}" class="btn btn-accent mobile-small" ng-click="vm.camera.toggleSource()">Flip</a> -->
</div><!-- /.modal-footer -->

