<div ng-show="vm.goliveService.status == 'disconnected'">
  <h2>Going Live?</h2>
</div>
<div class="alert" ng-hide="vm.camera.access">
  <p><strong>Warning!</strong><span class="one-liner">Please enable camera permissions for your browser.</span></p>
</div>
<form name="goliveForm" role="form" ng-show="vm.goliveService.status == 'disconnected'">
  <label for="caption">Add a caption! You can use hashtags in your caption to add your stream to a channel:</label>
  <div class="input-prepend">
  	<span class="add-on"><i class="icon-tag"></i></span>
	  <input type="text" name="caption" placeholder="add a caption, or add to a #channel!" ng-model="vm.caption" class="input-xxlarge"/>
	  <div class="validate" ng-show="vm.caption_warning">
	  	<small class="info">Only the first 17 characters will display in thumbnail view.</small>
	  </div><!-- /.validate -->
  </div><!-- /.input-prepend -->
  <div>
  	<p>Want to join an existing channel? <span class="one-liner">We suggest:</span></p>
  	<ol class="inline no-bullets">
  		<li ng-repeat="| limitTo: 3" class="inline"><a href="#" ng-click="">#{{channel}}</a></li>
  	</ol>
  </div>
  <!--
<div ng-show="vm.channels.length">
    <p>Your stream will be published in the following channels</p>
    <ul class="inline no-bullets">
      <li ng-repeat="channel in vm.channels" class="inline">#{{channel}}</li>
    </ul>
  </div>
-->
  <div class="checkbox-wrapper">
	  <label class="checkbox inline">
	  	<input type="checkbox" ng-model="vm.useGeolocation"/> Enable Geolocation?
	  </label>
	  <label class="checkbox inline" ng-show="vm.camera.videoSources.length > 1">
	  	<input type="checkbox" ng-click="vm.camera.toggleSource()" ng-disabled="!vm.camera.access"/> Flip Camera?
	  </label>
  </div>
  <input ng-click="ctrl.ready()" class="btn btn-primary btn-xlarge" ng-disabled="!vm.camera.access || goliveForm.caption.$invalid" role="submit" type="submit" value="Ready!"/>
</form><!-- /goliveForm -->
<div class="text-center" ng-show="vm.goliveService.status == 'connecting'">
  <h3>Connecting...</h3>
</div>
<div class="text-center" ng-show="vm.goliveService.status == 'connected'">
  <h3>Connected...</h3>
</div>
<h6 ng-show="vm.goliveService.status == 'disconnected'">By using Peepol.tv you consent to our <a href="#" ng-click="gotoTerms()">Terms of Service</a></h6>

