<h4>Let's reset your password.</h4>
<form name="passwordReset" role="form" ng-submit="resetPassword()" ng-controller="PasswordResetCtrl">
  <label class="visually-hidden" for="input-password">Your Password</label>
  <div class="input-prepend">
    <span class="add-on"><span class="fa fa-lock"></span></span>
    <input type="password" name="password" placeholder="your password" ng-model="resetData.password" required/>
    <div class="validate" ng-show="passwordReset.password.$dirty && passwordReset.password.$invalid">
      <small class="error">
        This password is invalid. Please check for errors.
      </small>
    </div><!-- /.validate -->
  </div>
  <label class="visually-hidden" for="input-confirm">Confirm Password</label>
  <div class="input-prepend">
    <span class="add-on"><span class="fa fa-lock"></span></span>
    <input type="password" name="confirm" placeholder="Confirm password" ng-model="resetData.confirm" required/>
    <div class="validate" ng-show="passwordError">
      <small class="error">
        {{passwordErrorText}}
      </small>
    </div><!-- /.validate -->
    <div class="validate" ng-show="invalidToken">
      <small class="error">
        Invalid Token.
      </small>
    </div><!-- /.validate -->
  </div>
  <input class="btn btn-primary" type="submit" value="Reset"/>
</form>

