<h4>Forgot your password?</h4><span class="one-liner">We can email it to you.</span>
<form name="passwordReset" role="form" ng-controller="PasswordCtrl" ng-submit="askPasswordReset()">
  <label class="visually-hidden" for="reset-password">Your Email</label>
  <div class="input-prepend">
    <span class="add-on"><span class="fa fa-envelope"></span></span>
    <input type="text" class="input-xlarge" name="reset-password" type="email" placeholder="your email" ng-model="user.email" required/>
    <div class="validate" ng-show="invalidEmail">
      <small class="error">There is no account associated with this email.</small>
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Send"/>
</form>

