<section class="top-content">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
    	<h3 class="span6">About Peepol.tv</h3>
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->
<div class="main" role="main">
  <div class="width-controller container-fluid">
    <section class="mid-content">
      <div class="row-fluid">
        <p>mid content</p>
      </div><!-- /.row-fluid -->
    </section><!-- /.lower-content -->
    <section class="lower-content">
      <div class="row-fluid">
        <p>lower content</p>
      </div><!-- /.row-fluid -->
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->