<section class="top-content">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
    	<article class="hero-unit span12">
      	<h1><span class="one-liner">it's your world.</span><span class="one-liner">stream it live.</span></h1>
        <p><strong>Peepol.tv offers live-streaming content</strong> within an easy-to-use community-building network where people throughout the world contribute and curate content for all to see and share. Discover events near and far, as they happen in real time, or search through our repository of video content.</p>
      </article>
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->
<div class="main" role="main">
  <div class="width-controller container-fluid">
    <section class="mid-content">
      <div class="row-fluid">
        <div class="well span4">
        	<img class="featureIcon" src="../images/android-ballicons.svg" alt="icon of smartphone"/>
        	<h3>Stream On-the-Go</h3>
        	<p>With no app to install you can immediately begin streaming.</p>
        </div><!-- /.well -->
        <div class="well span4">
        	<img class="featureIcon" src="../images/vj-ballicons.svg" alt="icon of control panel"/>
        	<h3>Curate Live Content</h3>
        	<p>Take the reins as a channel VJ and curate streams as they happen.</p>
        </div><!-- /.well -->
        <div class="well span4">
        	<img class="featureIcon" src="../images/globe-ballicons.svg" alt="icon of a globe">
        	<h3>Explore Your World</h3>
        	<p>Streams are mapped via geolocation. See who's streaming near you.</p>
        </div><!-- /.well -->
      </div><!-- /.row-fluid -->
      <div class="row-fluid">
      	<p class="text-center">Peepol.tv runs on WebRTC-enabled mobile and desktop browsers.</p>
      	<ul class="inline no-bullets text-center">
      		<li><img src="../images/chrome-32.png" alt="icon for the Chrome browser"/><span class="visually-hidden">Chrome</span></li>
      		<li><img src="../images/firefox-32.png" alt="icon for the Firefox browser"/><span class="visually-hidden">Firefox</span></li>
      		<li><img src="../images/opera-32.png" alt="icon for the Opera browser"/><span class="visually-hidden">Opera</span></li>
      		<li><img src="../images/android-32.png" alt="icon for Android OS"/><span class="visually-hidden">Android</span></li>
      	</ul>
      </div>
    </section><!-- /.mid-content -->
    <section class="lower-content">
      <div class="row-fluid">
      	<article>
      		<img src="../images/forktocat-clip.jpg" alt="an illustration of the Forktocat © GitHub" class="span4"/>
					<p class="span8"><strong>We invite all developers</strong> interested in building open tools for broadcasting live video and/or distributed recording of such video as evidence, to join the Peepol.tv dev-community. Our goal is to develop an open-source, standards-based, streaming video platform for desktop and mobile to help people around the world to stream and view live-media content, such as political protests or public events.  <a href="http://github.com/peepoltv" target="_blank" onClick="_gaq.push(['_trackEvent', 'click', 'link', 'github'])" class="follow-me-link">Collaborate with us on GitHub</a></p>
      	</article>
      </div><!-- /.row-fluid -->
      <div class="row-fluid">
      	<article>
      		<h1>Credits</h1>
      		<p><strong>A big thanks to:</strong></p>
      		<dl class="inline">
      			<dt><dfn>WebRTC</dfn></dt>
      			<dd>etc</dd>
      			<dt><dfn>Bootstrap</dfn></dt>
      			<dd>etc</dd>
      			<dt><dfn>Mapbox</dfn></dt>
      			<dd>etc</dd>
      			<dt><dfn>Assorted Icons</dfn></dt>
      			<dd>Glyphicons by</dd>
      			<dd>Ballicons by</dd>
      			<dd>Broswer icons by Paul Irish?</dd>
      			<dt><dfn>Forked from co-founder Jeff Warren...</dfn></dt>
      			<dd>etc</dd>
      		</dl>
      	</article>
      </div><!-- /.row-fluid -->
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->