<section class="top-content">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
    	<article class="hero-unit span12">
      	<h1><span class="one-liner">it's your world.</span><span class="one-liner">stream it live.</span></h1>
        <p><strong>Peepol.tv offers live-streaming content</strong>, within an easy-to-use community-building network, where people throughout the world contribute and curate content for all to see and share. Discover events near and far, as they happen in real time, or search through our repository of video content.</p>
      </article>
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->
<div class="main" role="main">
  <div class="width-controller container-fluid">
    <section class="mid-content">
      <div class="row-fluid">
        <div class="well span4">
        	<img src="#"/>
        	<h3>Streaming At Hand</h3>
        	<p>With no app to install you can immediately begin streaming...</p>
        </div><!-- /.well -->
        <div class="well span4">
        	<img src="#"/>
        	<h3>Live Content Curation</h3>
        	<p>Take the reins as a channel VJ...</p>
        </div><!-- /.well -->
        <div class="well span4">
        	<img src="#"/>
        	<h3>A Global View</h3>
        	<p>Real-time map-based results...</p>
        </div><!-- /.well -->
      </div><!-- /.row-fluid -->
    </section><!-- /.mid-content -->
    <section class="lower-content">
      <div class="row-fluid">
      	<article>
      		<img src="assets/images/forktocat.jpg" alt="an illustration of the Forktocat © GitHub" class="span4"/>
					<p class="span6"><strong>We invite all developers</strong> interested in building open tools for broadcasting live video and/or distributed recording of such video as evidence, to join the Peepol.tv dev-community. Our goal is to develop an open-source, standards-based, streaming video platform for desktop and mobile to help people around the world to stream and view live-media content, such as political protests or public events.  <a href="http://github.com/peepoltv" target="_blank" onClick="_gaq.push(['_trackEvent', 'click', 'link', 'github'])" class="follow-me-link">Collaborate with us on GitHub</a></p>
      	</article>
      </div><!-- /.row-fluid -->
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->