<section class="top-content">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h2>Browse Channels</h2>
        <h3>See what's popular, when, <span class="mobile-block">and where</span></h3>
      </div>
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->
<div class="main" role="main">
  <div class="width-controller container-fluid">
    <section class="mid-content">
      <div class="row-fluid">
        <div class="tabs">
          <ul class="inline unstyled">
            <li ng-class="{active: vm.by == 'latest'}">
              <a href="#" ng-click="vm.filter('latest')">
                <span class="fa fa-clock-o"></span>
                <span class="line-text">Latest</span>
              </a>
            </li>
            <li ng-class="{active: vm.by == 'nearby'}">
              <a href="#" ng-click="vm.filter('nearby')">
                <span class="fa fa-map-marker"></span>
                <span class="line-text">Nearby</span>
              </a>
            </li>
            <li ng-class="{active: vm.by == 'popular'}">
              <a href="#" ng-click="vm.filter('popular')">
                <span class="fa fa-thumbs-o-up"></span>
                <span class="line-text">Popular</span>
              </a>
            </li>
          </ul>
        </div><!-- /.tabs -->
      </div><!-- /.row-fluid -->
    </section><!-- /.mid-content -->
    <section class="lower-content">
      <div class="tab-content results-channels"
           infinite-scroll="vm.channels.getNextPage()"
           infinite-scroll-disabled="vm.channels.$pending"
           infinite-scroll-distance="1">
        <div class="tab-pane active">
          <div class="channel-item" ng-repeat="channel in vm.channels">

            <div class="row-fluid">
              <div class="span12">
                <h3 class="channel-title">
                  <a ui-sref="channel({channelName: channel.name})">
                    #{{channel.name}}
                  </a>
                </h3>
                <ul class="channel-details unstyled inline">
                  <li>
                    <span class="fa fa-clock-o"></span>
                    <span class="line-text" am-time-ago="channel.usedAt"></span>
                  </li>
                  <li>
                    <span class="fa fa-eye"></span>
                    <span class="line-text">{{channel.totalWatches}}</span>
                  </li>
                  <li>
                    <span class="fa fa-video-camera"></span>
                    <span ng-show="channel.streamsCount == 0" class="line-text">
                      No videos available.
                    </span>
                    <span ng-show="channel.streamsCount == 1" class="line-text">
                      video
                    </span>
                    <span ng-hide="channel.streamsCount == 0 || channel.streamsCount == 1" class="line-text">{{channel.streamsCount}} videos</span>
                  </li>
                </ul>
              </div>
            </div><!-- /.row-fluid -->

            <div class="row-fluid hidden-phone">
             <div class="module-large span3"
                   ng-repeat="stream in channel.mostLikedStreams">
                <div ng-include="'/views/snippets/allchannels-module.html'"></div>
              </div><!-- stream -->
            </div><!-- /.row-fluid -->

          </div><!-- /.channel-item -->
        </div><!-- /.tab-pane -->
      </div><!-- /.tab-content -->
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
