<section class="top-content feature">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
<!-- NOTE FROM CHRIS
the "default-wrapper" and "loggedin-actions" need to change when the user is logged-in or not. Dynamically add a class of 'visually-hidden' to the appropriate div -->
      <div class="default-wrapper visually-hidden">
        <div ng-include="'/views/layouts/default-actions.html" %>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions">
        <div ng-include="'/views/layouts/channel-actions.html" %>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller container-fluid">
      <div ng-include="'/views/local.html" %>
  </div><!-- /.container-fluid -->
</div><!-- /.main -->

