<section class="top-content" ng-class="{true: 'loggedIn', false: 'feature'}[app.isLoggedIn]">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
     <div class="default-wrapper clearfix" ng-hide="app.isLoggedIn">
      <div ng-include="'/views/layouts/default-actions.html'"></div>
    </div><!-- /.default-wrapper -->
    <div class="loggedin-actions channel-view clearfix" ng-show="app.isLoggedIn">
      <div ng-include="'/views/layouts/channel-actions.html'"></div>
    </div><!-- /.loggedin-action -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller container-fluid">
  	<section class="mid-content">
      <div class="row-fluid">
        <h3 class="span12">Now Viewing: #{{channel.name}}</h3>
      </div>
      <div class="row-fluid">
        <div class="module-xlarge span8 {{currentStream ? 'online' : 'offline'}}">
          <div class="module-video">
            <div ng-if="currentStream" feature-overlay stream="self.currentStream"></div>
            <div video-canvas-projector width="640" height="360" video="currentStream.licode.player.video"></div>
          </div><!-- /.module-video -->
          <div class="module-outer">
              <h5>
                <span class="fa fa-video-camera"></span>
                <span class="line-text"><strong>Current Stream:</strong> <span ng-bind-html="currentStream.caption | hashToLink"></span></span>
              </h5>
              <h5 ng-show="self.fixedAudioStream">
                <span class="fa fa-headphones"></span>
                <span class="line-text"><strong>Current Audio from:</strong> <span ng-bind-html="self.fixedAudioStream.caption | hashToLink"></span></span>
              </h5>
          </div><!-- /.module-outer -->
        </div><!-- /.module-xlarge -->
        <div class="span4 visible-desktop hidden-tablet video-chat">
          <div ng-if="currentStream" class="comments-wrapper">
            <div ng-if="!vjStarted">
              <h3>What people say on #{{channel.name}}</h3>
              <div standard-comments room="channel.name"></div>
            </div>
            <div ng-if="vjStarted">
              <h3>What people say on your Vj Session</h3>
              <div standard-comments room="vjCommentsRoomId"></div>
            </div>
          </div>
          <div ng-if="!currentStream" class="comments-wrapper">
            <h3>This channel is offline now, it will become online as soon you or someone else start
              streaming with caption including <em>#{{channel.name}}</em> hashtag.</h3>
          </div>
        </div><!-- /.video-chat.span4 -->
      </div><!-- /.row-fluid -->
    </section><!-- /.mid-content -->
    <section class="lower-content media-area">
      <div class="row-fluid">
        <div class="span12">
          <h3 ng-if="currentStream">Switch Camera Views</h3>
          <div stream-carousel streams="self.liveStreams" current-stream="currentStream" fixed-audio-stream="self.fixedAudioStream"></div>
        </div>
      </div><!--/.row-fluid -->
      <div class="hidden-desktop">
        <div class="row-fluid">
          <div class="span12" ng-if="!currentStream">
            <h3>This channel is offline now, it will become online as soon you or someone else start
              streaming with caption including <em>#{{channel.name}}</em> hashtag.</h3>
          </div>
          <div class="span12" ng-if="currentStream">
            <div ng-if="!vjStarted">
              <h3>What people say on #{{channel.name}}</h3>
              <div standard-comments room="channel.name"></div>
            </div>
            <div ng-if="vjStarted">
              <h3>What people say on your Vj Session</h3>
              <div standard-comments room="vjCommentsRoomId"></div>
            </div>
          </div>
        </div><!-- /.row-fluid -->
      </div>
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->

