<section class="top-content feature">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
			<div class="default-wrapper" ng-show="!user.email">
        <div ng-include="'/views/layouts/default-actions.html'"></div>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions" ng-show="user.email">
        <div ng-include="'/views/layouts/channel-actions.html'"></div>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller container-fluid">
  	<section class="mid-content">
		  <div class="row-fluid">
		    <div class="module-xlarge span12">
		      <div ng-include="'/views/snippets/module-xlarge-channel.html'"></div>
		    </div><!-- /.module-xlarge -->
		  </div><!-- /.row-fluid -->
		</section><!-- /.mid-content -->
		<section class="lower-content">
		  <div class="row-fluid">
		    <h3 class="span6">
		      Switch Camera Views
		    </h3>
		    <div class="span6">
		      <form method="get" action="" class="pull-right">
		        <label class="visually-hidden" for="channel-stream-filter">
		          Filter Streams By:
		        </label>
		        <select name="channel-stream-filter">
		          <option value="" disabled="disabled" selected="selected">Filter Streams By:</option>
		          <option value="local">Nearby</option>
		          <option value="featured">Featured</option>
		          <option value="trending">Trending</option>
		        </select>
		      </form>
		    </div><!-- /.span6 -->
		  </div><!-- /.row-fluid -->
		  <div class="row-fluid">
		    <div class="video-slider span12">
		      <a href="#" class="slider-control pull-left span1" title="Under Development" rel="tooltip"><i class="icon-arrow-left"></i><span class="visually-hidden">Previous</span></a>
		      <div class="slider-wrapper pull-left span10">
		        <div class="row-fluid">
		          <div class="span12">
		            <ul class="no-bullets">
		              <li class="module-mini pull-left span2" ng-repeat="stream in channel.streams | limitTo:20">
		                <div ng-include="'/views/snippets/module-mini.html'" ng-click="changeMainStream(stream)"></div>
		              </li>
		            </ul>
		          </div>
		        </div>
		      </div>
		      <a href="#" class="slider-control pull-left span1" title="Under Development" rel="tooltip"><i class="icon-arrow-right"></i><span class="visually-hidden">Next</span></a>
		    </div><!-- /.video-slider -->
		  </div><!-- /.row-fluid -->
		</section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->

