<section class="top-content feature">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
			<div class="default-wrapper" ng-hide="app.isLoggedIn">
        <div ng-include="'/views/layouts/default-actions.html'"></div>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions" ng-show="app.isLoggedIn">
        <div ng-include="'/views/layouts/channel-actions.html'"></div>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller container-fluid">
  	<section class="mid-content">
		  <div class="row-fluid">
		    <div class="module-xlarge span12">
          <canvas id="channel-canvas" width="940" height="512"></canvas>
		    </div><!-- /.module-xlarge -->
		  </div><!-- /.row-fluid -->
		</section><!-- /.mid-content -->
		<section class="lower-content">
		  <div class="row-fluid">
		    <h3 class="span12">
		      Switch Camera Views
		    </h3>
		  </div><!-- /.row-fluid -->
		  <div class="row-fluid">
        <div owl-carousel items="channel.streams" item-template="/views/snippets/module-mini.html"></div>
			</div><!--/.row-fluid -->
		</section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->

