<section class="top-content feature">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
<!-- NOTE FROM CHRIS
the "default-wrapper" and "loggedin-actions" need to change when the user is logged-in or not. Dynamically add a class of 'visually-hidden' to the appropriate div -->
      <div class="default-wrapper visually-hidden">
        <div ng-include="'/views/layouts/default-actions.html'"></div>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions">
        <div ng-include="'/views/layouts/base-actions.html'"></div>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller container-fluid">
    <div class="mid-content">
      <div class="row-fluid">
        <nav class="faux-tabs span6" role="navigation">
          <ul class="inline no-bullets">
            <li><a href="/">Happening Now</a></li>
            <li><a href="/explore">Explore Your World</a></li>
          </ul>
        </nav>
        <div class="span6">
          <form method="get" name="form-geo" class="form-geo pull-right" ng-submit="searchAddress()" role="search">
            <label for="geolocate" class="visually-hidden">Search by location</label>
            <div class="input-append input-prepend">
              <span class="add-on">
                <a href="#" title="Find Me!" ng-click="getCurrent()"><i class="icon-map-marker"></i></a>
              </span>
              <input type="search" ng-model="address" placeholder="current location">
              <input class="btn hidden-phone" type="submit" value="Go!">
            </div><!-- /.input-append -->
          </form>
        </div><!-- /.span6 -->
      </div><!-- /.row-fluid -->
    </div><!-- /.mid-content -->
    <section class="lower-content">
      <div class="row-fluid">
        <div class="map-wrapper" class="span12">
          <div id="map" class="dark"></div>
        </div>
      </div><!-- /.row-fluid -->
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
