<section>
	<div class="container-fluid">
		<div id="options" class="row-fluid collapse in">
			<div class="span10">
				<form class="form-inline pull-left" method="get">
					<label for="input-title">
						<span class="visually-hidden">Title</span>
						<input id="input-title" ng-model="title" placeholder="stream title"/>
					</label>
					<label for="input-desc">
						<span class="visually-hidden">Description</span>
						<input id="input-desc" ng-model="desc" placeholder="description"/>
					</label>
					<input type="submit" class="btn" ng-click="onAir()" ng-disabled="!readyToGo">Submit</button>
				</form>
				<ul class="specs-stream no-bullets pull-right">
					<li class="specs-comments pull-left">
						<i class="icon-comment icon-white"></i>
						<a href="#" title="see comments on this live-stream"> 12</a>
					</li>
					<li class="specs-rebroadcasts pull-left">
						<i class="icon-retweet icon-white"></i>
						<a href="#" title="see rebroadcasts"> 24</a>
					</li>
					<li class="specs-hearts pull-left">
						<i class="icon-heart icon-white"></i>
						<a href="#" title="see who hearts this stream"> 48</a>
					</li>
				</ul><!-- /.specs-stream -->
			</div>
		</div><!-- /#options -->
		<div class="row-fluid">
			<div class="span12">
				<div id="myBroadcast" style="width:640px; height: 480px;"></div>
			</div>
		</div><!-- /.row-fluid -->
	</div><!-- /.container-fluid -->
</section>
<script>
	$(function () {
		$('#options').collapse({
			toggle: false
		});
	})
</script>