<div class="main mobileForm" role="main">
  <div class="width-controller container-fluid">
    <section class="top-content" ng-hide="vm.goliveService.status == 'connected'">
      <div class="row-fluid">
        <div class="span12">

         	<div class="alert alert-warning" ng-hide="vm.camera.access">
					  <span class="block">Please enable camera permissions for your browser.</span>
					</div><!-- /.alert -->
        </div><!-- /.span12 -->
      </div><!-- /.row-fluid -->

			<div class="row-fluid">
				<div class="span12">
					<form class="goliveForm" name="goliveForm" role="form" ng-show="vm.goliveService.status == 'disconnected'">
					  <label class="visually-hidden" for="caption">Use hashtags in your caption to add your video to a channel:</label>
					  <textarea class="input-block-level"
					  					name="caption"
					  					rows="4"
					  					maxlength="120"
					  					placeholder="Going Live? Add caption or use #hashtag to add video to a channel."
					  					ng-model="vm.caption">
					  </textarea>
					  <div class="validate" ng-show="vm.captionWarning">
					  	<small class="info">Caption limited to 120 characters.</small>
					  </div><!-- /.validate -->
					  <div class="m_20b" ng-show="vm.nearChannels.length">
							<p>Suggested channels:</p>
							<ol class="channel-suggest inline no-bullets">
								<li ng-repeat="channel in vm.nearChannels | filter:ctrl.usedHashes | limitTo: 3" class="inline"><input type="button" class="btn" ng-click="ctrl.addHashTag(channel.name)" value="#{{channel.name}}"/></li>
							</ol>
					  </div>
					  <div class="controls controls-row">
							<button type="button"
					  					class="btn btn-default btn-small btn-checkbox btn-twitter"
					  					ng-model="vm.sharingOptions.shareTwitter"
					  					ng-change="ctrl.tryConnection('twitter', vm.sharingOptions.shareTwitter)"
					  					btn-checkbox>
					        <span class="visually-hidden"> Tweet Your Video?</span>
					    </button>
					    <button type="button"
					  					class="btn btn-default btn-small btn-checkbox btn-facebook"
					  					ng-model="vm.sharingOptions.shareFacebook"
					  					ng-change="ctrl.tryConnection('facebook', vm.sharingOptions.shareFacebook)"
                      btn-checkbox>
					        <span class="visually-hidden"> Post on Your Wall?</span>
					    </button>
					    <a href="#" ng-click="ctrl.shareWhatsapp()"
					  					class="btn btn-default btn-small btn-checkbox btn-whatsapp">
					        <span class="visually-hidden"> Share on WhatsApp</span>
					    </a>
					  </div><!-- /.controls.controls-row -->
					  <div class="controls controls-row">
					  	<button type="button"
					  					class="btn btn-default btn-small btn-checkbox btn-geolocate"
					  					ng-model="vm.useGeolocation"
					  					btn-checkbox>
					        <span class="visually-hidden"> Enable Geolocation?</span>
					    </button>
					    <button type="button"
					  					class="btn btn-default btn-small btn-checkbox btn-archive"
					  					ng-model="vm.sharingOptions.archive"
					  					ng-disabled="!vm.camera.access"
					  					btn-checkbox>
					        <span class="visually-hidden"> Archive a Copy</span>
					    </button>
					    <button type="button"
					  					class="btn btn-default btn-small btn-checkbox btn-flip"
					  					ng-show="vm.camera.videoSources.length > 1"
					  					ng-model="singleModel"
					  					ng-click="vm.camera.toggleSource()"
					  					ng-disabled="!vm.camera.access"
					  					btn-checkbox>
					        <span class="visually-hidden"> Flip Camera?</span>
					    </button>
					    <!--
<button type="button"
					  					class="btn btn-default btn-small btn-checkbox btn-hd"
					  					ng-model="vm.camera.isHD"
					  					ng-click="vm.camera.toggleHD()"
					  					ng-disabled="!vm.camera.access"
					  					btn-checkbox>
					        <span class="visually-hidden"> HD Video?</span>
					    </button>
-->
					  </div><!-- /.controls.controls-row -->
					  <div class="controls controls-row">
						  <input ng-click="ctrl.ready()"
						  			 class="btn btn-primary btn-large btn-block"
						  			 ng-disabled="!vm.camera.access || goliveForm.caption.$invalid"
						  			 role="submit" type="submit" value="Ready!"/>
						  <input ng-click="ctrl.ready()"
						  			 class="btn btn-accent btn-large btn-block"
						  			 ng-disabled="!vm.camera.access || goliveForm.caption.$invalid"
						  			 role="submit" type="submit" value="Skip It!"/>
						  <input ng-click="gotoProfile()"
						  			 class="btn btn-default btn-large btn-block"
						  			 role="button" type="button" value="Take me to the website"/>
					  </div><!-- /.controls.controls-row -->
					</form><!-- /goliveForm -->
				</div><!-- /.span12 -->
			</div><!-- /.row-fluid -->

			<div class="row-fluid">
				<div class="span12">
					<div class="status-wrapper" ng-show="vm.goliveService.status == 'connecting'">
					    <div class="loading-wrapper">
					      <img src="../images/loading-bars.svg" width="64" height="64" alt="loading icon">
					    </div>

					    <div ng-show="vm.goliveService.connectingTime < 20">
					      <h3>Connecting to service...</h3>
					    </div>

					    <div ng-show="vm.goliveService.connectingTime >= 20">
					      <h3>Something is wrong, still trying...</h3>
					      <div class="alert alert-error">
					        <p>You may have a network problem. Please wait or try again later.</p>
					      </div>
					    </div>
					 </div><!-- /.status-wrapper -->
				</div><!-- /.span12 -->
			</div><!-- /.row-fluid -->

			<div class="row-fluid">
				<div class="span12">
					<div class="status-wrapper">
						<div ng-show="vm.goliveService.status == 'connected'">
						  <h3>Connected!</h3>
						</div>
						<h6 class="m_10t" ng-show="vm.goliveService.status == 'disconnected'">By using Rhinobird.tv you consent to our <a href="#" ng-click="gotoTerms()">Terms of Service</a></h6>
					</div><!-- /.status-wrapper -->
        </div><!-- /.span12 -->
      </div><!-- /.row-fluid -->
    </section><!-- /.top-content -->

    </div><!-- /.container-fluid -->
</div><!-- /.main -->
<div class="container-fluid">
	<section class="goliveMobile" ng-show="vm.goliveService.status == 'connected'">
	  	<div class="row-fluid golive-view">
	      <div class="loggedin-actions span12">
	        <div ng-include="'/views/layouts/golive-actions.html'"></div>
	      </div><!-- /.loggedin-action -->
	      <div class="collapse-btn-wrapper">
	    		<button class="btn btn-sm"
	    			data-toggle="collapse" data-target="#actionBar" role="button">
	    			<i class="icon-chevron-up"></i>
	    		</button>
	    	</div>
	    </div><!-- /.golive-view.row-fluid -->
	    <div class="activity-flag" ng-show="vm.goliveService.stream && vm.goliveService.stream.$pending">
	    	<img src="../images/loading-bubbles.svg" width="75px" height="75px" alt="loading icon"/>
	    </div><!-- /.activity-flag -->
	    <div class="golive-features">
		    	<p class="block">
		    		<i class="icon-eye-open icon-white"></i>
		    		25
		    	</p>
		    	<p class="block">
		    		<i class="icon-thumbs-up icon-white"></i>
		    		4
		    	</p>
		    	<p class="block">
		    		<a  data-toggle="collapse"
			    			data-target="#commentBox"
				    		role="button">
			    		<i class="icon-comment icon-white"></i>
			    		<span>3 comments</span>
		    		</a>
		    	</p>
		    	<div class="commentBox collapse" id="commentBox">
			    	<ul class="no-bullets">
				    	<li><p>Comments here needs character limit</p></li>
				    	<li><p>Small batch taxidermy Williamsburg, art party post-ironic Echo Park selfies authentic yr try-hard readymade lomo distillery freegan hashtag</p></li>
				    	<li><p>Three shown max?</p></li>
			    	</ul>
		    	</div>
	    </div><!-- /.golive-features -->
	  </section><!-- /.goliveMobile -->
</div><!-- /.container-fluid -->

<div class="container-fluid stream-wrapper" ng-show="vm.goliveService.status == 'connected'">
  <div class="row-fluid">
    <div class="span12">
      <licode class="video-container" token="vm.goliveService.stream.ownerToken" flow="outbound" on="true" record="{{vm.sharingOptions.archive}}" full-bleed></licode>
    </div>
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->