<section class="main">
  <div class="golive-view">

    <div ng-if="vm.connected && vm.stream.status == 'live'"
         class="actionBar collapse in" id="actionBar"
         ng-controller="CommentsCtrl" ng-init="init(vm.stream.id)">
      <div ng-include="'/views/layouts/golive-actions.html'"></div>
      <div class="validate fadeOut" ng-show="vm.showSuccessSnapshot">
        <small class="success">Snapshot success!</small>
      </div><!-- /.validate -->
      <div class="validate fadeOut" ng-show="vm.showSuccess">
        <small class="success">Caption successfully updated.</small>
      </div><!-- /.validate -->
    </div><!-- /#actionBar -->

    <div class="collapse-btn-wrapper">
      <button class="btn btn-small" data-toggle="collapse"
              data-target="#actionBar" role="button">
              <span class="fa fa-chevron-up"></span>
      </button>
    </div>
  </div><!-- /.golive-view -->
  <div class="activity-flag" ng-show="vm.goliveService.stream && vm.goliveService.stream.$pending && vm.goliveService.stream.status == 'live'">
  	<img src="../images/loading-bubbles.svg" width="75px" height="75px" alt="loading icon"/>
  </div><!-- /.activity-flag -->
  <div ng-if="vm.connected && vm.stream.status == 'live'" class="desktop-chat-wrapper collapse width" id="commentSlide">
    <div standard-comments stream="vm.stream"></div>
  </div>
  <div class="stream-wrapper">
    <licode class="video-container" token="vm.goliveService.stream.ownerToken" flow="outbound" on="true" record="{{vm.sharingOptions.archive}}" full-bleed></licode>
  </div><!-- /.stream-wrapper -->
</section>

<script text="text/javascript">
  $(function(){
    $(".collapse-btn-wrapper button").click(function(){
      console.log(this);
      $("span.fa",this).toggleClass("fa-chevron-up fa-chevron-right");
    });
  });
</script>