<div class="main" role="main">
  <div class="width-controller container-fluid">
    <section class="mid-content">
      <div class="row-fluid">
        <article class="goodbye">
            <img class="hidden-phone" src="../images/rb-waving.svg"
                 alt="Goodbye! We are sorry to see you go, parting is such sweet sorrow!"/>
            <img class="hidden-desktop" src="../images/rb-waving-mobile.svg"
                 alt="Goodbye! We are sorry to see you go, parting is such sweet sorrow!"/>
        </article>
      </div><!-- /.row-fluid -->
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
