<header class="banner" role="banner" ng-controller="HeaderCtrl">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="width-controller container-fluid">
        <div class="row">
          <div class="main-nav-wrapper">
            <nav class="main-nav" role="navigation">
              <a href="#" id="drop1" class="navToggle dropdown-toggle" data-toggle="dropdown" role="button"><span class="visually-hidden">Navigation</span></a>
              <div class="mega-menu dropdown-menu" role="menu" aria-labelledby="drop1">
              	<div class="main-menu clearfix">
              		<ul class="no-bullets">
		                <li class="navLink">
		                  <a href="#" ng-click="login()" ng-hide="user.email"><i class="icon-lock"></i>Sign In</a>
		                  <a href="#" ng-click="logout()" ng-show="user.email"><i class="icon-lock"></i>Sign Out</a>
		                </li>
		                <li class="navLink"><a ui-sref="explore"><i class="icon-globe"></i>Explore</a></li>
		                <li class="navLink deactivated"><a><i class="icon-info-sign"></i>Take the Tour!</a></li>
		                <li class="navLink" ng-show="app.isLoggedIn"><a ui-sref="profile.streams"><i class="icon-user"></i>Your Profile</a></li>
		              </ul>
              	</div><!-- /.menu-top -->
              	<div class="colophon clearfix" role="content-info">
	              	<ul class="no-bullets">
										<li class="deactivated"><a title="about rhinobird.tv">About Rhinobird</a></li>
										<li><a ui-sref="privacy" title="privacy statement">Privacy</a></li>
										<li><a ui-sref="terms" title="terms of service" rel="license">Terms of Service</a></li>
										<li><a ui-sref="trademark" title="copyright and trademark" >Copyright & Trademark</a></li>
									</ul>
									<small>&copy; 2012 - 2014 The People's Media Company LLC</small>
									<small>This site is licensed under a <a href="https://www.gnu.org/licenses/gpl-3.0.txt" title="GPL License" rel="copyright">GNU General Public License</a>  |  <a href="mailto:hello@rhinobird.tv" rel="contact">hello@rhinobird.tv</a></small>
	              </div><!-- /.menu-bottom -->
              </div><!-- /.mega-menu -->
            </nav><!-- /.main-nav -->
            <div id="navbar-search" class="navbar-search">
            	<form ng-controller="SearchCtrl" ng-submit="search()">
								<input class="nb-search-input" type="search" placeholder="search videos, #channels, people" ng-model="searchTerms" id="nb-search-icon"/>
								<input class="nb-search-submit" type="submit" value=""/>
								<span class="nb-search-icon"></span>
	            </form>
            </div>
            <a href="/" class="brand" title="return to home" rel="home"><span class="visually-hidden">rhinobird.tv</span></a>
          </div><!-- /.main-nav-wrapper -->
          <a class="golive-btn pull-right livebtn" ng-hide="app.onAir" ng-click="golive()" href="#" role="button">
          	<span class="golive-icon">
							<svg xmlns="http://www.w3.org/2000/svg"
									 xmlns:xlink="http://www.w3.org/1999/xlink"
									 x="0px" y="0px"
									 width="24px" height="24px"
									 viewBox="0 0 24 24"
									 enable-background="new 0 0 24 24"
									 xml:space="preserve">
									<g>
										<circle fill="#F92D30" cx="12" cy="12" r="11.543"/>
										<circle fill="#660F0E" cx="12" cy="12" r="5.61"/>
										<circle fill="#FFFFFF" cx="18.693" cy="12" r="2.534"/>
									</g>
							</svg>
          	</span>
          	<span class="hidden-phone">Go Live</span>
          </a>
          <a class="golive-btn pull-right stopStream" ng-show="app.onAir" ng-click="stopBroadcast({goback: false})" href="#" role="button">
          	<span class="golive-icon" ng-class="{true: 'glow'}[app.onAir]">
          		<svg xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink"
								x="0px" y="0px"
								width="24px" height="24px"
								viewBox="0 0 24 24"
								enable-background="new 0 0 24 24"
								xml:space="preserve">
								<circle fill="#F92D30" cx="12" cy="12" r="11.123"/>
								<rect x="6.625" y="6.625" fill="#660F0E" width="10.75" height="10.75"/>
							</svg>
          	</span>
          	<span class="hidden-phone">Stop</span>
          </a>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div><!-- /.inner-navbar -->
  </div><!-- /.navbar -->
  <alert type="'info'" class="compatibility-flag" close="dismissWebRTCAlert()" ng-if="showWebRTCAlert()">
    <strong class="block">Hello!</strong> Rhinobird.tv uses Web-RTC to stream live via the browser. This feature is not yet available on iOS mobile and tablet devices. <a href="#" class="block">Learn more here.</a>
  </alert>
</header>
<!-- for expanding search bar -->
	<script>
		new UISearch( document.getElementById( 'navbar-search' ) );
	</script>
<!-- end -->
