<header class="banner" role="banner">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="width-controller container-fluid bounds">
				<div class="row-fluid">
					<div class="golive-btn-wrapper span3">
						<button class="golive-btn" ng-class="{'active': section == 'golive'}">
              <a href="/golive"><i class="golive-icon"></i> Go Live!</a>
						</button>
					</div><!-- /.span3 -->
					<div class="main-nav-wrapper span6">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						</button>
						<nav class="main-nav nav-collapse collapse" role="navigation">
							<ul class="nav">
								<li class="navLink hidden-desktop">
									<a href="#" ng-click="openLoginModal()" ng-hide="user.email">Sign In</a>
									<a href="#" ng-click="logout()" ng-show="user.email">Logout</a>
								</li>
								<li class="navLink" ng-class="{'active': section == 'explore'}"><a href="/explore">Explore</a></li>
								<li class="navLink" ng-class="{'active': section == 'channels'}"><a href="/channels">Channels</a></li>
								<li class="navLink" ng-class="{'active': section == 'peepol'}"><a href="#" title="under development" rel="tooltip" data-toggle="tooltip" data-placement="bottom">Peepol & VJs</a></li>
							</ul><!-- /.nav -->
						</nav><!-- /.main-nav -->
					</div><!-- /.main-nav-wrapper -->

					<div class="golive-nav-wrapper span9">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						</button>
						<nav class="golive-nav nav-collapse collapse" role="navigation">
							<ul class="nav">
								<li class="navLink action"><a href="/explore" ng-click="stopBroadcast()"><i class="icon-circle-arrow-left"></i> Return & Close</a></li>
								<li class="navLink action"><a href="#" ng-click="stopBroadcast(true)"><i class="icon-remove-sign"></i> Stop Recording</a></li>
								<li class="navLink action hidden-phone"><a href="#" ng-click="toggleOptions()"><i class="icon-headphones"></i> Options</a></li>
							</ul><!-- /.nav -->
						</nav><!-- /.golive-nav -->
					</div><!-- /.golive-nav-wrapper -->

					<div class="nav-utility hidden-phone span3">
						<a class="brand hidden-phone" href="/index" title="Peepol.tv">
							<span class="visually-hidden">Peepol.tv Home</span>
						</a>
						<h5 class="login-link">
              <a href="#" ng-click="openLoginModal()" ng-hide="user.email">Sign In</a>
              <a href="#" ng-click="logout()" ng-show="user.email">Logout</a>

						</h5>
					</div><!-- /.span3 -->
				</div><!-- /.row-fluid -->
			</div><!-- /.container-fluid -->
		</div><!-- /.inner-navbar -->
	</div><!-- /.navbar -->
</header>


<div ng-include="'/views/snippets/login-signup-modal.html'"></div>
