<section class="top-content" ng-class="{true: 'loggedIn', false: 'feature'}[app.isLoggedIn]">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <div class="default-wrapper clearfix" ng-hide="app.isLoggedIn">
        <div ng-include="'/views/layouts/default-actions.html'"></div>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions clearfix" ng-show="app.isLoggedIn">
        <div ng-include="'/views/layouts/base-actions.html'"></div>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller container-fluid">
    <div class="mid-content">
      <div class="row-fluid">
        <nav class="faux-tabs span6" role="navigation">
          <ul class="inline no-bullets">
            <li ui-sref-active="active">
              <a ui-sref="main.timeline">
                <span class="fa fa-star"></span>
                <span class="line-text">My RB</span>
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="main.world">
                <span class="fa fa-star"></span>
                <span class="line-text">World</span>
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="main.explore">
                <span class="fa fa-globe"></span>
                <span class="line-text">Explore</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="span6" ui-view="rightaction"></div>
      </div><!-- /.row-fluid -->
    </div><!-- /.mid-content -->
    <div ui-view></div>
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
