<div class="main" role="main">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <section class="mid-content">
          <div class="row-fluid">
        <div class="span8">
          <h3 class="section-title">
          <i class="channel-icon"></i> protests
          </h3>
        </div>
        <div class="span4">
          <form method="get" name="form-geo" class="form-geo pull-right" role="search">
            <label for="geolocate" class="visually-hidden">Search by location</label>
            <div class="input-append input-prepend">
              <span class="add-on">
                <a href="#" title="Find Me!"><i class="icon-map-marker"></i></a>
              </span>
              <input type="search" placeholder="current location">
              <input class="btn" type="submit" value="Go!">
            </div><!-- /.input-append -->
          </form>
        </div><!-- /.span4 -->
      </div><!-- /.row-fluid -->
          <div class="row-fluid">
            <div class="span12">
              <div class="carousel-wrapper">
                <div class="row-fluid">
                  <div class="module-xlarge span12">
                    <div class="module-video">
                      <div class="module-overlay">
                        <div class="btn-overlay">
                          <button class="pull-right" type="button" data-toggle="modal" data-target="#rebroadcast-modal">
								<i class="icon-retweet"></i>
								<span class="visually-hidden">Rebroadcast This Stream</span>
							</button>
							<button class="pull-right" type="button" data-toggle="modal" data-target="#share-modal">
								<i class="icon-share"></i>
								<span class="visually-hidden">Share This Stream</span>
							</button>
							<button class="pull-right" type="button" ng-click="toggleMute()">
				            	<i ng-class="{'icon-volume-off': !globalMute, 'icon-volume-up': globalMute }"></i>
				            	<span class="visually-hidden">Mute</span>
							</button>
                        </div>
                      </div><!-- /.module-overlay -->
                      <div>
                        <!-- <img ng-src="{{stream.thumbs.large}}" width="845" height="480" class="specs-thumb"/> -->
                        <canvas id="canvas" width="940" height="512"></canvas>
                      </div>
                      <ul class="specs-stream no-bullets">
                        <li class="specs-title pull-left"><em class="title">{{stream.title}}</em></li>
                        <li class="specs-location pull-left">
                          <i class="icon-map-marker icon-white"></i> Live from <span class="auto-location"><a href="#">{{stream.geo}}</a></span>
                        </li>
                        <li class="specs-tags">
							<ul class="group no-bullets">
								<li class="tag pull-left" ng-show="stream.tags.length == 0"><a href="#">untagged</a></li>
								<li class="tag pull-left" ng-repeat="tag in stream.tags"><a href="#" rel="tag">{{tag}}</a></li>
							</ul>
						</li>
                        <li class="specs-comments pull-right">
                          <i class="icon-comment icon-white"></i>
                          <a href="#" title="see comments on this live-stream"> {{stream.comments}}</a>
                        </li>
                        <li class="specs-rebroadcasts pull-right">
                          <i class="icon-retweet icon-white"></i>
                          <a href="#" title="see rebroadcasts"> {{stream.rebrodcasts}}</a>
                        </li>
                        <li class="specs-hearts pull-right">
                          <i class="icon-heart icon-white"></i>
                          <a href="#" title="see who hearts this stream"> {{stream.likes}}</a>
                        </li>
                      </ul><!-- /.specs-stream -->
                    </div><!-- /.module-video -->


                  </div><!-- /.module-xlarge -->
                </div><!-- /.row-fluid -->
                <div class="row-fluid">
                  <div class="video-slider span12">
                    <a href="#" class="slider-control pull-left span1" title="Previous Streams"><i class="icon-arrow-left"></i><span class="visually-hidden">Previous</span></a>
                    <div class="slider-wrapper pull-left span10">
                      <div class="row-fluid">
                        <div class="span12">
                          <ul class="no-bullets">
                            <li class="module-mini pull-left span2" ng-repeat="(key, stream) in streams">
                              <div class="module-video" ng-click="changeStream(key)">
                                <div class="module-overlay">
                                  <ul class="specs-stream no-bullets">
                                    <li class="specs-title"><em class="title">{{stream.title}}</em></li>
                                  </ul>
                                </div><!-- /.module-overlay -->
                                <a href="/streams/{{stream.id}}" class="live-stream-link">
                                  <video id="stream{{key}}" ng-src="http://beta.peepol.tv/videos/stream{{key}}.mp4" width="113" height="63" autoplay loop muted></video>
                                </a>
                              </div><!-- /.module-video -->
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="slider-control pull-left span1" title="Next Streams"><i class="icon-arrow-right"></i><span class="visually-hidden">Next</span></a>
                  </div><!-- /.video-slider -->
                </div><!-- /.row-fluid -->
              </div><!-- /.carousel-wrapper -->
            </div><!-- /.span12 -->
            </div><!-- /.row-fluid -->
        </section><!-- /.mid-content -->

        <section class="lower-content stream-area">
        <!-- NOTE FROM CHRIS: whenever section has streaming content, add stream-area class. And the hook.js refresh button as in below. -->
          <div class="row-fluid">
            <div class="span12">
              <div class="hook" id="hook">
                <a href="#"><span>refresh</span></a>
              </div>
            </div>
          </div><!-- /.row-fluid -->
          <div class="row-fluid">
            <div class="span12">
              <h3 class="section-title">
                <i class="channel-icon"></i>
                Matching Channels
              </h3>
      </div><!-- /.span12 -->
    <div ng-include="'/views/snippets/tags-list.html'"></div>
</section><!-- /.lower-content -->

  </div><!-- /.container-fluid -->
</div><!-- /.main -->
