<p>Edit your username, avatar, email, etc.</p>
<div class="row-fluid">
	<div class="span6 form-wrapper">
		<form class="general-form" name="userSettings" role="form" ng-submit="" ng-controller="">
			<div class="form-block">
				<fieldset>
					<label for="input-name">Name:</label>
					<input class="input-xlarge" type="text" id="input-name" value="{{self.user.name}}"/>
					<div class="validate" ng-show="">
						<small class=""></small>
					</div>
				</fieldset>
				<small class="detail">How we address you. Your name is not public.</small>
			</div><!-- /.form-block -->
			<div class="form-block">
				<fieldset>
					<label for="input-username">Username:</label>
					<input class="input-xlarge" type="text" id="input-username" value="{{self.user.username}}"/>
					<div class="validate" ng-show="">
						<small class=""></small>
					</div>
				</fieldset>
				<small class="detail">Your Peepol.tv username.</small>
			</div><!-- /.form-block -->
			<div class="form-block">
				<fieldset>
					<label for="input-email">Email:</label>
					<input class="input-xlarge" type="email" id="input-email" value="{{self.user.email}}"/>
					<div class="validate" ng-show="">
						<small class=""></small>
					</div>
				</fieldset>
				<small class="detail">Your email is used for signing-in and correspondence.</small>
			</div><!-- /.form-block -->
			<div class="form-buttons">
				<input class="btn btn-primary" type="submit" value="Update Settings" ng-click=""/>
				<button class="btn-link" ng-click="">Delete Your Account</button>
			</div>
    </form>
	</div><!-- /.span6 -->
  <div class="span6 form-wrapper">
		<form class="general-form" name="userAvatar" role="form" ng-submit="" ng-controller="">
			<div class="user-avatar pull-left">
				<img src="{{ self.user.photo || (self.user.email | gravatar:120:'/images/profile-default.svg')}}" alt=""/>
			</div>
  		<div class="form-buttons clearfix">
  			<input class="btn btn-accent" ng-click="" type="button" value="Change Avatar"/>
  			<input class="btn" ng-click="" type="button" role="button" value="Delete Avatar"/>
  		</div>
  	</form>
  </div><!-- /.span6 -->
</div><!-- /.row-fluid -->