<section class="top-content">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <ul class="profile-list no-bullets span12">
        <li class="user-avatar pull-left">
          <img ng-src="{{ vm.user.getProfilePic() || (vm.user.email | gravatar:120:'/images/profile-default.svg')}}" alt="user avatar" />
        </li>
        <li class="user-info pull-left">
          <ul class="no-bullets">
            <li>
              <h2>{{vm.user.username}}</h2>
            </li>
          </ul>
        </li>
      </ul><!-- /.profile-list -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->
<div class="main" role="main">
  <div class="width-controller container-fluid">
    <section class="mid-content">
      <div class="row-fluid">
        <div class="tabs">
          <ul class="inline no-bullets">
            <li ng-class="getClass('/profile/streams')">
              <a ui-sref="profile.streams" data-toggle="tab">
	              <span class="fa fa-video-camera"></span>
	              <span class="line-text">Your Videos</span>
	            </a>
            </li>
            <li ng-class="getClass('/profile/settings')">
              <a ui-sref="profile.settings" data-toggle="tab">
	              <span class="fa fa-cog"></span>
	              <span class="line-text">Your Settings</span>
	           </a>
            </li>
            <li ng-class="getClass('/profile/directvideo')">
              <a ui-sref="profile.directvideo" data-toggle="tab">
	              <span class="fa fa-envelope"></span>
	              <span class="line-text">Direct Videos</span>
	            </a>
            </li>
          </ul>
        </div><!-- /.tabs -->
      </div><!-- /.row-fluid -->
    </section><!-- /.mid-content -->
    <section class="lower-content">
      <div class="tab-content">
        <div class="tab-pane active">
          <div ui-view></div>
        </div>
      </div>
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
