<section class="top-content" ng-class="{true: 'loggedIn', false: 'feature'}[app.isLoggedIn]">

</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller container-fluid">
    <div class="mid-content">
      <div class="row-fluid">
      	<form name="signupForm" role="form" ng-submit="registerUser()" ng-controller="SignupCtrl">
      	 <label class="visually-hidden" for="input-name">Name</label>
			    <div class="input-prepend">
			      <span class="add-on"><span class="fa fa-user"></span></span>
			      <input type="text" name="name" placeholder="your name" ng-model="regUser.name" required/>
			    </div>
			    <label class="visually-hidden" for="password">Password</label>
			    <div class="input-prepend">
			      <span class="add-on"><span class="fa fa-lock"></span></span>
			      <input type="password" name="password" placeholder="choose a password" ng-model="regUser.password" required/>
			      <div class="validate" ng-show="signupForm.password.$invalid">
				      <small class="error" ng-show="signupForm.password.$error.minlength">
				        Passwords must be at least 8 characters long.
				      </small>
				    </div><!-- /.validate -->
			    </div>
			    <label class="visually-hidden" for="input-username">Username</label>
			    <div class="input-prepend">
			      <span class="add-on"><span class="fa fa-user"></span></span>
			      <input type="text" name="username" placeholder="your username" ng-model="regUser.username" ng-minlength=3 ng-maxlength=20 required/>
			      <div class="validate" ng-show="signupForm.username.$dirty && signupForm.username.$invalid">
				      <small class="error" ng-show="signupForm.username.$error.taken">
				        This username is already registered. <a ng-click="$parent.loginModalAction = 'login'">Go to login</a>
				      </small>
				      <small class="warning" ng-show="signupForm.username.$error.minlength">
				        A username must have at least 3 characters.
				      </small>
				      <small class="warning" ng-show="signupForm.username.$error.maxlength">
				        A username can not have more than 20 characters.
				      </small>
				    </div><!-- /.validate -->
			    </div>
			    <label class="visually-hidden" for="password">Confirm Password</label>
			    <div class="input-prepend">
			      <span class="add-on"><span class="fa fa-lock"></span></span>
			      <input type="password" name="password" placeholder="confirm your password" ng-model="regUser.password" required/>
			      <div class="validate" ng-show="signupForm.password.$invalid">
				      <small class="error" ng-show="signupForm.password.$error.minlength">
				        Passwords must be at least 8 characters long.
				      </small>
				      <small class="error" ng-show="signupForm.password.$error.match">
				        Passwords do not match.
				      </small>
				    </div><!-- /.validate -->
			    </div>
			    <label class="visually-hidden" for="input-email">Email</label>
			    <div class="input-prepend">
			      <span class="add-on"><span class="fa fa-envelope"></span></span>
			      <input type="text" name="email" type="email" placeholder="email" ng-model="regUser.email" required/>
			      <div class="validate" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
				    	<small class="warning" ng-show="signupForm.email.$invalid">
				        This email is invalid. Please input a valid email.
				      </small>
				      <small class="error" ng-show="signupForm.email.$error.taken">
				        This email is already registered. Did you <a href="#" ng-click="$parent.loginModalAction = 'password'">forget your password</a>?
				      </small>
				    </div><!-- /.validate -->
			    </div>
			    <input class="btn btn-primary" type="submit" value="Create"/>
			    <div class="alert alert-success">
							<span class="block">Welcome to Rhinobird! A validation email has been sent to the address provided.</span>
			    </div>
      	</form>
      </div><!-- /.row-fluid -->
  </div><!-- /.width-controller -->
</div><!-- /.main -->
