<div class="row-fluid">
  <div class="span12">
    <span class="fa fa-comment-o"></span>
    <span ng-if="user.username" class="line-text">Say something...</span>
    <span ng-if="!user.username" class="line-text">To comment, like  and see more videos from {{stream.user.username}} please
      <a href="#" ng-click="login()">sign in</a>.
    </span>
  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
<div id="comments" class="row-fluid">
  <div class="span12">
    <div standard-comments stream="stream"></div>
  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->
