<section class="top-content feature">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <div class="default-wrapper" ng-show="!user.email">
        <div ng-include="'/views/layouts/default-actions.html'"></div>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions" ng-show="user.email">
        <div ng-include="'/views/layouts/stream-actions.html'"></div>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller container-fluid">
      <section class="mid-content">
        <div class="row-fluid">
          <div class="module-xlarge span12">
            <div ng-include="'/views/snippets/module-xlarge.html'"></div>
          </div><!-- /.module-xlarge -->
        </div><!-- /.row-fluid -->
      </section><!-- /.mid-content -->
      <section class="lower-content">
        <div class="row-fluid">
          <h3 class="span6">
            Related Streams
          </h3>
        </div><!-- /.row-fluid -->
        <div class="row-fluid">
          <div class="video-slider span12">
            <a href="#" class="slider-control pull-left span1" title="Under Development" rel="tooltip"><i class="icon-arrow-left"></i><span class="visually-hidden">Previous</span></a>
            <div class="slider-wrapper pull-left span10">
              <div class="row-fluid">
                <div class="span12">
                  <ul class="no-bullets">
                    <li class="module-large pull-left span2 hidden-phone" ng-repeat="stream in channel.streams | limitTo:20">
                      <div ng-include="'/views/snippets/module-large.html'" ng-click="changeMainStream(stream)"></div>
                    </li>
                    <li class="module-mini pull-left span2 hidden-desktop" ng-repeat="stream in channel.streams | limitTo:20">
                      <div ng-include="'/views/snippets/module-mini.html'" ng-click="changeMainStream(stream)"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <a href="#" class="slider-control pull-left span1" title="Under Development" rel="tooltip"><i class="icon-arrow-right"></i><span class="visually-hidden">Next</span></a>
          </div><!-- /.video-slider -->
        </div><!-- /.row-fluid -->
      </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->

