<section class="top-content" ng-class="{true: 'loggedIn', false: 'feature'}[app.isLoggedIn]">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <div class="default-wrapper clearfix" ng-hide="app.isLoggedIn">
        <div ng-include="'/views/layouts/default-actions.html'"></div>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions clearfix" ng-show="app.isLoggedIn">
        <div ng-include="'/views/layouts/stream-actions.html'"></div>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller mobile-full container-fluid">
    <section class="mid-content">
      <div class="row-fluid">
        <div class="module-xlarge span12">
          <div ng-include="'/views/snippets/module-xlarge.html'"></div>
        </div><!-- /.module-xlarge -->
      </div><!-- /.row-fluid -->
    </section><!-- /.mid-content -->
  </div><!-- /.container-fluid -->
  <div class="width-controller container-fluid">
    <section class="lower-content media-area">
      <div class="row-fluid">
        <div class="left-col span6">
          <h3>More Videos</h3>
          <ol class="unstyled">
            <li class="module-large span6"
                ng-repeat="stream in streams | limitTo:12">
              <div ng-include="'/views/snippets/module-large.html'"></div>
            </li>
          </ol>
        </div><!-- /.span6 -->
        <div class="right-col span6">
          <h3>Comments</h3>
          <div ng-include="'/views/layouts/comment-block.html'"></div>
        </div><!-- /.span6 -->
      </div><!--/.row-fluid -->
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
