<div class="main" role="main">
	<div class="width-controller container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<section class="mid-content">
					<div class="row-fluid">
						<div class="span8">
						  <h3 class="section-title">
							<i class="featured-icon"></i> Now Streaming
						  </h3>
						</div>
						<div class="span4">
							<form method="get" name="form-geo" class="form-geo pull-right" role="search">
								<label for="geolocate" class="visually-hidden">Search by location</label>
								<div class="input-append input-prepend">
									<span class="add-on">
										<a href="#" title="Find Me!"><i class="icon-map-marker"></i></a>
									</span>
									<input type="search" placeholder="current location">
									<input class="btn" type="submit" value="Go!">
								</div><!-- /.input-append -->
							</form>
						</div><!-- /.span4 -->
					</div><!-- /.row-fluid -->
					<div class="row-fluid">
						<div class="span12">
							<div class="single-stream-wrapper">
								<div class="module-xlarge">
									<div ng-include="'/views/snippets/module-xlarge.html'"></div>
								</div><!-- /.module-xlarge -->
							</div>
						</div><!-- /.span12 -->
				    </div><!-- /.row-fluid -->
				</section><!-- /.mid-content -->

				<section class="lower-content stream-area">
<!-- NOTE FROM CHRIS: whenever section has streaming content, add stream-area class. And the hook.js refresh button as in below. -->
					<div class="row-fluid hidden-phone">
						<div class="span12">
							<div class="hook" id="hook">
								<a href="#" title="under development" rel="tooltip" data-toggle="tooltip"><span>refresh</span></a>
							</div>
						</div>
					</div><!-- /.row-fluid -->
					<div class="row-fluid">
						<div class="span12">
							<h3 class="section-title">
								<i class="stream-icon"></i>
								Matching Livestreams
							</h3>
							<ol class="stream-row grid-streams no-bullets">
								<li class="module-large span3" ng-repeat="stream in streams">
									<div ng-include="'/views/snippets/module-large.html'"></div>
								</li><!-- /.module-large -->
							</ol><!-- /.stream-row -->
						</div><!-- /.span12 -->
					</div><!-- /.row-fluid -->
				</section><!-- /.lower-content -->

			</div><!-- /.span12 -->
	    </div><!-- /.row-fluid -->
	</div><!-- /.container-fluid -->
</div><!-- /.main -->
