<section class="top-content">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
    	<span class="pull-left">Related content:</span>
    	<nav class="pull-left" role="navigation">
    		<ul class="no-bullets inline" role="menu">
    			<li><a ui-sref="privacy" title="privacy statement">Privacy Policy</a></li>
					<li><a ui-sref="terms" title="terms of service" rel="license">Terms of Service</a></li>
				</ul>
    	</nav>
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->
<div class="main" role="main">
  <div class="width-controller container-fluid">
    <section class="mid-content">
      <div class="row-fluid">
				<article>
					<h1>Trademarks</h1>
					<p>Rhinobird.tv respects the trademark rights of others. If you are concerned that an account's username is misleading others via use of your trademark then please contact us at the email below. We will review your concern and take necessary actions to address it as possible. Our trademark review process will be revised over time to streamline the process. Thank you for your patience!</p>
					<p>Some trademarked names have already been restricted for the purposes of account creation. If you are the trademark owner of a restricted username, please contact us at the email below so that we may transfer ownership of the username to your account.</p>
					<p>Until further notice, the best way to contact about trademarks is at <a href="mailto:copyright@rhinobird.tv" rel="contact">copyright@rhinobird.tv</a></p>
				</article>
				<article>
					<h1>Copyright</h1>
					<p>Rhinobird.tv is currently drafting a copyright protection document for users, and content owners. If you have concerns over your intellectual property, please contact us at: <a href="mailto:copyright@rhinobird.tv" rel="contact">copyright@rhinobird.tv</a></p>
				</article>
      </div><!-- /.row-fluid -->
    </section><!-- /.mid-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
