<section class="top-content userPage">
  <div class="backdrop-wrapper">
    <img src="/images/backdrop-default.svg" ng-src="{{vm.user.backdrop}}" alt="user backdrop image" />
  </div>
    <div class="user-wrapper text-center">
      <ul class="unstyled user-profile-list" style="margin-bottom: 0;">
        <li class="user-avatar">
          <img ng-src="{{ vm.user.getProfilePic() || '/images/profile-default.svg'}}" alt="user avatar" />
        </li>
        <li>
          <ul class="unstyled">
            <li>
              <h2>{{vm.user.username}}</h2>
            </li>
            <li>
              <button type="button" role="button" class="btn "
                ng-class="{'btn-default': !vm.user.followed, 'btn-success': vm.user.followed}">
                      <span class="fa fa-user"></span>
                      <span class="line-text" ng-click="vm.toggleFollow(vm.user)">{{vm.user.followed ? 'Following' : 'Follow'}}</span>
              </button>
            </li>
            <li ng-show="vm.stream" ng-show="stream">
              <h4 class="red"><strong>Streaming Now!</strong></h4>
            </li>
            <li>
              <p>{{vm.user.bio}}</p>
            </li>
          </ul>
        </li>
        <li class="user-stats">
          <ul class="unstyled inline">
            <li>
              <span>{{vm.user.applause}}</span>
              <span class="fa fa-thumbs-o-up"></span>
              <span class="line-text">Applause</span>
            </li>
            <li>
              <span>{{vm.user.playcount}}</span>
              <span class="fa fa-eye"></span>
              <span class="line-text">Total Views</span>
            </li>
            <li>
              <span>{{vm.user.videoCount}}</span>
              <span class="fa fa-video-camera"></span>
              <span class="line-text">Videos</span>
            </li>
          </ul>
        </li>
      </ul><!-- /.profile-list -->
    </div><!-- /.user-wrapper -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller container-fluid">
    <section class="mid-content">
      <div class="row-fluid">
        <div class="tabs">
          <ul class="inline no-bullets">
            <li  ui-sref-active="active" ng-show="vm.stream">
              <a ui-sref="user.live" data-toggle="tab" class="red">
                <span class="fa fa-star"></span>
                <span class="line-text">Live Now!</span>
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="user.streams" data-toggle="tab">
                <span class="fa fa-video-camera"></span>
                <span class="line-text">{{vm.user.username}}'s RB</span>
              </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="user.following" data-toggle="tab">
                <span class="fa fa-user"></span>
                <span class="line-text">Following</span>
             </a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="user.followers" data-toggle="tab">
                <span class="fa fa-group"></span>
                <span class="line-text">Followers</span>
              </a>
            </li>
          </ul>
        </div><!-- /.tabs -->
      </div><!-- /.row-fluid -->
    </section><!-- /.mid-content -->
    <section class="lower-content media-area">
      <div class="tab-content">
        <div class="tab-pane active">
          <div ui-view></div>
        </div><!-- /.tab-pane -->
      </div>
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
