<section class="top-content">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <ul class="profile-list no-bullets span12">
        <li class="user-avatar pull-left">
          <img ng-src="{{ self.user.photo || (user.email | gravatar:120:'/images/profile-default.svg')}}" alt="user avatar" />
        </li>
        <li class="user-info pull-left">
          <ul class="no-bullets">
            <li>
              <h2>{{self.user.username}}</h2>
            </li>
          </ul>
        </li>
      </ul><!-- /.profile-list -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="width-controller mobile-full container-fluid"  ng-hide="true" ng-show="stream">
  <div class="row-fluid">
    <h3 class="span6">Currently live:</h3>
  </div><!-- /.row-fluid -->
  <section class="mid-content">
    <div class="row-fluid">
      <div class="module-xlarge span12">
        <div ng-include="'/views/snippets/module-xlarge.html'"></div>
      </div><!-- /.module-xlarge -->
    </div><!-- /.row-fluid -->
  </section><!-- /.mid-content -->
</div>

<div class="main" role="main">
  <div class="width-controller container-fluid">
    <section class="lower-content media-area">
      <div class="row-fluid">
        <h3 class="span6">Videos streamed by {{self.user.username}}:</h3>
      </div><!-- /.row-fluid -->
      <div class="row-fluid">
        <div class="span12">
          <div infinite-timeline-list timeline="self.user.timeline"></div>
        </div><!-- /.span12 -->
      </div><!-- /.row-fluid -->
    </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
