<section class="top-content" ng-class="{true: 'loggedIn', false: 'feature'}[app.isLoggedIn]">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <div class="default-wrapper clearfix" ng-hide="app.isLoggedIn">
        <div ng-include="'/views/layouts/default-actions.html'"></div>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions" ng-show="app.isLoggedIn">
        <div ng-include="'/views/layouts/stream-actions.html'"></div>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller mobile-full container-fluid">
	  <section class="mid-content">
	  	<div class="row-fluid">
  			<h3 class="span12">Now Viewing: #{{channel.name}}</h3>
  		</div>
  		<div class="row-fluid">
  			<h4 class="span12">This session is VJ'd by: <a ui-sref="" title="">(VJ name here)</a></h4>
  		</div>
	    <div class="row-fluid">
	      <div class="module-xlarge span12">
          <div video-canvas-projector width="640" height="480" video="self.currentStream.licode.player.video"></div>
	      </div><!-- /.module-xlarge -->
	    </div><!-- /.row-fluid -->
      <div class="hidden">
        <div ng-repeat="vjstream in vjstreams | filter:{stream.status: 'live'}">
          <div stream-viewer stream="vjstream.stream" size="mini" mute="true" on="true"></div>
        </div>
      </div>
	  </section><!-- /.mid-content -->
  </div>
  <div class="width-controller container-fluid">
	  <section class="lower-content">
	    <div class="row-fluid">
	      <h3 class="span6">
	        More Streams
	      </h3>
	    </div><!-- /.row-fluid -->
	    <div class="row-fluid">
		  	<div owl-carousel items="streams" item-template="/views/snippets/module-mini.html"></div>
			</div><!--/.row-fluid -->
	  </section><!-- /.lower-content -->
  </div><!-- /.container-fluid -->
</div><!-- /.main -->
