<section class="top-content" ng-class="{true: 'loggedIn', false: 'feature'}[app.isLoggedIn]">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <div class="default-wrapper clearfix" ng-hide="app.isLoggedIn">
        <div ng-include="'/views/layouts/default-actions.html'"></div>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions" ng-show="app.isLoggedIn">
        <div ng-include="'/views/layouts/stream-actions.html'"></div>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller mobile-full container-fluid">
	  <section class="mid-content">
		<div class="row-fluid">
			<h3 class="span12">Now Viewing: #{{channelName}}</h3>
		</div>
		<div class="row-fluid">
			<h4 class="span12">This session is VJ'd by: <a ui-sref="user({userName: user.username}) " title="">{{user.username}}</a></h4>
		</div>
	    <div class="row-fluid">
        <div class="module-xlarge span8 {{currentPick ? 'online' : 'offline'}}">
          <div class="module-video">
            <div ng-if="currentPick" ng-include="'/views/snippets/feature-overlay.html'"></div>
            <div video-canvas-projector width="640" height="360" video="self.currentPick.licode.player.video"></div>
          </div><!-- /.module-video -->
	      </div><!-- /.module-xlarge -->
        <div class="span4 visible-desktop hidden-tablet video-chat">
          <div class="comments-wrapper" ng-if="currentPick">
            <h3>What people say on this VJ session</h3>
            <div standard-comments ng-controller="CommentsCtrl"></div>
          </div>
          <h3 ng-if="!currentPick">This channel is offline now, <em><a ui-sref="user({userName: user.username}) " title="">{{user.username}}</a><em>
            is not doing any VJ session at the moment. This channel will become online
            as soon as <em><a ui-sref="user({userName: user.username}) " title="">{{user.username}}</a></em> starts a new VJ session.</h3>
        </div><!-- /.video-chat.span4 -->
	    </div><!-- /.row-fluid -->
      <div class="hidden">
        <div ng-repeat="pick in picks | filter:{stream.status: 'live'}">
          <div stream-viewer stream="pick.stream" size="mini" mute="{{pick.stream.isMuted}}" on="true"></div>
        </div>
      </div>
	  </section><!-- /.mid-content -->
    <section class="lower-content media-area">
      <div class="hidden-desktop">
        <div class="row-fluid">
          <div class="span12" ng-if="!currentPick">
            <h3>This channel is offline now, it will become online as soon you or someone else start
              streaming with caption including <em>#{{channel.name}}</em> hashtag.</h3>
          </div>
          <div class="span12" ng-if="currentPick">
            <h3>What people say on this VJ session</h3>
            <div standard-comments ng-controller="CommentsCtrl" ng-init="init(channel.name)"></div>
          </div>
        </div><!-- /.row-fluid -->
      </div>
    </section><!-- /.lower-content -->
  </div>
</div><!-- /.main -->
