<section class="top-content" ng-class="{true: 'loggedIn', false: 'feature'}[app.isLoggedIn]">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <div class="default-wrapper clearfix" ng-if="!app.isLoggedIn">
        <div ng-include="'/views/layouts/default-actions.html'"></div>
      </div><!-- /.default-wrapper -->
      <div class="loggedin-actions" ng-if="app.isLoggedIn">
        <rb-video-actions resource="vj" user="user"></rb-video-actions>
      </div><!-- /.loggedin-action -->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section><!-- /.top-content -->

<div class="main" role="main">
  <div class="width-controller mobile-full container-fluid">
	  <section class="mid-content">
		<div class="row-fluid">
			<h3 class="span12">Now Viewing: #{{vj.channelName}}</h3>
		</div>
		<div class="row-fluid">
			<h4 class="span12">This session is VJ'd by: <a ui-sref="user({userName: user.username}) " title="">{{user.username}}</a></h4>
		</div>
	    <div class="row-fluid">
	      <div class="module-xlarge span12">
          <video src="{{vj.archivedUrl}}" autoplay="true" controls="true"></video>
          <div hash-to-link>
            {{self.currentStream.caption}}
          </div>
	      </div><!-- /.module-xlarge -->
	    </div><!-- /.row-fluid -->
	  </section><!-- /.mid-content -->
  </div>
  <!-- <div class="width-controller container-fluid">
	  <section class="lower-content media-area">
	    <div class="row-fluid">
	      <h3 class="span6">
	        More Streams
	      </h3>
	    </div>
	    <div class="row-fluid">
			<div owl-carousel items="streams" item-template="/views/snippets/module-mini.html"></div>
			</div>
	  </section>
  </div> -->
</div><!-- /.main -->
