<div class="span12">
  <div class="row-fluid">
    <div class="span12">
      <h4 class="row-title">
        <span>Happening Near You</span>
        <a class="btn btn-default btn-mini" href="#">See All</a>
      </h4>
<!-- ON MOBILE MAKE SHOW ONLY 1 AND SWIPE/SCROLL HORIZONTAL -->
      <div class="video-slide-wrapper">
        <ol class="unstyled">
          <li class="module-large span3"
              ng-repeat="stream in vm.nearStreams">
              <div ng-include="'/views/snippets/module-large.html'" ng-init="tl_item = {resourceType: 'Stream'}"></div>
          </li>
        </ol>
      </div><!-- /.video-slide-wrapper -->
    </div><!-- /.span12 -->
  </div><!-- /.row-fluid -->
  <div class="row-fluid">
    <div class="span12">
      <h4 class="row-title">
        <span>World Exciting</span>
        <a class="btn btn-default btn-mini" href="#">See All</a>
      </h4>
<!-- ON MOBILE MAKE SHOW ONLY 1 AND SWIPE/SCROLL HORIZONTAL -->
      <div class="video-slide-wrapper">
        <ol class="unstyled">
          <li class="module-large span3"
              ng-repeat="tl_item in vm.timeline | limitTo:4">
            <div ng-if="tl_item.resourceType == 'Stream'" ng-include="'/views/snippets/module-large.html'" ng-init="stream = tl_item.resource"></div>
            <div ng-if="tl_item.resourceType == 'Vj'" ng-include="'/views/snippets/module-large-vj.html'" ng-init="vj = tl_item.resource"></div>
          </li>
        </ol>
      </div><!-- /.video-slide-wrapper -->
    </div><!-- /.span12 -->
  </div><!-- /.row-fluid -->
  <div class="row-fluid">
    <div class="span12">
      <h4 class="row-title">
        <span>Watch Channels</span>
        <a class="btn btn-default btn-mini" ui-sref="allchannels">See All</a>
      </h4>
<! -- SHOW MAX OF 12 CHANNELS -->
      <ul class="channel-grid inline unstyled">
        <li ng-repeat="channel in vm.channels">
          <a ui-sref="channel({channelName: channel.name})">#{{channel.name}}</a>
        </li>
      </ul>
    </div>
  </div><!-- /.row-fluid -->
  <div class="row-fluid">
    <div class="span12">
      <h4 class="row-title">Popular Animals</h4>
      <ul class="pop-user-grid unstyled">
<!-- MAKE PU-WRAPPER AND ITS CHILDREN INTO SNIPPET AND REPEAT, MAX OF 8 USERS -->
        <li class="pu-wrapper" ng-repeat="user in vm.users">
          <ul class="pop-user unstyled">
            <li class="user-avatar">
              <rb-avatar user="user" class="img-wrap" title="{{user.username}}"></rb-avatar>
            </li>
            <li class="ellipsis">
              <a ui-sref="user({userName: user.username})" title="{{user.username}}'s page">{{user.username}}</a>
            </li>
            <li>
              <button type="button" role="button" class="btn btn-mini" ng-click="vm.toggleFollow(user)" ng-class="{'btn-default': !user.followed, 'btn-success': user.followed}">
                {{user.followed ? 'Following' : 'Follow'}}
              </button>
            </li>
          </ul>
        </li><!-- /.pu-wrapper -->

      </ul>
    </div>
  </div><!-- /.row-fluid -->
</div><!-- /.span12 -->
