<div class="span12">
  <div class="row-fluid">
    <div class="span12">
      <h4 class="row-title">Happening Near You</h4>
      <a href="#" class="img-grid">
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
      </a>
    </div>
  </div><!-- /.row-fluid -->
  <div class="row-fluid">
    <div class="span12">
      <h4>World Exciting</h4>
      <a href="#" class="img-grid">
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
        <img ng-src="{{stream.thumbs.small}}" src-fallback="/images/missing.png"/>
      </a>
    </div>
  </div><!-- /.row-fluid -->
  <div class="row-fluid">
    <div class="span12">
      <h4 class="row-title">Watch Channels</h4>
      <ul class="channel-grid inline unstyled">
        <li>
          <a href="#">#channelname</a>
        </li>
        <li>
          <a href="#">#chile</a>
        </li>
        <li>
          <a href="#">#foxtrot</a>
        </li>
        <li>
          <a href="#">#euromaidan</a>
        </li>
        <li>
          <a href="#">#turkishdelight</a>
        </li>
        <li>
          <a href="#">#cats</a>
        </li>
        <li>
          <a href="#">#DCarts</a>
        </li>
        <li>
          <a href="#">#pirateship</a>
        </li>
        <li>
          <a href="#">#dukeofdoubt</a>
        </li>
        <li>
          <a href="#">#tankcat</a>
        </li>
        <li>
          <a href="#">#downtontabby</a>
        </li>
        <li>
          <a href="#">#boysonbikes</a>
        </li>
      </ul>
    </div>
  </div><!-- /.row-fluid -->
  <div class="row-fluid">
    <div class="span12">
      <h4 class="row-title">Popular Animals</h4>
      <ul class="pop-user-grid unstyled inline">
        <li class="pop-user">
          <ul class="unstyled">
            <li class="user-avatar">
              <rb-avatar class="img-wrap" title="{{user.username}}"></rb-avatar>
            </li>
            <li>
              <a href="#" title="{{user.username}}'s page">
                Username Here
              </a>
            </li>
            <li>
              <button type="button" role="button"
                      class="btn btn-default btn-mini">
                      <span class="fa fa-user-plus"></span>
                      Follow
              </button>
            </li>
          </ul>
        </li><!-- /.pop-user -->
        <li class="pop-user">
          <ul class="unstyled">
            <li class="user-avatar">
              <rb-avatar class="img-wrap" title="{{user.username}}"></rb-avatar>
            </li>
            <li>
              <a href="#" title="{{user.username}}'s page">
                Username Here
              </a>
            </li>
            <li>
              <button type="button" role="button"
                      class="btn btn-default btn-mini">
                      <span class="fa fa-user-plus"></span>
                      Follow
              </button>
            </li>
          </ul>
        </li><!-- /.pop-user -->
        <li class="pop-user">
          <ul class="unstyled">
            <li class="user-avatar">
              <rb-avatar class="img-wrap" title="{{user.username}}"></rb-avatar>
            </li>
            <li>
              <a href="#" title="{{user.username}}'s page">
                Username Here
              </a>
            </li>
            <li>
              <button type="button" role="button"
                      class="btn btn-default btn-mini">
                      <span class="fa fa-user-plus"></span>
                      Follow
              </button>
            </li>
          </ul>
        </li><!-- /.pop-user -->
        <li class="pop-user">
          <ul class="unstyled">
            <li class="user-avatar">
              <rb-avatar class="img-wrap" title="{{user.username}}"></rb-avatar>
            </li>
            <li>
              <a href="#" title="{{user.username}}'s page">
                Username Here
              </a>
            </li>
            <li>
              <button type="button" role="button"
                      class="btn btn-default btn-mini">
                      <span class="fa fa-user-plus"></span>
                      Follow
              </button>
            </li>
          </ul>
        </li><!-- /.pop-user -->
        <li class="pop-user">
          <ul class="unstyled">
            <li class="user-avatar">
              <rb-avatar class="img-wrap" title="{{user.username}}"></rb-avatar>
            </li>
            <li>
              <a href="#" title="{{user.username}}'s page">
                Username Here
              </a>
            </li>
            <li>
              <button type="button" role="button"
                      class="btn btn-default btn-mini">
                      <span class="fa fa-user-plus"></span>
                      Follow
              </button>
            </li>
          </ul>
        </li><!-- /.pop-user -->
        <li class="pop-user">
          <ul class="unstyled">
            <li class="user-avatar">
              <rb-avatar class="img-wrap" title="{{user.username}}"></rb-avatar>
            </li>
            <li>
              <a href="#" title="{{user.username}}'s page">
                Username Here
              </a>
            </li>
            <li>
              <button type="button" role="button"
                      class="btn btn-default btn-mini">
                      <span class="fa fa-user-plus"></span>
                      Follow
              </button>
            </li>
          </ul>
        </li><!-- /.pop-user -->
        <li class="pop-user">
          <ul class="unstyled">
            <li class="user-avatar">
              <rb-avatar class="img-wrap" title="{{user.username}}"></rb-avatar>
            </li>
            <li>
              <a href="#" title="{{user.username}}'s page">
                Username Here
              </a>
            </li>
            <li>
              <button type="button" role="button"
                      class="btn btn-default btn-mini">
                      <span class="fa fa-user-plus"></span>
                      Follow
              </button>
            </li>
          </ul>
        </li><!-- /.pop-user -->
        <li class="pop-user">
          <ul class="unstyled">
            <li class="user-avatar">
              <rb-avatar class="img-wrap" title="{{user.username}}"></rb-avatar>
            </li>
            <li>
              <a href="#" title="{{user.username}}'s page">
                Username Here
              </a>
            </li>
            <li>
              <button type="button" role="button" class="btn btn-default btn-mini">Follow</button>
            </li>
          </ul>
        </li><!-- /.pop-user -->
      </ul>
    </div>
  </div><!-- /.row-fluid -->
</div><!-- /.span12 -->
