<div class="action-left span4">
	<a href="#" class="user-avatar pull-left" title="click to view your profile">
		<img ng-src="{{ user.photo || (user.email | gravatar:42)}}" alt="your avatar"/>
	</a>
	<h4 class="one-liner pull-left">Hi <span class="username" >{{user.name}}</span>!</h4>
</div><!-- /.action-left -->
<div class="action-right span8">
	<form method="get" action="" class="form-search" role="search">
    <div class="input-prepend">
  		<span class="add-on"><i class="icon-search"></i></span>
			<input type="search" placeholder="search livestreams, #channels...">
    </div><!-- /.input-prepend -->
    <button type="submit" class="btn btn-primary btn-large hidden-phone" data-title="under development" rel="tooltip">Search</button>
  </form>
</div><!-- /.action-right -->
