<div class="span12">
  <div class="row-fluid">
    <div class="action-left span6">
      <a ui-sref="profile({userName: user.username})" class="user-avatar pull-left" title="click to view your profile">
		    <img ng-src="{{ user.photo || (user.email | gravatar:120:'/images/profile-default.svg')}}" alt="your avatar"/>
			</a>
			<a class="btn-vj btn pull-left vj-on" ng-click="stopVj()" ng-show="vjService.live" role="button">VJ On</a>
      <a class="btn-vj btn pull-left vj-off" ng-click="startVj()" ng-show="!vjService.live" role="button">VJ Off</a>
      <ul class="social-list inline pull-left clearfix">
		    <li><a href="#" title="click to share via facebook"><span class="visually-hidden">Facebook</span></a></li>
		    <li><a href="#" title="click to share via twitter"><span class="visually-hidden">Twitter</span></a></li>
		    <li><a href="#" title="click to share via google plus"><span class="visually-hidden">Google Plus</span></a></li>
		  </ul>
    </div><!-- /.action-left -->
    <div class="action-right span6" ng-controller="SearchCtrl" ng-include="'/views/snippets/search-bar.html'"></div><!-- /.action-right -->
  </div><!-- /.row-fluid -->
</div><!-- /.span12 -->
