<div class="row-fluid">
  <div class="comments-header offset1 span11">
    <ul class="unstyled">
      <li class="pull-left">
<!-- NOTE: show button below when user moves beyond page 1 -->
        <!-- <a href="#" target="_self" title="previous page" class="hide">
          <span class="fa fa-chevron-circle-left"></span>
          <span class="visually-hidden">previous page</span>
        </a> -->
        <span>1 of 2</span>
        <a href="#" target="_self" title="next page">
          <span class="fa fa-chevron-circle-right"></span>
          <span class="visually-hidden">next page</span>
        </a>
      </li>
      <li class="pull-right">
        <ul class="inline">
          <li>
            <a href="#">oldest</a>
          </li>
          <li>
            <a href="#">newest</a>
          </li>
          <li>
            <a href="#">@thread</a>
          </li>
        </ul>
      </li>
    </ul>
  </div><!-- /.comments-header -->
</div><!-- /.row-fluid -->
<div class="row-fluid">
  <div class="span11 offset1">
    <ol class="comments-block unstyled">
      <li class="comment single">
        <div ng-include="'/views/snippets/comment.html'"></div>
      </li>
      <li class="thread-group">
        <div ng-include="'/views/snippets/thread-group.html'"></div>
      </li>
    </ol><!-- /.comments-block -->
  </div>
</div><!-- /.row-fluid -->