<div class="action-left span4" ng-controller="DefaultActionsCtrl">
  <h2 class="one-liner">Welcome <span class="one-liner">to Peepol.tv!</span></h2>
  <a href="#" class="btn btn-small pull-left" role="button" ng-click="login()">Sign In</a>
  <a href="#" class="btn btn-small pull-left" role="button">Take the Tour!</a>
</div><!-- /.action-left -->
<div class="action-right span8">
<div class="row-fluid">
  <form method="get" action="" class="form-search" role="search">
    <div class="input-prepend span8">
      <span class="add-on"><i class="icon-search"></i></span>
      <input type="search" placeholder="search livestreams, locations, tags, #channels, etc">
    </div>
    <div class="hidden-phone span4">
      <button type="submit" class="btn" data-title="under development" rel="tooltip">Let's Go!</button>
    </div>
  </form>
</div><!-- /.row-fluid -->
</div><!-- /.action-right -->
