<div ng-controller="DefaultActionsCtrl">
  <div class="row-fluid">
  	<div class="span12">
  		<h1>Your Videos, Shared Live</h1>
  	</div>
  </div>
  <div class="row-fluid">
  	<div class="span12">
  		<h2 class="thin">Share Your Live Video on Rhinobird</h2>
  	</div>
  </div><!-- /.row-fluid -->
  <div class="row-fluid">
		<div class="span12">
			<a href="#" class="btn btn-feature btn-medium brSmall inline" role="button" ng-click="login()">Get Started!</a>
			<!-- <a href="#" ui-sref="about" class="btn btn-accent btn-medium brSmall inline" role="button">Learn More</a> -->
		</div>
  </div><!-- /.row-fluid -->
</div>

