<div class="width-controller container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<p>&#64; 2012 - 2014 The People's Media Company LLC | <a href="mailto:hello@peepol.tv">hello@peepol.tv</a></p>
		</div>
		<div class="span6">
			<ul class="pull-right">
				<li><a ui-sref="about" title="about peepol.tv">About Peepol.tv</a></li>
				<li><a ui-sref="privacy" title="privacy statement">Privacy</a></li>
				<li><a ui-sref="terms" title="terms of service">Terms</a></li>
			</ul>
		</div>
	</div><!-- /.row-fluid -->
</div>
