<div class="golive-features">
  	<ul class="unstyled inline">
	  	<li>
	  		<span class="fa fa-eye"></span>
        <span class="line-test">{{vm.liveViewers}}</span>
	  	</li>
	  	<li>
	  		<span class="fa fa-thumbs-up"></span>
		  	<span class="line-test">4</span>
	  	</li>
	  	<li>
	  		<button
	  				class="btn-link"
	  				data-toggle="collapse"
	    			data-target="#commentBox"
		    		role="button">
		    	<span class="fa fa-comments"></span>
	    		<span class="line-test">3 comments</span>
	  		</a>
	  	</li>
  	</ul>
</div><!-- /.golive-features -->
