<div class="span12">
  <div class="row-fluid">
    <div class="action-left span12">
      <a href="#" class="user-avatar pull-left" title="click to view your profile">
		    <img ng-src="{{ user.photo || (user.email | gravatar:42:'/images/profile-default.svg')}}" alt="your avatar"/>
			</a>
      <ul class="golive-list pull-left inline">
        <li>
          <a href="#" ng-click="ctrl.stop(true)" role="button" title="Close & Return"><span class="visually-hidden">Close & Return</span></a>
        </li>
        <li>
          <a href="#" role="button" title="Take a Snapshot"><span class="visually-hidden">Take Snapshot</span></a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#add" role="button" title="Add Captions"><span class="visually-hidden">Add Captions</span></a>
        </li>
        <li>
          <a href="#" data-toggle="collapse" data-target="#share" role="button" title="Share this Stream"><span class="visually-hidden">Share this Stream</span></a>
        </li>
        <li>
          <a href="#" ng-click="ctrl.stop()" title="Stop Recording"><span class="visually-hidden">Stop Recording</span></a>
        </li>
      </ul>
    </div><!-- /.action-left -->
  </div><!-- /.row-fluid -->
  <div id="add" class="action-sub collapse row-fluid">
    <div class="span12">
      <form method="post" action="" class="form-inline">
        <fieldset>
          <legend class="visually-hidden">Use this form to add tags or a channel before rebroadcasting the stream.</legend>
          <label class="checkbox inline" for="input-channel">
            <input type="checkbox" value="add to channel"> Add to a Channel?
          </label>
          <input type="text" id="input-channel" placeholder="#channel">
          <label class="checkbox inline" for="input-tags">
            <input type="checkbox" class="checked" value="add tags"> Add Tags?
          </label>
          <input type="text" id="input-tags" placeholder="tag1, tag2, tag3...">
        <input class="btn btn-small" type="submit" value="Ready!">
        </fieldset>
      </form>
    </div>
  </div><!-- /#add -->
  <div id="share" class="action-sub collapse row-fluid" ng-include="'/views/snippets/share-bar.html'"></div><!-- /#share -->
</div><!-- /.span12 -->
