<div class="golive-feed">
  <ul class="unstyled feed-list">
    <li>
      <ul class="unstyled clearfix feed-comment">
        <li class="user-avatar pull-left">
          <rb-avatar user="comment.user" class="img-wrap" title="{{comment.user.username}}"></rb-avatar>
        </li>
        <li>
          <p>great!</p>
        </li>
      </ul>
    </li>
    <li>
      <ul class="unstyled clearfix feed-comment">
        <li class="user-avatar pull-left">
          <rb-avatar user="comment.user" class="img-wrap" title="{{comment.user.username}}"></rb-avatar>
        </li>
        <li>
          <p>Salvia lo-fi mumblecore, roof party deep v hashtag selfies Godard cold-pressed you probably haven't heard of them</p>
        </li>
      </ul>
    </li>
    <li>
      <ul class="unstyled clearfix feed-comment">
        <li class="user-avatar pull-left">
          <rb-avatar user="comment.user" class="img-wrap" title="{{comment.user.username}}"></rb-avatar>
        </li>
        <li>
          <p>Pan to the left!</p>
        </li>
      </ul>
    </li>
  </ul>
</div>