<div class="m_20t controls-row">
  <button type="button" role="button"
    class="btn btn-default btn-small btn-checkbox btn-twitter"
    ng-model="vm.sharingOptions.shareTwitter"
    ng-change="ctrl.tryConnection('twitter', vm.sharingOptions.shareTwitter)" btn-checkbox>
    <span class="visually-hidden"> Tweet Your Video?</span>
  </button>
  <button type="button" role="button"
    class="btn btn-default btn-small btn-checkbox btn-facebook"
    ng-model="vm.sharingOptions.shareFacebook"
    ng-change="ctrl.tryConnection('facebook', vm.sharingOptions.shareFacebook)" btn-checkbox>
    <span class="visually-hidden"> Post on Facebook?</span>
  </button>
  <a href="#" ng-click="ctrl.shareWhatsapp()"
     class="btn btn-default btn-small btn-checkbox btn-whatsapp">
     <span class="visually-hidden"> Share on WhatsApp</span>
  </a>
  <button type="button" role="button"
    class="btn btn-default btn-small btn-checkbox btn-geolocate"
    ng-model="vm.useGeolocation" btn-checkbox>
    <span class="visually-hidden"> Enable Geolocation?</span>
  </button>
  <button type="button" role="button"
    class="btn btn-default btn-small btn-checkbox btn-archive"
    ng-model="vm.sharingOptions.archive"
    ng-disabled="!vm.camera.access" btn-checkbox>
    <span class="visually-hidden"> Archive a Copy</span>
  </button>
</div>