<div class="contents">
  <ul class="unstyled inline pull-left">
    <li>
      <button class="btn btn-default btn-small"
              ng-click="ctrl.showFullScreen()" role="button">
              <span class="fa fa-expand"></span>
              <span class="visually-hidden">FullScreen</span>
      </button>
    </li>
    <li class="hidden-phone">
      <button ng-click="newComment=false; collapsedComments=!collapsedComments" ng-class="{newComment: collapsedComments && newComment}" class="toggle-comments btn btn-default btn-small visible-phone"
              data-toggle="collapse" data-target="#commentBox" role="button">
              <span class="fa fa-comments"></span>
              <span class="line-text">{{commentsCount[roomId]}}</span>
      </button>
      <button ng-click="newComment=false; collapsedComments=!collapsedComments" ng-class="{newComment: collapsedComments && newComment}" class="toggle-comments btn btn-default btn-small hidden-phone"
              data-toggle="collapse" data-target="#commentSlide" role="button">
              <span class="fa fa-comments"></span>
              <span class="line-text">{{commentsCount[roomId]}} Comments</span>
      </button>
    </li>
    <li>
      <button class="btn btn-default btn-small"
              ng-click="ctrl.updateThumbnail()" role="button">
              <span class="fa fa-picture-o"></span>
              <span class="line-text">Update Cover</span>
      </button>
    </li>
  </ul>
  <form name="formAddCaption" method="post" class="pull-left hidden-phone">
    <div class="input-append">
      <input name="caption" type="text" ng-model="vm.caption" placeholder="add #channel/caption"/>
      <input class="btn btn-small" type="button" ng-click="ctrl.updateCaption(vm.caption)" value="{{vm.goliveService.stream.caption? 'Update!' : 'Add!'}}" ng-disabled="vm.caption == vm.goliveService.stream.caption || formAddCaption.caption.$pristine "/>
    </div>
  </form>
  <div class="hidden-phone">
    <div ng-include="'/views/snippets/golive-btn.html'" ng-show="isFullScreenEnabled"></div>
  </div>
  <div class="desktop-features pull-left hidden-phone">
    <ul class="unstyled inline">
      <li>
        <span class="fa fa-eye"></span>
        <span class="line-text">{{watchersCount[roomId]}}</span>
      </li>
      <li>
        <span class="fa fa-thumbs-up"></span>
        <span class="line-text">4</span>
      </li>
    </ul>
  </div>
</div><!-- /.contents -->

<div class="hidden-phone">
  <div class="validate fadeOut" ng-show="vm.showSuccessSnapshot">
    <small class="success">Snapshot success!</small>
  </div><!-- /.validate -->
  <div class="validate fadeOut" ng-show="vm.captionWarning">
    <small class="info">Only the first 17 characters will display in thumbnail view.</small>
  </div><!-- /.validate -->
  <div class="validate fadeOut" ng-show="vm.showSuccess">
    <small class="success">Caption successfully updated.</small>
  </div><!-- /.validate -->
</div>
