<div class="golive-features">
  	<p>
  		<i class="icon-eye-open icon-white"></i>
  		<span>25</span>
  	</p>
  	<p>
  		<i class="icon-thumbs-up icon-white"></i>
  		<span>4</span>
  	</p>
  	<p>
  		<a  data-toggle="collapse"
    			data-target="#commentBox"
	    		role="button">
    		<i class="icon-comment icon-white"></i>
    		<span>3 comments</span>
  		</a>
  	</p>
  	<div class="commentBox collapse" id="commentBox">
    	<div class="inner">
	    	<ul class="no-bullets">
		    	<li><p>Comments here needs character limit</p></li>
		    	<li><p>Small batch taxidermy Williamsburg, art party post-ironic Echo Park selfies authentic yr try-hard readymade lomo distillery freegan hashtag</p></li>
		    	<li><p>Three shown max?</p></li>
	    	</ul>
    	</div><!-- /.inner -->
  	</div><!-- /.commentBox -->
</div><!-- /.golive-features -->