<div ng-if="vm.connected" class="golive-features" ng-controller="CommentsCtrl">
  	<ul class="unstyled inline">
	  	<li>
	  		<span class="fa fa-eye"></span>
        <span class="line-test">{{watchersCount[stream.id]}}</span>
	  	</li>
	  	<li>
	  		<span class="fa fa-thumbs-up"></span>
		  	<span class="line-test">{{stream.likes}}</span>
	  	</li>
	  	<li>
	  		<button
	  				class="btn-link"
	  				data-toggle="collapse"
	    			data-target="#commentBox"
		    		role="button">
		    	<span class="fa fa-comments"></span>
	    		<span class="line-test">Comments {{commentsCount[stream.id]}}</span>
	  		</a>
	  	</li>
  	</ul>
</div><!-- /.golive-features -->
