<div class="action-left span6">
  <a href="#" class="user-avatar pull-left" title="click to view your profile">
		<img ng-src="{{ user.photo || (user.email | gravatar:42:'/images/profile-default.svg')}}" alt="your avatar"/>
	</a>
<!-- NOTE FROM CHRIS
the links below need to change/filter the results of the search. the search result should default to 'channel-results' unless the search is coming from a specific view e.g. a search run from a streams view page will yield results filtered by streams and so on -->
  <div class="tabs pull-left">
    <ul class="inline no-bullets">
      <li><a ui-sref="search.channels" data-toggle="tab"><i class="icon-headphones"></i>Channels</a></li>
      <li class="active"><a ui-sref="search.streams" data-toggle="tab"><i class="icon-facetime-video"></i>Streams</a></li>
      <li><a ui-sref="search.peepol" data-toggle="tab"><i class="icon-user"></i>Peepol</a></li>
    </ul>
  </div>
</div><!-- /.action-left -->
<div class="action-right span6">
  <div class="row-fluid">
    <form method="get" ng-submit="" class="form-search" role="search">
	    <label for="search" class="visually-hidden">Search Peepol.tv</label>
	    <div class="input-prepend input-append">
	  		<span class="add-on"><i class="icon-search"></i></span>
				<input type="search" name="search" placeholder="search livestreams, #channels...">
				<input class="btn hidden-phone" type="submit" value="Search">
	    </div><!-- /.input-prepend -->
	  </form>
  </div><!-- /.row-fluid -->
</div><!-- /.action-right -->
