<div class="span12">
  <div class="row-fluid">
    <div class="action-left span5">
      <a ui-sref="user({userName: user.username})" class="user-avatar pull-left" title="click to view your profile">
		    <img ng-src="{{ user.photo || (user.email | gravatar:120:'/images/profile-default.svg')}}" alt="your avatar"/>
			</a>
      <ul class="action-list pull-left inline" ng-show="stream.archivedUrl">
        <li>
        <a href="{{stream.archivedUrl}}" role="button" title="Download" target="_self"><span class="visually-hidden">Download</span></a>
        </li>
      </ul>
      <ul class="social-list inline pull-left clearfix">
        <li><a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{url}}&p[images][0]={{stream.thumbs.medium}}&p[title]={{shareTextEnconded}}" target="_blank" title="click to share via facebook"><span class="visually-hidden">Facebook</span></a></li>
        <li><a href="https://twitter.com/intent/tweet?via=peepoltv&url={{url}}&text={{shareTextEnconded}}" target="_blank" title="click to share via twitter"><span class="visually-hidden">Twitter</span></a></li>
        <li><a href="https://plus.google.com/share?url={{url}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="click to share via google plus"><span class="visually-hidden">Google Plus</span></a></li>
		  </ul>
    </div><!-- /.action-left -->
  </div><!-- /.row-fluid -->
</div><!-- /.span12 -->
