<div class="span12">
    <a ui-sref="user({userName: user.username})" class="user-avatar pull-left" title="click to view your profile">
	    <img ng-src="{{ user.getProfilePic() || (user.email | gravatar:120:'/images/profile-default.svg')}}" alt="your avatar"/>
		</a>
    <ul class="action-list pull-left inline">
      <li ng-show="stream.archivedUrl">
        <a href="{{stream.archivedUrl}}" role="button" title="Download" target="_self">
          <span class="visually-hidden">Download</span>
        </a>
      </li>
      <li>
        <a href="#" role="button" title="Hoof" target="_self" ng-click="like()" ng-class="{liked: liked()}">
          <span class="visually-hidden">Like this video</span>
        </a>
      </li>
<!-- this button triggers/expands a text field w/keyboard popup if mobile -->
      <li>
        <a href="#" role="button" title="Comment" target="_self">
          <span class="visually-hidden">Comment on this video</span>
        </a>
      </li>
    </ul>
    <ul class="social-list inline pull-left">
      <li><a href="//www.facebook.com/sharer/sharer.php?s=100&p[url]={{url}}&p[images][0]={{stream.thumbs.medium}}&p[title]={{shareTextEnconded}}" target="_blank" title="click to share via facebook"><span class="visually-hidden">Facebook</span></a></li>
      <li><a href="//twitter.com/intent/tweet?via=peepoltv&url={{url}}&text={{shareTextEnconded}}" target="_blank" title="click to share via twitter"><span class="visually-hidden">Twitter</span></a></li>
      <li><a href="//plus.google.com/share?url={{url}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="click to share via google plus"><span class="visually-hidden">Google Plus</span></a></li>
	  </ul>
</div><!-- /.span12 -->
